/*CLEVERCSS */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto:300,400,500");
body {
  margin: 0;
  background-color: #e8e8e8;
  font-family: "Roboto", sans-serif; }

* {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-tap-highlight-color: transparent;
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #2f343f; }

p {
  color: #212121;
  font-family: "Roboto", sans-serif; }

/* NAV STYLES */
nav.navbarLight {
  background-color: #FFFFFF; }
  nav.navbarLight .navbarNav li {
    color: #2F343F; }
    nav.navbarLight .navbarNav li:hover {
      border-bottom: 2px solid #2F343F; }
    nav.navbarLight .navbarNav li:active {
      background-color: rgba(0, 0, 0, 0.05); }
    nav.navbarLight .navbarNav li a {
      color: #2F343F; }
  nav.navbarLight #drawerOpen {
    border: 10px solid #FFFFFF; }
    nav.navbarLight #drawerOpen:hover {
      background-color: rgba(0, 0, 0, 0.05); }
    nav.navbarLight #drawerOpen:active {
      background-color: rgba(0, 0, 0, 0.1); }
    nav.navbarLight #drawerOpen i {
      color: #2F343F; }

nav.navbarDark {
  background-color: #2F343F; }
  nav.navbarDark .navbarNav li {
    color: #FFFFFF; }
    nav.navbarDark .navbarNav li:hover {
      border-bottom: 2px solid #FFFFFF; }
    nav.navbarDark .navbarNav li:active {
      background-color: rgba(255, 255, 255, 0.05); }
    nav.navbarDark .navbarNav li a {
      color: #FFFFFF; }
  nav.navbarDark #drawerOpen {
    border: 10px solid #2F343F; }
    nav.navbarDark #drawerOpen:hover {
      background-color: rgba(255, 255, 255, 0.05); }
    nav.navbarDark #drawerOpen:active {
      background-color: rgba(255, 255, 255, 0.1); }
    nav.navbarDark #drawerOpen i {
      color: #FFFFFF; }

nav.navbarTall {
  width: 100%;
  height: 120px; }
  nav.navbarTall .navbarNav.navbarLeft, nav.navbarTall .navbarNav.navbarRight {
    float: none;
    position: absolute;
    bottom: 0; }
  nav.navbarTall .navbarNav.navbarLeft {
    left: 0; }
  nav.navbarTall .navbarNav.navbarRight {
    right: 0; }

nav.navbarShort {
  width: 100%;
  height: 60px; }

nav.navbar {
  z-index: 10;
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  nav.navbar .navbarNav {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative; }
    nav.navbar .navbarNav li {
      transition: all 0.2s;
      float: left;
      cursor: pointer;
      background-color: transparent;
      padding: 20px;
      height: 60px;
      border-bottom: 2px solid transparent; }
      nav.navbar .navbarNav li a {
        background-color: transparent;
        font-size: 20px;
        text-decoration: none; }
  nav.navbar .navbarNav.navbarLeft {
    float: left; }
  nav.navbar .navbarNav.navbarRight {
    float: right; }
  nav.navbar #drawerOpen {
    cursor: pointer;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: transparent; }
    nav.navbar #drawerOpen i {
      position: absolute;
      top: calc(50% - 12px);
      left: calc(50% - 12px); }
  nav.navbar #drawerOpen.drawerButtonLeft {
    float: left; }
  nav.navbar #drawerOpen.drawerButtonRight {
    float: right; }
  nav.navbar #drawerOpen.mobileOnly {
    display: none; }

@media only screen and (max-width: 768px) {
  nav.navbarLight .navbarNav:hover {
    background-color: transparent; }
  nav.navbarLight .navbarNav:active {
    background-color: rgba(0, 0, 0, 0.05); }
  nav.navbarLight #drawerOpen:hover {
    background-color: transparent; }
  nav.navbarLight #drawerOpen:active {
    background-color: rgba(0, 0, 0, 0.05); }

  nav.navbarDark .navbarNav li:hover {
    background-color: transparent; }
  nav.navbarDark .navbarNav li:active {
    background-color: rgba(255, 255, 255, 0.05); }
  nav.navbarDark #drawerOpen:hover {
    background-color: transparent; }
  nav.navbarDark #drawerOpen:active {
    background-color: rgba(255, 255, 255, 0.05); }

  nav.navbarTall {
    height: 112px; }

  nav.navbarShort {
    height: 56px; }

  nav.navbar .navbarNav li {
    height: 56px;
    padding: 18px;
    display: none;
    border-bottom: none; }
    nav.navbar .navbarNav li:hover {
      border-bottom: none; }
    nav.navbar .navbarNav li a {
      font-size: 18px; }
  nav.navbar .navbarNav .brandItem {
    display: block; }
  nav.navbar .navbarNav.navbarLeft {
    float: right; }
  nav.navbar .navbarNav.navbarRight {
    float: right; }
  nav.navbar #drawerOpen {
    width: 56px;
    height: 56px;
    border-radius: 56px; }
  nav.navbar #drawerOpen.mobileOnly {
    display: block; } }
/* DRAWER STYLES */
.drawer {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 15; }
  .drawer .drawerContent {
    position: absolute;
    top: 0;
    width: 320px;
    height: 100%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 16px 32px 0 rgba(0, 0, 0, 0.2), 0 32px 64px 0 rgba(0, 0, 0, 0.2); }
    .drawer .drawerContent .drawerHeader {
      position: relative;
      width: 100%;
      height: 60px; }
      .drawer .drawerContent .drawerHeader #drawerClose {
        cursor: pointer;
        position: absolute;
        top: 0;
        width: 60px;
        height: 60px;
        border-radius: 60px;
        background-color: transparent; }
        .drawer .drawerContent .drawerHeader #drawerClose i {
          position: absolute;
          top: calc(50% - 12px);
          left: calc(50% - 12px); }
    .drawer .drawerContent .drawerHeader.drawerLight {
      background-color: #FFFFFF; }
      .drawer .drawerContent .drawerHeader.drawerLight #drawerClose {
        border: 10px solid #FFFFFF; }
        .drawer .drawerContent .drawerHeader.drawerLight #drawerClose:hover {
          background-color: rgba(0, 0, 0, 0.05); }
        .drawer .drawerContent .drawerHeader.drawerLight #drawerClose:active {
          background-color: rgba(0, 0, 0, 0.1); }
        .drawer .drawerContent .drawerHeader.drawerLight #drawerClose i {
          color: #2F343F; }
    .drawer .drawerContent .drawerHeader.drawerDark {
      background-color: #2F343F; }
      .drawer .drawerContent .drawerHeader.drawerDark #drawerClose {
        border: 10px solid #2F343F; }
        .drawer .drawerContent .drawerHeader.drawerDark #drawerClose:hover {
          background-color: rgba(255, 255, 255, 0.05); }
        .drawer .drawerContent .drawerHeader.drawerDark #drawerClose:active {
          background-color: rgba(255, 255, 255, 0.1); }
        .drawer .drawerContent .drawerHeader.drawerDark #drawerClose i {
          color: #FFFFFF; }
  .drawer .drawerContent.drawerLight {
    background-color: #FFFFFF; }
  .drawer .drawerContent.drawerDark {
    background-color: #2F343F; }

.drawer.drawerLeft {
  left: 0;
  transform: translateX(-100%); }
  .drawer.drawerLeft .drawerContent {
    left: 0; }
    .drawer.drawerLeft .drawerContent .drawerHeader #drawerClose {
      left: 0; }
      .drawer.drawerLeft .drawerContent .drawerHeader #drawerClose i {
        transform: none; }

.drawer.drawerLeft.drawerAnimateOpen {
  animation: drawerAnimateOpenLeft 0.3s forwards; }
  .drawer.drawerLeft.drawerAnimateOpen .drawerContent {
    animation: drawerContentAnimateOpenLeft 0.3s forwards; }

.drawer.drawerLeft.drawerAnimateClose {
  animation: drawerAnimateCloseLeft 0.3s forwards; }
  .drawer.drawerLeft.drawerAnimateClose .drawerContent {
    animation: drawerContentAnimateCloseLeft 0.3s forwards; }

.drawer.drawerRight {
  right: 0;
  transform: translateX(100%); }
  .drawer.drawerRight .drawerContent {
    right: 0; }
    .drawer.drawerRight .drawerContent .drawerHeader #drawerClose {
      right: 0; }
      .drawer.drawerRight .drawerContent .drawerHeader #drawerClose i {
        transform: rotate(180deg); }

.drawer.drawerRight.drawerAnimateOpen {
  animation: drawerAnimateOpenRight 0.3s forwards; }
  .drawer.drawerRight.drawerAnimateOpen .drawerContent {
    animation: drawerContentAnimateOpenRight 0.3s forwards; }

.drawer.drawerRight.drawerAnimateClose {
  animation: drawerAnimateCloseRight 0.3s forwards; }
  .drawer.drawerRight.drawerAnimateClose .drawerContent {
    animation: drawerContentAnimateCloseRight 0.3s forwards; }

@keyframes drawerAnimateOpenLeft {
  0% {
    transform: translateX(-100%);
    background-color: transparent; }
  1% {
    transform: translateX(0);
    background-color: transparent; }
  100% {
    transform: translateX(0);
    background-color: rgba(0, 0, 0, 0.4); } }
@keyframes drawerContentAnimateOpenLeft {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }
@keyframes drawerAnimateCloseLeft {
  0% {
    transform: translateX(0);
    background-color: rgba(0, 0, 0, 0.4); }
  99% {
    transform: translateX(0);
    background-color: transparent; }
  100% {
    transform: translateX(-100%);
    background-color: transparent; } }
@keyframes drawerContentAnimateCloseLeft {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }
@keyframes drawerAnimateOpenRight {
  0% {
    transform: translateX(100%);
    background-color: transparent; }
  1% {
    transform: translateX(0);
    background-color: transparent; }
  100% {
    transform: translateX(0);
    background-color: rgba(0, 0, 0, 0.4); } }
@keyframes drawerContentAnimateOpenRight {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }
@keyframes drawerAnimateCloseRight {
  0% {
    transform: translateX(0);
    background-color: rgba(0, 0, 0, 0.4); }
  99% {
    transform: translateX(0);
    background-color: transparent; }
  100% {
    transform: translateX(100%);
    background-color: transparent; } }
@keyframes drawerContentAnimateCloseRight {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(100%); } }
@media only screen and (max-width: 480px) {
  .drawer.drawerContent {
    width: 80vw; } }
/*HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/*WRAPPERS */
.wrapperL {
  width: 1200px;
  margin: auto; }

.wrapperM {
  width: 768px;
  margin: auto; }

.wrapperS {
  width: 480px;
  margin: auto; }

.wrapperXS {
  width: 320px;
  margin: auto; }

@media only screen and (max-width: 1200px) {
  .wrapperL {
    width: 100%; } }
@media only screen and (max-width: 768px) {
  .wrapperM {
    width: 100%; } }
@media only screen and (max-width: 480px) {
  .wrapperS {
    width: 100%; } }
@media only screen and (max-width: 320px) {
  .wrapperXS {
    width: 100%; } }
/*ARTICLES */
.articleCardLight {
  background-color: white; }

.articleCardDark {
  background-color: #2F343F; }

.articleCardLight, .articleCardDark {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px; }
  .articleCardLight p, .articleCardDark p {
    padding: 0 0 0 12px; }
  .articleCardLight .headerDark, .articleCardDark .headerDark {
    background-color: #2F343F; }
    .articleCardLight .headerDark h1, .articleCardLight .headerDark h2, .articleCardLight .headerDark h3, .articleCardLight .headerDark h4, .articleCardLight .headerDark h5, .articleCardLight .headerDark h6, .articleCardDark .headerDark h1, .articleCardDark .headerDark h2, .articleCardDark .headerDark h3, .articleCardDark .headerDark h4, .articleCardDark .headerDark h5, .articleCardDark .headerDark h6 {
      color: white; }
    .articleCardLight .headerDark p, .articleCardDark .headerDark p {
      color: #B0B9C6; }
  .articleCardLight .headerLight, .articleCardDark .headerLight {
    background-color: white; }
    .articleCardLight .headerLight h1, .articleCardLight .headerLight h2, .articleCardLight .headerLight h3, .articleCardLight .headerLight h4, .articleCardLight .headerLight h5, .articleCardLight .headerLight h6, .articleCardDark .headerLight h1, .articleCardDark .headerLight h2, .articleCardDark .headerLight h3, .articleCardDark .headerLight h4, .articleCardDark .headerLight h5, .articleCardDark .headerLight h6 {
      color: #2F343F; }
    .articleCardLight .headerLight p, .articleCardDark .headerLight p {
      color: #B0B9C6; }
  .articleCardLight .headerLight, .articleCardLight .headerDark, .articleCardDark .headerLight, .articleCardDark .headerDark {
    min-height: 56px;
    border-radius: 2px 2px 0 0; }
    .articleCardLight .headerLight h1, .articleCardLight .headerLight h2, .articleCardLight .headerLight h3, .articleCardLight .headerLight h4, .articleCardLight .headerLight h5, .articleCardLight .headerLight h6, .articleCardLight .headerDark h1, .articleCardLight .headerDark h2, .articleCardLight .headerDark h3, .articleCardLight .headerDark h4, .articleCardLight .headerDark h5, .articleCardLight .headerDark h6, .articleCardDark .headerLight h1, .articleCardDark .headerLight h2, .articleCardDark .headerLight h3, .articleCardDark .headerLight h4, .articleCardDark .headerLight h5, .articleCardDark .headerLight h6, .articleCardDark .headerDark h1, .articleCardDark .headerDark h2, .articleCardDark .headerDark h3, .articleCardDark .headerDark h4, .articleCardDark .headerDark h5, .articleCardDark .headerDark h6 {
      margin: 0;
      padding: 12px 0 6px 12px;
      font-weight: 400; }
    .articleCardLight .headerLight p, .articleCardLight .headerDark p, .articleCardDark .headerLight p, .articleCardDark .headerDark p {
      font-weight: 400;
      margin: 0;
      padding: 0 0 12px 12px; }
    .articleCardLight .headerLight .dropdownSmallDark, .articleCardLight .headerLight .dropdownSmallLight, .articleCardLight .headerDark .dropdownSmallDark, .articleCardLight .headerDark .dropdownSmallLight, .articleCardDark .headerLight .dropdownSmallDark, .articleCardDark .headerLight .dropdownSmallLight, .articleCardDark .headerDark .dropdownSmallDark, .articleCardDark .headerDark .dropdownSmallLight {
      float: right; }
      .articleCardLight .headerLight .dropdownSmallDark .dropdownContent, .articleCardLight .headerLight .dropdownSmallLight .dropdownContent, .articleCardLight .headerDark .dropdownSmallDark .dropdownContent, .articleCardLight .headerDark .dropdownSmallLight .dropdownContent, .articleCardDark .headerLight .dropdownSmallDark .dropdownContent, .articleCardDark .headerLight .dropdownSmallLight .dropdownContent, .articleCardDark .headerDark .dropdownSmallDark .dropdownContent, .articleCardDark .headerDark .dropdownSmallLight .dropdownContent {
        right: 0;
        left: auto;
        transform-origin: right; }
  .articleCardLight .footerDark, .articleCardDark .footerDark {
    background-color: #2F343F; }
    .articleCardLight .footerDark .buttonFlat:hover, .articleCardDark .footerDark .buttonFlat:hover {
      background-color: rgba(255, 255, 255, 0.1); }
    .articleCardLight .footerDark .buttonFlat:active, .articleCardDark .footerDark .buttonFlat:active {
      background-color: rgba(255, 255, 255, 0.2); }
  .articleCardLight .footerLight, .articleCardDark .footerLight {
    background-color: white; }
  .articleCardLight .footerLight, .articleCardLight .footerDark, .articleCardDark .footerLight, .articleCardDark .footerDark {
    padding: 14px;
    border-radius: 0 0 2px 2px;
    min-height: 56px;
    position: relative; }
    .articleCardLight .footerLight .footerComment, .articleCardLight .footerDark .footerComment, .articleCardDark .footerLight .footerComment, .articleCardDark .footerDark .footerComment {
      font-size: 18;
      margin: 0;
      position: relative;
      width: 480px; }
    .articleCardLight .footerLight .buttonFlat, .articleCardLight .footerLight .buttonRaised, .articleCardLight .footerDark .buttonFlat, .articleCardLight .footerDark .buttonRaised, .articleCardDark .footerLight .buttonFlat, .articleCardDark .footerLight .buttonRaised, .articleCardDark .footerDark .buttonFlat, .articleCardDark .footerDark .buttonRaised {
      float: right;
      height: 28px;
      padding: 0 6px;
      margin: 0 0 0 6px;
      top: 0; }

@media only screen and (max-width: 768px) {
  .articleCardDark .footerDark .footerComment, .articleCardDark .footerLight .footerComment, .articleCardLight .footerDark .footerComment, .articleCardLight .footerLight .footerComment {
    width: 320px; } }
/*FOOTER */
.footerMainDark {
  margin-top: 10vh;
  padding: 1em;
  background-color: #2F343F;
  color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2); }
  .footerMainDark a {
    color: rgba(255, 255, 255, 0.2); }

@media only screen and (max-width: 480px) {
  .footerMainDark {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.2); }
    .footerMainDark a {
      color: rgba(255, 255, 255, 0.2); } }
/* FORMS */
.formBasic {
  width: 480px;
  margin: auto;
  padding: 12px; }
  .formBasic .formGroup .inputInvalid {
    background-color: rgba(0, 0, 0, 0.05); }
  .formBasic .formGroup .inputValid {
    background-color: none; }
  .formBasic .buttonInput {
    background-color: #5294E2;
    color: white;
    padding: 0 12px;
    border: 0;
    cursor: pointer;
    position: absolute;
    bottom: 12px;
    right: 12px;
    font-size: 18px;
    border-radius: 2px;
    height: 50px;
    margin-top: 3px;
    margin-bottom: 0px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    vertical-align: middle; }
    .formBasic .buttonInput:hover {
      transition: all 0.1s;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
      margin-top: 0px;
      margin-bottom: 3px; }
    .formBasic .buttonInput:active {
      background-color: #669FE5; }
    .formBasic .buttonInput i {
      transform: translateY(25%); }

@media only screen and (max-width: 480px) {
  .formBasic {
    width: 100%;
    position: relative; }
    .formBasic .buttonInput {
      position: fixed;
      bottom: 112px;
      right: 28px;
      width: 56px;
      height: 56px;
      border-radius: 56px;
      -webkit-user-select: none; }
      .formBasic .buttonInput .buttonText {
        display: none; }
      .formBasic .buttonInput i {
        transform: translateY(12.5%); }
      .formBasic .buttonInput:hover {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        margin-top: 3px;
        margin-bottom: 0px; }
      .formBasic .buttonInput:active {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
        margin-top: 0px;
        margin-bottom: 3px; } }
input, select, textarea {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box; }

body * {
  box-sizing: border-box; }
body::after, body::before {
  box-sizing: border-box; }

input::after, input::before {
  box-sizing: border-box; }

select::after, select::before {
  box-sizing: border-box; }

textarea::after, textarea::before {
  box-sizing: border-box; }

body *::after, body *::before {
  box-sizing: border-box; }

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0 0 2em; }

.container {
  position: relative;
  max-width: 40rem;
  margin: 5rem auto;
  background: #fff;
  width: 100%;
  padding: 3rem 5rem 0;
  border-radius: 1px; }
  .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    transform: scale(0.98);
    transition: transform 0.28s ease-in-out;
    z-index: -1; }
  .container:hover::before {
    transform: scale(1); }

fieldset {
  margin: 0 0 3rem;
  padding: 0;
  border: none; }

.formRadio, .formGroup {
  position: relative;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem; }

.formInline > .formGroup, .formInline > .btn {
  display: inline-block;
  margin-bottom: 0; }

.formHelp {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  color: #b3b3b3;
  font-size: 0.8rem; }

.checkbox .formHelp, .formRadio .formHelp, .formGroup .formHelp {
  position: absolute;
  width: 100%; }

.checkbox .formHelp {
  position: relative;
  margin-bottom: 1rem; }

.formRadio .formHelp {
  padding-top: 0.25rem;
  margin-top: -1rem; }

.formGroup input {
  height: 1.9rem; }
.formGroup textarea {
  resize: none; }
.formGroup select {
  width: 100%;
  font-size: 1rem;
  height: 1.6rem;
  padding: 0.125rem 0.125rem 0.0625rem;
  background: none;
  border: none;
  line-height: 1.6;
  box-shadow: none; }
.formGroup .controlLabel {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 1rem;
  font-weight: normal;
  transition: all 0.28s ease; }
.formGroup .bar {
  position: relative;
  border-bottom: 0.0625rem solid #999;
  display: block; }
  .formGroup .bar::before {
    content: "";
    height: 0.125rem;
    width: 0;
    left: 50%;
    bottom: -0.0625rem;
    position: absolute;
    background: #5294E2;
    transition: left 0.28s ease, width 0.28s ease;
    z-index: 2; }
.formGroup input, .formGroup textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  transition: all 0.28s ease;
  box-shadow: none; }
.formGroup input[type="file"] {
  line-height: 1; }
  .formGroup input[type="file"] ~ .bar {
    display: none; }
.formGroup select {
  color: #333; }
.formGroup input:focus, .formGroup input:valid, .formGroup input.form-file, .formGroup input.has-value {
  color: #333; }
.formGroup textarea:focus, .formGroup textarea:valid, .formGroup textarea.form-file, .formGroup textarea.has-value {
  color: #333; }
.formGroup select ~ .controlLabel {
  font-size: 0.8rem;
  color: gray;
  top: -1rem;
  left: 0; }
.formGroup input:focus ~ .controlLabel, .formGroup input:valid ~ .controlLabel, .formGroup input.form-file ~ .controlLabel, .formGroup input.has-value ~ .controlLabel {
  font-size: 0.8rem;
  color: gray;
  top: -1rem;
  left: 0; }
.formGroup textarea:focus ~ .controlLabel, .formGroup textarea:valid ~ .controlLabel, .formGroup textarea.form-file ~ .controlLabel, .formGroup textarea.has-value ~ .controlLabel {
  font-size: 0.8rem;
  color: gray;
  top: -1rem;
  left: 0; }
.formGroup select:focus, .formGroup input:focus, .formGroup textarea:focus {
  outline: none; }
.formGroup select:focus ~ .controlLabel, .formGroup input:focus ~ .controlLabel, .formGroup textarea:focus ~ .controlLabel {
  color: #5294E2; }
.formGroup select:focus ~ .bar::before, .formGroup input:focus ~ .bar::before, .formGroup textarea:focus ~ .bar::before {
  width: 100%;
  left: 0; }

.checkbox label, .formRadio label {
  position: relative;
  cursor: pointer;
  padding-left: 2rem;
  text-align: left;
  color: #333;
  display: block; }

.checkbox input, .formRadio input {
  width: auto;
  opacity: 0;
  position: absolute;
  left: 0; }

.radio {
  margin-bottom: 1rem; }
  .radio .helper {
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    user-select: none;
    color: #999; }
    .radio .helper::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      margin: 0.25rem;
      width: 1rem;
      height: 1rem;
      transition: transform 0.28s ease;
      border-radius: 50%;
      border: 0.125rem solid currentColor; }
    .radio .helper::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      margin: 0.25rem;
      width: 1rem;
      height: 1rem;
      transition: transform 0.28s ease;
      border-radius: 50%;
      border: 0.125rem solid currentColor;
      transform: scale(0);
      background-color: #5294E2;
      border-color: #5294E2; }
  .radio label:hover .helper {
    color: #5294E2; }
  .radio input:checked ~ .helper::after {
    transform: scale(0.5); }
  .radio input:checked ~ .helper::before {
    color: #5294E2; }

.checkbox {
  margin-top: 3rem;
  margin-bottom: 1rem; }
  .checkbox .helper {
    color: #999;
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    z-index: 0;
    border: 0.125rem solid currentColor;
    border-radius: 0.0625rem;
    transition: border-color 0.28s ease; }
    .checkbox .helper::before, .checkbox .helper::after {
      position: absolute;
      height: 0;
      width: 0.2rem;
      background-color: #5294E2;
      display: block;
      transform-origin: left top;
      border-radius: 0.25rem;
      content: "";
      transition: opacity 0.28s ease, height 0s linear 0.28s;
      opacity: 0; }
    .checkbox .helper::before {
      top: 0.65rem;
      left: 0.38rem;
      transform: rotate(-135deg);
      box-shadow: 0 0 0 0.0625rem #fff; }
    .checkbox .helper::after {
      top: 0.3rem;
      left: 0;
      transform: rotate(-45deg); }
  .checkbox label:hover .helper {
    color: #5294E2; }
  .checkbox input:checked ~ .helper {
    color: #5294E2; }
    .checkbox input:checked ~ .helper::after, .checkbox input:checked ~ .helper::before {
      opacity: 1;
      transition: height 0.28s ease; }
    .checkbox input:checked ~ .helper::after {
      height: 0.5rem; }
    .checkbox input:checked ~ .helper::before {
      height: 1.2rem;
      transition-delay: 0.28s; }

.radio + .radio, .checkbox + .checkbox {
  margin-top: 1rem; }

.hasError .legend.legend {
  color: #cc575d; }
.hasError.formGroup .controlLabel.controlLabel, .hasError.formGroup .formHelp, .hasError.formGroup .helper {
  color: #cc575d; }
.hasError.checkbox .formHelp, .hasError.checkbox .helper {
  color: #cc575d; }
.hasError.radio .formHelp, .hasError.radio .helper {
  color: #cc575d; }
.hasError.formRadio .formHelp, .hasError.formRadio .helper {
  color: #cc575d; }
.hasError .bar::before {
  background: #cc575d;
  left: 0;
  width: 100%; }

/*MODAL STYLES */
.modal {
  z-index: 12;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none; }

.modalActive {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: modalAnimateOpen 0.3s forwards;
  -webkit-animation: modalAnimateOpen 0.3s forwards;
  -moz-animation: modalAnimateOpen 0.3s forwards; }
  .modalActive .modalContentLight {
    background-color: white;
    color: #2F343F; }
  .modalActive .modalContentDark {
    background-color: #2F343F;
    color: white; }
  .modalActive .modalContentLight, .modalActive .modalContentDark {
    animation: modalContentAnimateOpen 0.3s forwards;
    -webkit-animation: modalContentAnimateOpen 0.3s forwards;
    -moz-animation: modalContentAnimateOpen 0.3s forwards;
    width: 480px;
    height: 480px;
    display: block;
    position: relative;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    overflow: hidden; }
    .modalActive .modalContentLight .modalImage, .modalActive .modalContentDark .modalImage {
      width: 100%;
      height: auto; }
    .modalActive .modalContentLight .modalHeaderLight, .modalActive .modalContentDark .modalHeaderLight {
      background-color: white; }
      .modalActive .modalContentLight .modalHeaderLight h1, .modalActive .modalContentLight .modalHeaderLight h2, .modalActive .modalContentLight .modalHeaderLight h3, .modalActive .modalContentLight .modalHeaderLight h4, .modalActive .modalContentLight .modalHeaderLight h5, .modalActive .modalContentLight .modalHeaderLight h6, .modalActive .modalContentDark .modalHeaderLight h1, .modalActive .modalContentDark .modalHeaderLight h2, .modalActive .modalContentDark .modalHeaderLight h3, .modalActive .modalContentDark .modalHeaderLight h4, .modalActive .modalContentDark .modalHeaderLight h5, .modalActive .modalContentDark .modalHeaderLight h6 {
        color: #2F343F; }
    .modalActive .modalContentLight .modalHeaderDark, .modalActive .modalContentDark .modalHeaderDark {
      background-color: #2F343F; }
      .modalActive .modalContentLight .modalHeaderDark h1, .modalActive .modalContentLight .modalHeaderDark h2, .modalActive .modalContentLight .modalHeaderDark h3, .modalActive .modalContentLight .modalHeaderDark h4, .modalActive .modalContentLight .modalHeaderDark h5, .modalActive .modalContentLight .modalHeaderDark h6, .modalActive .modalContentDark .modalHeaderDark h1, .modalActive .modalContentDark .modalHeaderDark h2, .modalActive .modalContentDark .modalHeaderDark h3, .modalActive .modalContentDark .modalHeaderDark h4, .modalActive .modalContentDark .modalHeaderDark h5, .modalActive .modalContentDark .modalHeaderDark h6 {
        color: white; }
    .modalActive .modalContentLight .modalHeaderLight, .modalActive .modalContentLight .modalHeaderDark, .modalActive .modalContentDark .modalHeaderLight, .modalActive .modalContentDark .modalHeaderDark {
      position: relative;
      min-height: 56px;
      border-radius: 2px 2px 0 0; }
      .modalActive .modalContentLight .modalHeaderLight h1, .modalActive .modalContentLight .modalHeaderLight h2, .modalActive .modalContentLight .modalHeaderLight h3, .modalActive .modalContentLight .modalHeaderLight h4, .modalActive .modalContentLight .modalHeaderLight h5, .modalActive .modalContentLight .modalHeaderLight h6, .modalActive .modalContentLight .modalHeaderDark h1, .modalActive .modalContentLight .modalHeaderDark h2, .modalActive .modalContentLight .modalHeaderDark h3, .modalActive .modalContentLight .modalHeaderDark h4, .modalActive .modalContentLight .modalHeaderDark h5, .modalActive .modalContentLight .modalHeaderDark h6, .modalActive .modalContentDark .modalHeaderLight h1, .modalActive .modalContentDark .modalHeaderLight h2, .modalActive .modalContentDark .modalHeaderLight h3, .modalActive .modalContentDark .modalHeaderLight h4, .modalActive .modalContentDark .modalHeaderLight h5, .modalActive .modalContentDark .modalHeaderLight h6, .modalActive .modalContentDark .modalHeaderDark h1, .modalActive .modalContentDark .modalHeaderDark h2, .modalActive .modalContentDark .modalHeaderDark h3, .modalActive .modalContentDark .modalHeaderDark h4, .modalActive .modalContentDark .modalHeaderDark h5, .modalActive .modalContentDark .modalHeaderDark h6 {
        margin: 0;
        padding: 12px 0 6px 12px; }
      .modalActive .modalContentLight .modalHeaderLight p, .modalActive .modalContentLight .modalHeaderDark p, .modalActive .modalContentDark .modalHeaderLight p, .modalActive .modalContentDark .modalHeaderDark p {
        color: #B0B9C6;
        margin: 0;
        padding: 6px 0 12px 12px; }
      .modalActive .modalContentLight .modalHeaderLight .dropdownSmallLight, .modalActive .modalContentLight .modalHeaderLight .dropdownSmallDark, .modalActive .modalContentLight .modalHeaderDark .dropdownSmallLight, .modalActive .modalContentLight .modalHeaderDark .dropdownSmallDark, .modalActive .modalContentDark .modalHeaderLight .dropdownSmallLight, .modalActive .modalContentDark .modalHeaderLight .dropdownSmallDark, .modalActive .modalContentDark .modalHeaderDark .dropdownSmallLight, .modalActive .modalContentDark .modalHeaderDark .dropdownSmallDark {
        position: absolute;
        right: 0;
        top: 0; }
        .modalActive .modalContentLight .modalHeaderLight .dropdownSmallLight .dropdownContent, .modalActive .modalContentLight .modalHeaderLight .dropdownSmallDark .dropdownContent, .modalActive .modalContentLight .modalHeaderDark .dropdownSmallLight .dropdownContent, .modalActive .modalContentLight .modalHeaderDark .dropdownSmallDark .dropdownContent, .modalActive .modalContentDark .modalHeaderLight .dropdownSmallLight .dropdownContent, .modalActive .modalContentDark .modalHeaderLight .dropdownSmallDark .dropdownContent, .modalActive .modalContentDark .modalHeaderDark .dropdownSmallLight .dropdownContent, .modalActive .modalContentDark .modalHeaderDark .dropdownSmallDark .dropdownContent {
          right: 0;
          left: auto; }
    .modalActive .modalContentLight .modalFooterLight, .modalActive .modalContentDark .modalFooterLight {
      background-color: white;
      color: #2F343F; }
    .modalActive .modalContentLight .modalFooterDark, .modalActive .modalContentDark .modalFooterDark {
      background-color: #2F343F;
      color: white; }
      .modalActive .modalContentLight .modalFooterDark .buttonFlat:hover, .modalActive .modalContentDark .modalFooterDark .buttonFlat:hover {
        background-color: rgba(255, 255, 255, 0.1); }
      .modalActive .modalContentLight .modalFooterDark .buttonFlat:active, .modalActive .modalContentDark .modalFooterDark .buttonFlat:active {
        background-color: rgba(255, 255, 255, 0.2); }
    .modalActive .modalContentLight .modalFooterLight, .modalActive .modalContentLight .modalFooterDark, .modalActive .modalContentDark .modalFooterLight, .modalActive .modalContentDark .modalFooterDark {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      min-height: 56px;
      padding: 14px;
      border-radius: 0 0 2px 2px; }
      .modalActive .modalContentLight .modalFooterLight .buttonFlat, .modalActive .modalContentLight .modalFooterLight .buttonRaised, .modalActive .modalContentLight .modalFooterDark .buttonFlat, .modalActive .modalContentLight .modalFooterDark .buttonRaised, .modalActive .modalContentDark .modalFooterLight .buttonFlat, .modalActive .modalContentDark .modalFooterLight .buttonRaised, .modalActive .modalContentDark .modalFooterDark .buttonFlat, .modalActive .modalContentDark .modalFooterDark .buttonRaised {
        float: right;
        height: 28px;
        padding: 0 6px;
        margin: 0 0 0 6px; }

@media only screen and (max-width: 480px) {
  .modalActive .modalContentLight, .modalActive .modalContentDark {
    width: 320px;
    min-height: 320px; } }
@media only screen and (max-width: 320px) {
  .modalActive .modalContentLight, .modalActive .modalContentDark {
    width: 100%;
    min-height: 50%; } }
@keyframes modalAnimateOpen {
  0% {
    background-color: transparent; }
  100% {
    background-color: rgba(0, 0, 0, 0.4); } }
@keyframes modalContentAnimateOpen {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
/*BUTTONS */
button::-moz-focus-inner {
  border: 0; }

button {
  user-select: none;
  -webkit-user-select: none; }

.buttonActionFloating {
  position: fixed;
  bottom: 28px;
  right: 28px;
  width: 56px;
  height: 56px;
  border-radius: 56px;
  border: 0;
  background-color: #5294E2;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 12px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
  z-index: 12; }
  .buttonActionFloating:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 12px 24px 0 rgba(0, 0, 0, 0.4); }
  .buttonActionFloating:active {
    background-color: #669FE5; }

/* FLAT BUTTON */
.buttonFlat {
  border-radius: 2px;
  cursor: pointer;
  border: 0;
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
  padding: 0.5em 0.7em;
  margin: 0.2em 0.2em;
  color: #5294E2;
  background-color: transparent; }
  .buttonFlat:hover {
    background-color: rgba(0, 0, 0, 0.05); }
  .buttonFlat:active {
    background-color: rgba(0, 0, 0, 0.1); }

/* RAISED BUTTON */
.buttonRaised {
  border-radius: 2px;
  cursor: pointer;
  border: 0;
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
  padding: 0.5em 0.7em;
  margin: 0.2em 0.2em;
  color: white;
  background-color: #5294E2;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  .buttonRaised:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
  .buttonRaised:active {
    background-color: #669FE5; }

/* ACTION BUTTON */
.buttonAction {
  cursor: pointer;
  width: 56px;
  height: 56px;
  border-radius: 56px;
  border: 0;
  background-color: #5294E2;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  .buttonAction:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
  .buttonAction:active {
    background-color: #669FE5; }
  .buttonAction i {
    transform: scale(1) translateY(5%); }

.buttonFloatRight {
  float: right; }

/*DROPDOWN */
.dropdownSmallDark .buttonDropdownSmall:active {
  background-color: rgba(255, 255, 255, 0.1); }
.dropdownSmallDark .buttonDropdownSmall i {
  color: white; }

.dropdownSmallLight .buttonDropdownSmall:active {
  background-color: rgba(0, 0, 0, 0.05); }
.dropdownSmallLight .buttonDropdownSmall i {
  color: #B0B9C6; }

.dropdownSmallDark, .dropdownSmallLight {
  position: relative;
  display: block; }
  .dropdownSmallDark .buttonDropdownSmall, .dropdownSmallLight .buttonDropdownSmall {
    cursor: pointer;
    width: 56px;
    height: 56px;
    border: 0;
    border-radius: 56px;
    background-color: transparent; }
    .dropdownSmallDark .buttonDropdownSmall i, .dropdownSmallLight .buttonDropdownSmall i {
      transform: scale(1.2) translateY(10%); }
  .dropdownSmallDark .dropdownContent, .dropdownSmallLight .dropdownContent {
    position: absolute;
    z-index: 3;
    padding: 0;
    margin: 0;
    display: none;
    top: 56px;
    left: 0;
    width: 160px;
    height: auto;
    white-space: nowrap;
    background-color: #FEFEFE;
    list-style: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.2) 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
    .dropdownSmallDark .dropdownContent li, .dropdownSmallLight .dropdownContent li {
      cursor: pointer;
      font-family: "Open Sans", sans-serif;
      padding: 0.75em;
      color: #212121; }
      .dropdownSmallDark .dropdownContent li:hover, .dropdownSmallLight .dropdownContent li:hover {
        background-color: rgba(0, 0, 0, 0.04); }
      .dropdownSmallDark .dropdownContent li:active, .dropdownSmallLight .dropdownContent li:active {
        background-color: rgba(0, 0, 0, 0.1); }
  .dropdownSmallDark .dropdownSmallContentShow, .dropdownSmallLight .dropdownSmallContentShow {
    display: block;
    transform-origin: top;
    animation: dropdownSmallAnimate 0.3s forwards; }

@keyframes dropdownSmallAnimate {
  0% {
    transform: translateY(-20%) scale(0.8);
    opacity: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); }
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2); } }
.dropdownLargeDark .buttonDropdownLarge {
  color: #5294E2; }
.dropdownLargeDark .dropdownContent {
  background-color: #2F343F; }
  .dropdownLargeDark .dropdownContent li {
    color: white; }
    .dropdownLargeDark .dropdownContent li:hover {
      background-color: rgba(255, 255, 255, 0.1); }
    .dropdownLargeDark .dropdownContent li:active {
      background-color: rgba(255, 255, 255, 0.2); }

.dropdownLargeLight .buttonDropdownLarge {
  color: #5294E2; }
.dropdownLargeLight .dropdownContent {
  background-color: white; }
  .dropdownLargeLight .dropdownContent li:hover {
    background-color: rgba(0, 0, 0, 0.04); }
  .dropdownLargeLight .dropdownContent li:active {
    background-color: rgba(0, 0, 0, 0.1); }

.dropdownLargeDark, .dropdownLargeLight {
  position: relative;
  display: block; }
  .dropdownLargeDark .buttonDropdownLarge, .dropdownLargeLight .buttonDropdownLarge {
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    height: 56px;
    border: 0;
    font-size: 18px; }
  .dropdownLargeDark .dropdownContent, .dropdownLargeLight .dropdownContent {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    position: absolute;
    z-index: 3;
    top: 56px;
    left: 0;
    display: none; }
    .dropdownLargeDark .dropdownContent li, .dropdownLargeLight .dropdownContent li {
      cursor: pointer;
      font-size: 18px;
      padding: 8px;
      text-align: center;
      cursor: pointer; }
  .dropdownLargeDark .dropdownLargeContentShow, .dropdownLargeLight .dropdownLargeContentShow {
    display: block;
    transform-origin: top;
    animation: dropdownLargeShow 0.3s forwards; }
  .dropdownLargeDark .dropdownLargeContentHide, .dropdownLargeLight .dropdownLargeContentHide {
    display: block;
    transform-origin: top;
    animation: dropdownLargeHide 0.3s forwards; }

@keyframes dropdownLargeShow {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2); }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2); } }
@keyframes dropdownLargeHide {
  0% {
    opacity: 1;
    transform: rotateX(0deg);
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2); }
  100% {
    opacity: 0;
    transform: rotateX(90deg);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2); } }
@media only screen and (max-width: 768px) {
  .buttonActionFloating:hover {
    background-color: #5294E2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 12px 0 rgba(0, 0, 0, 0.4); }
  .buttonActionFloating:active {
    background-color: #669FE5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 12px 24px 0 rgba(0, 0, 0, 0.4); }

  .buttonFlat:hover {
    background-color: transparent; }
  .buttonFlat:active {
    background-color: rgba(0, 0, 0, 0.1); }

  .buttonRaised:hover {
    background-color: #5294E2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  .buttonRaised:active {
    background-color: #669FE5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

  .buttonAction:hover {
    background-color: #5294E2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  .buttonAction:active {
    transform: scale(1.025);
    background-color: #669FE5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

  .dropdownSmallLight .dropdownContent li:hover, .dropdownSmallDark .dropdownContent li:hover {
    background-color: transparent; }
  .dropdownSmallLight .dropdownContent li:active, .dropdownSmallDark .dropdownContent li:active {
    background-color: rgba(0, 0, 0, 0.1); } }
/* FLOATING ACTION BUTTON MENU */
.fabMenuContainer {
  position: fixed;
  bottom: 28px;
  right: 28px;
  z-index: 9; }
  .fabMenuContainer .fabMenuButton {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    width: 56px;
    height: 56px;
    border-radius: 56px;
    border: 0;
    background-color: #5294E2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 12px 0 rgba(0, 0, 0, 0.4); }
    .fabMenuContainer .fabMenuButton:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 12px 24px 0 rgba(0, 0, 0, 0.4); }
    .fabMenuContainer .fabMenuButton:active {
      background-color: #669FE5;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 12px 24px 0 rgba(0, 0, 0, 0.4); }
    .fabMenuContainer .fabMenuButton i {
      color: white;
      width: 28px;
      height: 28px;
      transform: translateY(2px); }
  .fabMenuContainer .fabMenuButtonActive {
    background-color: #669FE5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 12px 24px 0 rgba(0, 0, 0, 0.4); }
    .fabMenuContainer .fabMenuButtonActive i {
      transform: rotate(135deg) translateY(2px);
      -webkit-transform: rotate(135deg) translateY(2px);
      -moz-transform: rotate(135deg) translateY(2px); }
  .fabMenuContainer .fabMenuList {
    position: absolute;
    bottom: 56px;
    right: 0;
    list-style: none;
    width: 56px;
    height: auto;
    display: none;
    margin: 0;
    padding: 0; }
    .fabMenuContainer .fabMenuList li {
      width: 100%;
      position: relative;
      padding: 12px; }
      .fabMenuContainer .fabMenuList li .fabMenuListTag {
        position: absolute;
        top: 18px;
        right: 56px;
        font-size: 14px;
        padding: 2px 4px;
        border-radius: 2px;
        background-color: #fefefe;
        color: #444444;
        text-align: right;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 12px 24px 0 rgba(0, 0, 0, 0.4);
        white-space: nowrap; }
      .fabMenuContainer .fabMenuList li .fabMenuListButton {
        cursor: pointer;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        border: none;
        background-color: #fefefe;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 12px 24px 0 rgba(0, 0, 0, 0.4); }
        .fabMenuContainer .fabMenuList li .fabMenuListButton i {
          color: #5294E2;
          transform: translateX(-3px); }
  .fabMenuContainer .fabMenuListActive {
    display: block;
    animation: fabMenuListAnimateIn 0.3s forwards;
    -webkit-animation: fabMenuListAnimateIn 0.3s forwards;
    -moz-animation: fabMenuListAnimateIn 0.3s forwards; }
    .fabMenuContainer .fabMenuListActive li {
      animation: fabMenuListItemAnimateIn 0.15s forwards;
      -webkit-animation: fabMenuListItemAnimateIn 0.15s forwards;
      -moz-animation: fabMenuListItemAnimateIn 0.15s forwards; }
  .fabMenuContainer .fabMenuListInactive {
    display: block;
    animation: fabMenuListAnimateOut 0.15s forwards;
    -webkit-animation: fabMenuListAnimateOut 0.15s forwards;
    -moz-animation: fabMenuListAnimateOut 0.15s forwards; }
    .fabMenuContainer .fabMenuListInactive li {
      animation: fabMenuListItemAnimateOut 0.15s forwards;
      -webkit-animation: fabMenuListItemAnimateOut 0.15s forwards;
      -moz-animation: fabMenuListItemAnimateOut 0.15s forwards; }

@keyframes fabMenuListAnimateIn {
  0% {
    opacity: 0;
    transform: translateY(14px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes fabMenuListItemAnimateIn {
  0% {
    transform: scale(0); }
  80% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }
@keyframes fabMenuListAnimateOut {
  0% {
    opacity: 1;
    transform: translateY(0); }
  100% {
    opacity: 0;
    transform: translateY(14px);
    display: none; } }
@keyframes fabMenuListItemAnimateOut {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }
/* PADDING STYLES */
/* 6PX */
.padding6 {
  padding: 6px; }

.paddingTop6 {
  padding-top: 6px; }

.paddingRight6 {
  padding-right: 6px; }

.paddingBottom6 {
  padding-bottom: 6px; }

.paddingLeft6 {
  padding-left: 6px; }

/* 12PX */
.padding12 {
  padding: 12px; }

.paddingTop12 {
  padding-top: 12px; }

.paddingRight12 {
  padding-right: 12px; }

.paddingBottom12 {
  padding-bottom: 12px; }

.paddingLeft12 {
  padding-left: 12px; }

/* 24PX */
.padding24 {
  padding: 24px; }

.paddingTop24 {
  padding-top: 24px; }

.paddingRight24 {
  padding-right: 24px; }

.paddingBottom24 {
  padding-bottom: 24px; }

.paddingLeft24 {
  padding-left: 24px; }

/* 48PX */
.padding48 {
  padding: 48px; }

.paddingTop48 {
  padding-top: 48px; }

.paddingRight48 {
  padding-right: 48px; }

.paddingBottom48 {
  padding-bottom: 48px; }

.paddingLeft48 {
  padding-left: 48px; }

/* MARGIN STYLES */
/* 6PX */
.margin6 {
  margin: 6px; }

.marginTop6 {
  margin-top: 6px; }

.marginRight6 {
  margin-right: 6px; }

.marginBottom6 {
  margin-bottom: 6px; }

.marginLeft6 {
  margin-left: 6px; }

/* 12PX */
.margin12 {
  margin: 12px; }

.marginTop12 {
  margin-top: 12px; }

.marginRight12 {
  margin-right: 12px; }

.marginBottom12 {
  margin-bottom: 12px; }

.marginLeft12 {
  margin-left: 12px; }

/* 24PX */
.margin24 {
  margin: 24px; }

.marginTop24 {
  margin-top: 24px; }

.marginRight24 {
  margin-right: 24px; }

.marginBottom24 {
  margin-bottom: 24px; }

.marginLeft24 {
  margin-left: 24px; }

/* 48PX */
.margin48 {
  margin: 48px; }

.marginTop48 {
  margin-top: 48px; }

.marginRight48 {
  margin-right: 48px; }

.marginBottom48 {
  margin-bottom: 48px; }

.marginLeft48 {
  margin-left: 48px; }

* {
  box-sizing: border-box; }

.row::after {
  content: "";
  clear: both;
  display: table; }

[class*="col-"] {
  float: left;
  padding: 0.5em; }

/*RESPONSIVE GRID */
/*LARGE 1200PX */
.col-l-1 {
  width: 8.33%; }

.col-l-2 {
  width: 16.66%; }

.col-l-3 {
  width: 25%; }

.col-l-4 {
  width: 33.33%; }

.col-l-5 {
  width: 41.66%; }

.col-l-6 {
  width: 50%; }

.col-l-7 {
  width: 58.33%; }

.col-l-8 {
  width: 66.66%; }

.col-l-9 {
  width: 75%; }

.col-l-10 {
  width: 83.33%; }

.col-l-11 {
  width: 91.66%; }

.col-l-12 {
  width: 100%; }

@media only screen and (max-width: 1200px) {
  [class*="col-l-"] {
    width: 100%; } }
/*MEDIUM 768PX */
.col-m-1 {
  width: 8.33%; }

.col-m-2 {
  width: 16.66%; }

.col-m-3 {
  width: 25%; }

.col-m-4 {
  width: 33.33%; }

.col-m-5 {
  width: 41.66%; }

.col-m-6 {
  width: 50%; }

.col-m-7 {
  width: 58.33%; }

.col-m-8 {
  width: 66.66%; }

.col-m-9 {
  width: 75%; }

.col-m-10 {
  width: 83.33%; }

.col-m-11 {
  width: 91.66%; }

.col-m-12 {
  width: 100%; }

@media only screen and (max-width: 768px) {
  [class*="col-m-"] {
    width: 100%; } }
/*SMALL 480PX */
.col-s-1 {
  width: 8.33%; }

.col-s-2 {
  width: 16.66%; }

.col-s-3 {
  width: 25%; }

.col-s-4 {
  width: 33.33%; }

.col-s-5 {
  width: 41.66%; }

.col-s-6 {
  width: 50%; }

.col-s-7 {
  width: 58.33%; }

.col-s-8 {
  width: 66.66%; }

.col-s-9 {
  width: 75%; }

.col-s-10 {
  width: 83.33%; }

.col-s-11 {
  width: 91.66%; }

.col-s-12 {
  width: 100%; }

@media only screen and (max-width: 480px) {
  [class*="col-s-"] {
    width: 100%; } }
/*EXTRA SMALL 320PX */
.col-xs-1 {
  width: 8.33%; }

.col-xs-2 {
  width: 16.66%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33%; }

.col-xs-5 {
  width: 41.66%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33%; }

.col-xs-8 {
  width: 66.66%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33%; }

.col-xs-11 {
  width: 91.66%; }

.col-xs-12 {
  width: 100%; }

@media only screen and (max-width: 320px) {
  [class*="col-xs-"] {
    width: 100%; } }

/*# sourceMappingURL=clever.css.map */
