/*CLEVERCSS */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto:300,400,500");
body {
  margin: 0;
  background-color: #e8e8e8;
  font-family: "Roboto", sans-serif; }

* {
  -webkit-tap-highlight-color: transparent;
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #2f343f; }

p {
  color: #212121;
  font-family: "Roboto", sans-serif; }

::selection {
  background-color: #5294e2;
  color: #ffffff; }

/* TYPOGRAPHY STYLES */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 12px;
  text-align: left; }

p {
  margin: 0;
  padding: 12px; }

/* NAV STYLES */
nav.navbar-light {
  background-color: #FFFFFF; }
  nav.navbar-light .navbar-nav li {
    color: #2F343F; }
    nav.navbar-light .navbar-nav li:hover {
      border-bottom: 2px solid #2F343F; }
    nav.navbar-light .navbar-nav li:active {
      background-color: rgba(0, 0, 0, 0.05); }
    nav.navbar-light .navbar-nav li a {
      color: #2F343F; }
  nav.navbar-light #drawer-open {
    border: 10px solid;
    border-color: transparent; }
    nav.navbar-light #drawer-open:hover {
      background-color: rgba(0, 0, 0, 0.05); }
    nav.navbar-light #drawer-open:active {
      background-color: rgba(0, 0, 0, 0.1); }
    nav.navbar-light #drawer-open i {
      color: #2F343F; }

nav.navbar-dark {
  background-color: #2F343F; }
  nav.navbar-dark .navbar-nav li {
    color: #FFFFFF; }
    nav.navbar-dark .navbar-nav li:hover {
      border-bottom: 2px solid #FFFFFF; }
    nav.navbar-dark .navbar-nav li:active {
      background-color: rgba(255, 255, 255, 0.05); }
    nav.navbar-dark .navbar-nav li a {
      color: #FFFFFF; }
  nav.navbar-dark #drawer-open {
    border: 10px solid;
    border-color: transparent; }
    nav.navbar-dark #drawer-open:hover {
      background-color: rgba(255, 255, 255, 0.05); }
    nav.navbar-dark #drawer-open:active {
      background-color: rgba(255, 255, 255, 0.1); }
    nav.navbar-dark #drawer-open i {
      color: #FFFFFF; }

nav.navbar-tall {
  width: 100%;
  height: 120px; }
  nav.navbar-tall .navbar-nav.navbar-left, nav.navbar-tall .navbar-nav.navbar-right {
    float: none;
    position: absolute;
    bottom: 0; }
  nav.navbar-tall .navbar-nav.navbar-left {
    left: 0; }
  nav.navbar-tall .navbar-nav.navbar-right {
    right: 0; }

nav.navbar-short {
  width: 100%;
  height: 60px; }

nav.navbar {
  z-index: 10;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  nav.navbar .navbar-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative; }
    nav.navbar .navbar-nav li {
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      transition: all 0.2s;
      float: left;
      cursor: pointer;
      background-color: transparent;
      padding: 20px;
      height: 60px;
      border-bottom: 2px solid transparent; }
      nav.navbar .navbar-nav li a {
        background-color: transparent;
        font-size: 20px;
        text-decoration: none; }
  nav.navbar .navbar-nav.navbar-left {
    float: left; }
  nav.navbar .navbar-nav.navbar-right {
    float: right; }
  nav.navbar #drawer-open {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: transparent;
    background-clip: padding-box; }
    nav.navbar #drawer-open i {
      position: absolute;
      top: calc(50% - 12px);
      left: calc(50% - 12px); }
  nav.navbar #drawer-open.drawer-open-left {
    float: left; }
  nav.navbar #drawer-open.drawer-open-right {
    float: right; }
  nav.navbar #drawer-open.mobile-only {
    display: none; }

@media only screen and (max-width: 768px) {
  nav.navbarLight .navbar-nav:hover {
    background-color: transparent; }
  nav.navbarLight .navbar-nav:active {
    background-color: rgba(0, 0, 0, 0.05); }
  nav.navbarLight #drawer-open:hover {
    background-color: transparent; }
  nav.navbarLight #drawer-open:active {
    background-color: rgba(0, 0, 0, 0.05); }

  nav.navbarDark .navbar-nav li:hover {
    background-color: transparent; }
  nav.navbarDark .navbar-nav li:active {
    background-color: rgba(255, 255, 255, 0.05); }
  nav.navbarDark #drawer-open:hover {
    background-color: transparent; }
  nav.navbarDark #drawer-open:active {
    background-color: rgba(255, 255, 255, 0.05); }

  nav.navbar-tall {
    height: 112px; }

  nav.navbar-short {
    height: 56px; }

  nav.navbar .navbar-nav li {
    height: 56px;
    padding: 18px;
    display: none;
    border-bottom: none; }
    nav.navbar .navbar-nav li:hover {
      border-bottom: none; }
    nav.navbar .navbar-nav li a {
      font-size: 18px; }
  nav.navbar .navbar-nav .brand-item {
    display: block; }
  nav.navbar .navbar-nav.navbar-left {
    float: right; }
  nav.navbar .navbar-nav.navbar-right {
    float: right; }
  nav.navbar #drawer-open {
    width: 56px;
    height: 56px;
    border-radius: 56px; }
  nav.navbar #drawer-open.mobile-only {
    display: block; } }
/* DRAWER STYLES */
.drawer {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 15;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .drawer .drawer-content {
    position: absolute;
    top: 0;
    width: 320px;
    height: 100vh;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 16px 32px 0 rgba(0, 0, 0, 0.2), 0 32px 64px 0 rgba(0, 0, 0, 0.2); }
    .drawer .drawer-content .drawer-header {
      position: relative;
      width: 100%;
      height: 60px; }
      .drawer .drawer-content .drawer-header #drawer-close {
        cursor: pointer;
        position: absolute;
        top: 0;
        width: 60px;
        height: 60px;
        border-radius: 60px;
        background-color: transparent;
        background-clip: padding-box;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
        .drawer .drawer-content .drawer-header #drawer-close i {
          position: absolute;
          top: calc(50% - 12px);
          left: calc(50% - 12px); }
    .drawer .drawer-content .drawer-header.drawer-light {
      background-color: #FFFFFF; }
      .drawer .drawer-content .drawer-header.drawer-light #drawer-close {
        border: 10px solid;
        border-color: transparent; }
        .drawer .drawer-content .drawer-header.drawer-light #drawer-close:hover {
          background-color: rgba(0, 0, 0, 0.05); }
        .drawer .drawer-content .drawer-header.drawer-light #drawer-close:active {
          background-color: rgba(0, 0, 0, 0.1); }
        .drawer .drawer-content .drawer-header.drawer-light #drawer-close i {
          color: #2F343F; }
    .drawer .drawer-content .drawer-header.drawer-dark {
      background-color: #2F343F; }
      .drawer .drawer-content .drawer-header.drawer-dark #drawer-close {
        border: 10px solid;
        border-color: transparent; }
        .drawer .drawer-content .drawer-header.drawer-dark #drawer-close:hover {
          background-color: rgba(255, 255, 255, 0.05); }
        .drawer .drawer-content .drawer-header.drawer-dark #drawer-close:active {
          background-color: rgba(255, 255, 255, 0.1); }
        .drawer .drawer-content .drawer-header.drawer-dark #drawer-close i {
          color: #FFFFFF; }
    .drawer .drawer-content .drawer-nav {
      position: relative;
      width: 100%;
      height: calc(100vh - 56px);
      overflow-y: scroll;
      margin: 0;
      padding: 0;
      list-style: none; }
      .drawer .drawer-content .drawer-nav li {
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        display: block;
        cursor: pointer;
        position: relative;
        width: 100%;
        height: 60px;
        background-color: transparent; }
        .drawer .drawer-content .drawer-nav li a {
          display: block;
          position: relative;
          width: 100%;
          height: 60px;
          font-size: 20px;
          text-decoration: none; }
        .drawer .drawer-content .drawer-nav li i {
          position: absolute;
          top: calc(50% - 12px); }
    .drawer .drawer-content .drawer-nav.drawer-nav-left li a {
      text-align: left;
      padding: 19px 20px 20px 56px; }
    .drawer .drawer-content .drawer-nav.drawer-nav-left li i {
      left: 16px; }
    .drawer .drawer-content .drawer-nav.drawer-nav-right li a {
      text-align: right;
      padding: 19px 56px 20px 20px; }
    .drawer .drawer-content .drawer-nav.drawer-nav-right li i {
      right: 16px; }
  .drawer .drawer-content.drawer-light {
    background-color: #FFFFFF; }
    .drawer .drawer-content.drawer-light .drawer-nav li:hover {
      background-color: rgba(0, 0, 0, 0.05); }
    .drawer .drawer-content.drawer-light .drawer-nav li:active {
      background-color: rgba(0, 0, 0, 0.1); }
    .drawer .drawer-content.drawer-light .drawer-nav li a {
      color: #454545; }
    .drawer .drawer-content.drawer-light .drawer-nav li i {
      color: #454545; }
  .drawer .drawer-content.drawer-dark {
    background-color: #2F343F; }
    .drawer .drawer-content.drawer-dark .drawer-nav li:hover {
      background-color: rgba(255, 255, 255, 0.05); }
    .drawer .drawer-content.drawer-dark .drawer-nav li:active {
      background-color: rgba(255, 255, 255, 0.1); }
    .drawer .drawer-content.drawer-dark .drawer-nav li a {
      color: #B0B9C6; }
    .drawer .drawer-content.drawer-dark .drawer-nav li i {
      color: #B0B9C6; }

.drawer.drawer-left {
  left: 0;
  transform: translateX(-100%); }
  .drawer.drawer-left .drawer-content {
    left: 0; }
    .drawer.drawer-left .drawer-content .drawer-header #drawer-close {
      left: 0; }
      .drawer.drawer-left .drawer-content .drawer-header #drawer-close i {
        transform: none; }

.drawer.drawer-left.drawerAnimateOpen {
  animation: drawerAnimateOpenLeft 0.3s forwards; }
  .drawer.drawer-left.drawerAnimateOpen .drawer-content {
    animation: drawer-contentAnimateOpenLeft 0.3s forwards; }

.drawer.drawer-left.drawerAnimateClose {
  animation: drawerAnimateCloseLeft 0.3s forwards; }
  .drawer.drawer-left.drawerAnimateClose .drawer-content {
    animation: drawer-contentAnimateCloseLeft 0.3s forwards; }

.drawer.drawer-right {
  right: 0;
  transform: translateX(100%); }
  .drawer.drawer-right .drawer-content {
    right: 0; }
    .drawer.drawer-right .drawer-content .drawer-header #drawer-close {
      right: 0; }
      .drawer.drawer-right .drawer-content .drawer-header #drawer-close i {
        transform: rotate(180deg); }

.drawer.drawer-right.drawerAnimateOpen {
  animation: drawerAnimateOpenRight 0.3s forwards; }
  .drawer.drawer-right.drawerAnimateOpen .drawer-content {
    animation: drawer-contentAnimateOpenRight 0.3s forwards; }

.drawer.drawer-right.drawerAnimateClose {
  animation: drawerAnimateCloseRight 0.3s forwards; }
  .drawer.drawer-right.drawerAnimateClose .drawer-content {
    animation: drawer-contentAnimateCloseRight 0.3s forwards; }

@keyframes drawerAnimateOpenLeft {
  0% {
    transform: translateX(-100%);
    background-color: transparent; }
  1% {
    transform: translateX(0);
    background-color: transparent; }
  100% {
    transform: translateX(0);
    background-color: rgba(0, 0, 0, 0.4); } }
@keyframes drawer-contentAnimateOpenLeft {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }
@keyframes drawerAnimateCloseLeft {
  0% {
    transform: translateX(0);
    background-color: rgba(0, 0, 0, 0.4); }
  99% {
    transform: translateX(0);
    background-color: transparent; }
  100% {
    transform: translateX(-100%);
    background-color: transparent; } }
@keyframes drawer-contentAnimateCloseLeft {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }
@keyframes drawerAnimateOpenRight {
  0% {
    transform: translateX(100%);
    background-color: transparent; }
  1% {
    transform: translateX(0);
    background-color: transparent; }
  100% {
    transform: translateX(0);
    background-color: rgba(0, 0, 0, 0.4); } }
@keyframes drawer-contentAnimateOpenRight {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }
@keyframes drawerAnimateCloseRight {
  0% {
    transform: translateX(0);
    background-color: rgba(0, 0, 0, 0.4); }
  99% {
    transform: translateX(0);
    background-color: transparent; }
  100% {
    transform: translateX(100%);
    background-color: transparent; } }
@keyframes drawer-contentAnimateCloseRight {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(100%); } }
@media only screen and (max-width: 768px) {
  .drawer .drawer-content .drawer-header {
    height: 56px; }
    .drawer .drawer-content .drawer-header #drawer-close {
      width: 56px;
      height: 56px;
      border-radius: 56px; }
  .drawer .drawer-content .drawer-header.drawer-light #drawer-close:hover {
    background-color: transparent; }
  .drawer .drawer-content .drawer-header.drawer-light #drawer-close:active {
    background-color: rgba(0, 0, 0, 0.05); }
  .drawer .drawer-content .drawer-header.drawer-dark #drawer-close:hover {
    background-color: transparent; }
  .drawer .drawer-content .drawer-header.drawer-dark #drawer-close:active {
    background-color: rgba(255, 255, 255, 0.05); }
  .drawer .drawer-content .drawer-nav li {
    height: 56px; }
    .drawer .drawer-content .drawer-nav li a {
      font-size: 18px; }
  .drawer .drawer-content .drawer-nav.drawer-nav-left li a {
    padding: 18px 18px 18px 56px; }
  .drawer .drawer-content .drawer-nav.drawer-nav-right li a {
    padding: 18px 56px 18px 18px; }
  .drawer .drawer-content.drawer-light .drawer-nav li:hover {
    background-color: transparent; }
  .drawer .drawer-content.drawer-light .drawer-nav li:active {
    background-color: rgba(0, 0, 0, 0.05); }
  .drawer .drawer-content.drawer-dark .drawer-nav li:hover {
    background-color: transparent; }
  .drawer .drawer-content.drawer-dark .drawer-nav li:active {
    background-color: rgba(255, 255, 255, 0.05); } }
@media only screen and (max-width: 480px) {
  .drawer .drawer-content {
    width: 80vw; } }
/* DIVIDER */
.divider {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #BDBDBD; }

/* WRAPPERS */
.wrapper-l {
  width: 1200px;
  margin: auto; }

.wrapper-m {
  width: 768px;
  margin: auto; }

.wrapper-s {
  width: 480px;
  margin: auto; }

.wrapper-xs {
  width: 320px;
  margin: auto; }

@media only screen and (max-width: 1200px) {
  .wrapper-l {
    width: 100%; } }
@media only screen and (max-width: 768px) {
  .wrapper-m {
    width: 100%; } }
@media only screen and (max-width: 480px) {
  .wrapper-s {
    width: 100%; } }
@media only screen and (max-width: 320px) {
  .wrapper-xs {
    width: 100%; } }
@media only screen and (max-width: 768px) {
  .articleCardDark .footerDark .footerComment, .articleCardDark .footerLight .footerComment, .articleCardLight .footerDark .footerComment, .articleCardLight .footerLight .footerComment {
    width: 320px; } }
/*FOOTER */
.footerMainDark {
  margin-top: 10vh;
  padding: 1em;
  background-color: #2F343F;
  color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2); }
  .footerMainDark a {
    color: rgba(255, 255, 255, 0.2); }

@media only screen and (max-width: 480px) {
  .footerMainDark {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.2); }
    .footerMainDark a {
      color: rgba(255, 255, 255, 0.2); } }
/* ARTICLES & CARDS */
.card.depth-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .card.depth-1 .card-footer .button-action {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
    .card.depth-1 .card-footer .button-action:active {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.card.depth-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .card.depth-2 .card-footer .button-action {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
    .card.depth-2 .card-footer .button-action:active {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.card.depth-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .card.depth-3 .card-footer .button-action {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    .card.depth-3 .card-footer .button-action:active {
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

@media only screen and (min-width: 481px) {
  .card.depth-1 .card-footer .button-action:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

  .card.depth-2 .card-footer .button-action:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

  .card.depth-3 .card-footer .button-action:hover {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); } }
.card {
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .card .card-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 56px; }
    .card .card-header h1 {
      font-size: 2em; }
    .card .card-header h2 {
      font-size: 1.8em; }
    .card .card-header h3 {
      font-size: 1.6em; }
    .card .card-header h4 {
      font-size: 1.4em; }
    .card .card-header h5 {
      font-size: 1.2em; }
    .card .card-header h6 {
      font-size: 1em; }
    .card .card-header h1, .card .card-header h2, .card .card-header h3, .card .card-header h4, .card .card-header h5, .card .card-header h6 {
      padding: 12px 0 6px 12px; }
    .card .card-header p {
      padding: 6px 0 12px 12px;
      font-size: 1em;
      color: #B0B9C6; }
  .card p {
    font-size: 1em;
    padding: 12px; }
  .card .card-footer {
    position: relative;
    padding: 0 4px;
    width: 100%;
    min-height: 56px;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .card .card-footer .button-flat, .card .card-footer .button-raised {
      padding: 6px 6px 6px 6px; }
    .card .card-footer .button-action {
      position: absolute;
      bottom: -28px;
      right: 28px; }
  .card .card-header.card-light {
    background-color: #FFFFFF; }
    .card .card-header.card-light h1, .card .card-header.card-light h2, .card .card-header.card-light h3, .card .card-header.card-light h4, .card .card-header.card-light h5, .card .card-header.card-light h6 {
      color: #2F343F; }
    .card .card-header.card-light p {
      color: #B0B9C6; }
  .card .card-header.card-dark {
    background-color: #2F343F; }
    .card .card-header.card-dark h1, .card .card-header.card-dark h2, .card .card-header.card-dark h3, .card .card-header.card-dark h4, .card .card-header.card-dark h5, .card .card-header.card-dark h6 {
      color: #FFFFFF; }
    .card .card-header.card-dark p {
      color: #B0B9C6; }
  .card .card-footer.card-light {
    background-color: #FFFFFF; }
  .card .card-footer.card-dark {
    background-color: #2F343F; }
    .card .card-footer.card-dark .button-flat {
      color: #8DB4FF; }
      .card .card-footer.card-dark .button-flat:active {
        background-color: rgba(255, 255, 255, 0.1); }

.card.card-light {
  background-color: #FFFFFF; }
  .card.card-light p {
    color: #2F343F; }

.card.card-dark {
  background-color: #2F343F; }
  .card.card-dark p {
    color: #FFFFFF; }

@media only screen and (min-width: 481px) {
  .card .card-footer.card-dark .button-flat:hover {
    background-color: rgba(255, 255, 255, 0.05); }
  .card .card-footer.card-dark .button-flat:active {
    background-color: rgba(255, 255, 255, 0.1); } }
.card.card-hover-1 {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .card.card-hover-1:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.card.card-hover-2 {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .card.card-hover-2:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.card.card-hover-3 {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .card.card-hover-3:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.card.card-hover-4 {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .card.card-hover-4:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.card.card-hover-5 {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .card.card-hover-5:hover {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

/* FORMS */
.form-basic {
  width: 480px;
  margin: auto;
  padding: 12px; }
  .form-basic .form-group .input-invalid {
    background-color: rgba(0, 0, 0, 0.05); }
  .form-basic .form-group .input-valid {
    background-color: none; }
  .form-basic .buttonInput {
    background-color: #5294E2;
    color: white;
    padding: 0 12px;
    border: 0;
    cursor: pointer;
    position: absolute;
    bottom: 12px;
    right: 12px;
    font-size: 18px;
    border-radius: 2px;
    height: 50px;
    margin-top: 3px;
    margin-bottom: 0px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    vertical-align: middle; }
    .form-basic .buttonInput:hover {
      transition: all 0.1s;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
      margin-top: 0px;
      margin-bottom: 3px; }
    .form-basic .buttonInput:active {
      background-color: #669FE5; }
    .form-basic .buttonInput i {
      transform: translateY(25%); }

@media only screen and (max-width: 480px) {
  .form-basic {
    width: 100%;
    position: relative; }
    .form-basic .buttonInput {
      position: fixed;
      bottom: 112px;
      right: 28px;
      width: 56px;
      height: 56px;
      border-radius: 56px;
      -webkit-user-select: none; }
      .form-basic .buttonInput .buttonText {
        display: none; }
      .form-basic .buttonInput i {
        transform: translateY(12.5%); }
      .form-basic .buttonInput:hover {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        margin-top: 3px;
        margin-bottom: 0px; }
      .form-basic .buttonInput:active {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
        margin-top: 0px;
        margin-bottom: 3px; } }
input, select, textarea {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box; }

body * {
  box-sizing: border-box; }
body::after, body::before {
  box-sizing: border-box; }

input::after, input::before {
  box-sizing: border-box; }

select::after, select::before {
  box-sizing: border-box; }

textarea::after, textarea::before {
  box-sizing: border-box; }

body *::after, body *::before {
  box-sizing: border-box; }

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0 0 2em; }

.container {
  position: relative;
  max-width: 40rem;
  margin: 5rem auto;
  background: #fff;
  width: 100%;
  padding: 3rem 5rem 0;
  border-radius: 1px; }
  .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    transform: scale(0.98);
    transition: transform 0.28s ease-in-out;
    z-index: -1; }
  .container:hover::before {
    transform: scale(1); }

fieldset {
  margin: 0 0 3rem;
  padding: 0;
  border: none; }

.form-radio, .form-group {
  position: relative;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem; }

.formInline > .form-group, .formInline > .btn {
  display: inline-block;
  margin-bottom: 0; }

.formHelp {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  color: #b3b3b3;
  font-size: 0.8rem; }

.checkbox .formHelp, .form-radio .formHelp, .form-group .formHelp {
  position: absolute;
  width: 100%; }

.checkbox .formHelp {
  position: relative;
  margin-bottom: 1rem; }

.form-radio .formHelp {
  padding-top: 0.25rem;
  margin-top: -1rem; }

.form-group input {
  height: 1.9rem; }
.form-group textarea {
  resize: none; }
.form-group select {
  width: 100%;
  font-size: 1rem;
  height: 1.6rem;
  padding: 0.125rem 0.125rem 0.0625rem;
  background: none;
  border: none;
  line-height: 1.6;
  box-shadow: none; }
.form-group .control-label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 1rem;
  font-weight: normal;
  transition: all 0.28s ease; }
.form-group .bar {
  position: relative;
  border-bottom: 0.0625rem solid #999;
  display: block; }
  .form-group .bar::before {
    content: "";
    height: 0.125rem;
    width: 0;
    left: 50%;
    bottom: -0.0625rem;
    position: absolute;
    background: #5294E2;
    transition: left 0.28s ease, width 0.28s ease;
    z-index: 2; }
.form-group input, .form-group textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  transition: all 0.28s ease;
  box-shadow: none; }
.form-group input[type="file"] {
  line-height: 1; }
  .form-group input[type="file"] ~ .bar {
    display: none; }
.form-group select {
  color: #333; }
.form-group input:focus, .form-group input:valid, .form-group input.form-file, .form-group input.has-value {
  color: #333; }
.form-group textarea:focus, .form-group textarea:valid, .form-group textarea.form-file, .form-group textarea.has-value {
  color: #333; }
.form-group select ~ .control-label {
  font-size: 0.8rem;
  color: gray;
  top: -1rem;
  left: 0; }
.form-group input:focus ~ .control-label, .form-group input:valid ~ .control-label, .form-group input.form-file ~ .control-label, .form-group input.has-value ~ .control-label {
  font-size: 0.8rem;
  color: gray;
  top: -1rem;
  left: 0; }
.form-group textarea:focus ~ .control-label, .form-group textarea:valid ~ .control-label, .form-group textarea.form-file ~ .control-label, .form-group textarea.has-value ~ .control-label {
  font-size: 0.8rem;
  color: gray;
  top: -1rem;
  left: 0; }
.form-group select:focus, .form-group input:focus, .form-group textarea:focus {
  outline: none; }
.form-group select:focus ~ .control-label, .form-group input:focus ~ .control-label, .form-group textarea:focus ~ .control-label {
  color: #5294E2; }
.form-group select:focus ~ .bar::before, .form-group input:focus ~ .bar::before, .form-group textarea:focus ~ .bar::before {
  width: 100%;
  left: 0; }

.checkbox label, .form-radio label {
  position: relative;
  cursor: pointer;
  padding-left: 2rem;
  text-align: left;
  color: #333;
  display: block; }

.checkbox input, .form-radio input {
  width: auto;
  opacity: 0;
  position: absolute;
  left: 0; }

.radio {
  margin-bottom: 1rem; }
  .radio .helper {
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    user-select: none;
    color: #999; }
    .radio .helper::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      margin: 0.25rem;
      width: 1rem;
      height: 1rem;
      transition: transform 0.28s ease;
      border-radius: 50%;
      border: 0.125rem solid currentColor; }
    .radio .helper::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      margin: 0.25rem;
      width: 1rem;
      height: 1rem;
      transition: transform 0.28s ease;
      border-radius: 50%;
      border: 0.125rem solid currentColor;
      transform: scale(0);
      background-color: #5294E2;
      border-color: #5294E2; }
  .radio label:hover .helper {
    color: #5294E2; }
  .radio input:checked ~ .helper::after {
    transform: scale(0.5); }
  .radio input:checked ~ .helper::before {
    color: #5294E2; }

.checkbox {
  margin-top: 3rem;
  margin-bottom: 1rem; }
  .checkbox .helper {
    color: #999;
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    z-index: 0;
    border: 0.125rem solid currentColor;
    border-radius: 0.0625rem;
    transition: border-color 0.28s ease; }
    .checkbox .helper::before, .checkbox .helper::after {
      position: absolute;
      height: 0;
      width: 0.2rem;
      background-color: #5294E2;
      display: block;
      transform-origin: left top;
      border-radius: 0.25rem;
      content: "";
      transition: opacity 0.28s ease, height 0s linear 0.28s;
      opacity: 0; }
    .checkbox .helper::before {
      top: 0.65rem;
      left: 0.38rem;
      transform: rotate(-135deg);
      box-shadow: 0 0 0 0.0625rem #fff; }
    .checkbox .helper::after {
      top: 0.3rem;
      left: 0;
      transform: rotate(-45deg); }
  .checkbox label:hover .helper {
    color: #5294E2; }
  .checkbox input:checked ~ .helper {
    color: #5294E2; }
    .checkbox input:checked ~ .helper::after, .checkbox input:checked ~ .helper::before {
      opacity: 1;
      transition: height 0.28s ease; }
    .checkbox input:checked ~ .helper::after {
      height: 0.5rem; }
    .checkbox input:checked ~ .helper::before {
      height: 1.2rem;
      transition-delay: 0.28s; }

.radio + .radio, .checkbox + .checkbox {
  margin-top: 1rem; }

.hasError .legend.legend {
  color: #cc575d; }
.hasError.form-group .control-label.control-label, .hasError.form-group .formHelp, .hasError.form-group .helper {
  color: #cc575d; }
.hasError.checkbox .formHelp, .hasError.checkbox .helper {
  color: #cc575d; }
.hasError.radio .formHelp, .hasError.radio .helper {
  color: #cc575d; }
.hasError.form-radio .formHelp, .hasError.form-radio .helper {
  color: #cc575d; }
.hasError .bar::before {
  background: #cc575d;
  left: 0;
  width: 100%; }

/*MODAL STYLES */
div.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 20; }

div.modal.modal-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-animation: modalAnimateOpen 0.3s forwards;
  -moz-animation: modalAnimateOpen 0.3s forwards;
  animation: modalAnimateOpen 0.3s forwards; }
  div.modal.modal-active .modal-content {
    -webkit-animation: modalContentAnimateOpen 0.3s forwards;
    -moz-animation: modalContentAnimateOpen 0.3s forwards;
    animation: modalContentAnimateOpen 0.3s forwards; }

div.modal.modal-inactive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-animation: modalAnimateClose 0.3s forwards;
  -moz-animation: modalAnimateClose 0.3s forwards;
  animation: modalAnimateClose 0.3s forwards; }
  div.modal.modal-inactive .modal-content {
    -webkit-animation: modalContentAnimateClose 0.3s forwards;
    -moz-animation: modalContentAnimateClose 0.3s forwards;
    animation: modalContentAnimateClose 0.3s forwards; }

div.modal.modal-inactive .modal-content, div.modal.modal-active .modal-content {
  min-width: 768px;
  min-height: 768px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 16px 32px 0 rgba(0, 0, 0, 0.1), 0 32px 64px 0 rgba(0, 0, 0, 0.1); }
  div.modal.modal-inactive .modal-content .modal-header, div.modal.modal-active .modal-content .modal-header {
    position: relative;
    min-height: 56px; }
    div.modal.modal-inactive .modal-content .modal-header h1, div.modal.modal-inactive .modal-content .modal-header h2, div.modal.modal-inactive .modal-content .modal-header h3, div.modal.modal-inactive .modal-content .modal-header h4, div.modal.modal-inactive .modal-content .modal-header h5, div.modal.modal-inactive .modal-content .modal-header h6, div.modal.modal-active .modal-content .modal-header h1, div.modal.modal-active .modal-content .modal-header h2, div.modal.modal-active .modal-content .modal-header h3, div.modal.modal-active .modal-content .modal-header h4, div.modal.modal-active .modal-content .modal-header h5, div.modal.modal-active .modal-content .modal-header h6 {
      padding: 12px 12px 6px 12px; }
    div.modal.modal-inactive .modal-content .modal-header h1, div.modal.modal-active .modal-content .modal-header h1 {
      font-size: 1.8em; }
    div.modal.modal-inactive .modal-content .modal-header h2, div.modal.modal-active .modal-content .modal-header h2 {
      font-size: 1.7em; }
    div.modal.modal-inactive .modal-content .modal-header h3, div.modal.modal-active .modal-content .modal-header h3 {
      font-size: 1.6em; }
    div.modal.modal-inactive .modal-content .modal-header h4, div.modal.modal-active .modal-content .modal-header h4 {
      font-size: 1.5em; }
    div.modal.modal-inactive .modal-content .modal-header h5, div.modal.modal-active .modal-content .modal-header h5 {
      font-size: 1.4em; }
    div.modal.modal-inactive .modal-content .modal-header h6, div.modal.modal-active .modal-content .modal-header h6 {
      font-size: 1.3em; }
    div.modal.modal-inactive .modal-content .modal-header p, div.modal.modal-active .modal-content .modal-header p {
      font-size: 1.2em;
      padding: 6px 12px 12px 12px; }
  div.modal.modal-inactive .modal-content .modal-header.modal-light, div.modal.modal-active .modal-content .modal-header.modal-light {
    background-color: #FFFFFF; }
    div.modal.modal-inactive .modal-content .modal-header.modal-light h1, div.modal.modal-inactive .modal-content .modal-header.modal-light h2, div.modal.modal-inactive .modal-content .modal-header.modal-light h3, div.modal.modal-inactive .modal-content .modal-header.modal-light h4, div.modal.modal-inactive .modal-content .modal-header.modal-light h5, div.modal.modal-inactive .modal-content .modal-header.modal-light h6, div.modal.modal-active .modal-content .modal-header.modal-light h1, div.modal.modal-active .modal-content .modal-header.modal-light h2, div.modal.modal-active .modal-content .modal-header.modal-light h3, div.modal.modal-active .modal-content .modal-header.modal-light h4, div.modal.modal-active .modal-content .modal-header.modal-light h5, div.modal.modal-active .modal-content .modal-header.modal-light h6 {
      color: #2F343F; }
    div.modal.modal-inactive .modal-content .modal-header.modal-light p, div.modal.modal-active .modal-content .modal-header.modal-light p {
      color: #B0B9C6; }
  div.modal.modal-inactive .modal-content .modal-header.modal-dark, div.modal.modal-active .modal-content .modal-header.modal-dark {
    background-color: #2F343F; }
    div.modal.modal-inactive .modal-content .modal-header.modal-dark h1, div.modal.modal-inactive .modal-content .modal-header.modal-dark h2, div.modal.modal-inactive .modal-content .modal-header.modal-dark h3, div.modal.modal-inactive .modal-content .modal-header.modal-dark h4, div.modal.modal-inactive .modal-content .modal-header.modal-dark h5, div.modal.modal-inactive .modal-content .modal-header.modal-dark h6, div.modal.modal-active .modal-content .modal-header.modal-dark h1, div.modal.modal-active .modal-content .modal-header.modal-dark h2, div.modal.modal-active .modal-content .modal-header.modal-dark h3, div.modal.modal-active .modal-content .modal-header.modal-dark h4, div.modal.modal-active .modal-content .modal-header.modal-dark h5, div.modal.modal-active .modal-content .modal-header.modal-dark h6 {
      color: #FFFFFF; }
    div.modal.modal-inactive .modal-content .modal-header.modal-dark p, div.modal.modal-active .modal-content .modal-header.modal-dark p {
      color: #B0B9C6; }
  div.modal.modal-inactive .modal-content .modal-image, div.modal.modal-active .modal-content .modal-image {
    width: 100%;
    height: auto; }
    div.modal.modal-inactive .modal-content .modal-image img, div.modal.modal-active .modal-content .modal-image img {
      width: 100%;
      height: auto; }
  div.modal.modal-inactive .modal-content .modal-footer, div.modal.modal-active .modal-content .modal-footer {
    position: relative;
    padding: 0 4px;
    width: 100%;
    min-height: 56px;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    div.modal.modal-inactive .modal-content .modal-footer .button-flat, div.modal.modal-inactive .modal-content .modal-footer .button-raised, div.modal.modal-active .modal-content .modal-footer .button-flat, div.modal.modal-active .modal-content .modal-footer .button-raised {
      padding: 6px 6px 6px 6px; }
    div.modal.modal-inactive .modal-content .modal-footer .buttonAction, div.modal.modal-active .modal-content .modal-footer .buttonAction {
      position: absolute;
      bottom: -28px;
      right: 28px;
      box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.1), 0 32px 64px 0 rgba(0, 0, 0, 0.1), 0 64px 128px 0 rgba(0, 0, 0, 0.1); }
      div.modal.modal-inactive .modal-content .modal-footer .buttonAction:hover, div.modal.modal-active .modal-content .modal-footer .buttonAction:hover {
        box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.2), 0 64px 128px 0 rgba(0, 0, 0, 0.2), 0 128px 256px 0 rgba(0, 0, 0, 0.2); }
  div.modal.modal-inactive .modal-content .modal-footer.modal-light, div.modal.modal-active .modal-content .modal-footer.modal-light {
    background-color: #FFFFFF; }
  div.modal.modal-inactive .modal-content .modal-footer.modal-dark, div.modal.modal-active .modal-content .modal-footer.modal-dark {
    background-color: #2F343F; }
    div.modal.modal-inactive .modal-content .modal-footer.modal-dark .button-flat:hover, div.modal.modal-active .modal-content .modal-footer.modal-dark .button-flat:hover {
      background-color: rgba(255, 255, 255, 0.05); }
    div.modal.modal-inactive .modal-content .modal-footer.modal-dark .button-flat:active, div.modal.modal-active .modal-content .modal-footer.modal-dark .button-flat:active {
      background-color: rgba(255, 255, 255, 0.1); }
div.modal.modal-inactive .modal-content.modal-light, div.modal.modal-active .modal-content.modal-light {
  background-color: #FFFFFF;
  color: #2F343F; }
  div.modal.modal-inactive .modal-content.modal-light p, div.modal.modal-active .modal-content.modal-light p {
    color: #2F343F; }
div.modal.modal-inactive .modal-content.modal-dark, div.modal.modal-active .modal-content.modal-dark {
  background-color: #2F343F;
  color: #FFFFFF; }
  div.modal.modal-inactive .modal-content.modal-dark p, div.modal.modal-active .modal-content.modal-dark p {
    color: #FFFFFF; }

@media only screen and (max-width: 768px) {
  div.modal.modal-active .modal-content, div.modal.modal-inactive .modal-content {
    width: 480px;
    min-width: 0;
    min-height: 480px; }
    div.modal.modal-active .modal-content .modal-footer.modal-dark .button-flat:hover, div.modal.modal-inactive .modal-content .modal-footer.modal-dark .button-flat:hover {
      background-color: transparent; }
    div.modal.modal-active .modal-content .modal-footer.modal-dark .button-flat:active, div.modal.modal-inactive .modal-content .modal-footer.modal-dark .button-flat:active {
      background-color: rgba(255, 255, 255, 0.05); } }
@media only screen and (max-width: 480px) {
  div.modal.modal-active .modal-content, div.modal.modal-inactive .modal-content {
    width: 320px;
    min-width: 0;
    min-height: 320px; } }
@media only screen and (max-width: 320px) {
  div.modal.modal-active .modal-content, div.modal.modal-anactive .modal-content {
    width: 100%;
    height: auto; } }
@keyframes modalAnimateOpen {
  0% {
    background-color: transparent; }
  100% {
    background-color: rgba(0, 0, 0, 0.4); } }
@keyframes modalContentAnimateOpen {
  0% {
    transform: translateY(28px);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    opacity: 0; }
  100% {
    transform: translateY(0);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 16px 32px 0 rgba(0, 0, 0, 0.1), 0 32px 64px 0 rgba(0, 0, 0, 0.1);
    opacity: 1; } }
@keyframes modalAnimateClose {
  0% {
    background-color: rgba(0, 0, 0, 0.4); }
  100% {
    background-color: transparent; } }
@keyframes modalContentAnimateClose {
  0% {
    transform: translateY(0);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 16px 32px 0 rgba(0, 0, 0, 0.1), 0 32px 64px 0 rgba(0, 0, 0, 0.1);
    opacity: 1; }
  100% {
    transform: translateY(28px);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    opacity: 0; } }
/*BUTTONS */
button::-moz-focus-inner {
  border: 0; }

button {
  user-select: none;
  -webkit-user-select: none; }

.button-action-floating {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: fixed;
  bottom: 28px;
  right: 28px;
  width: 56px;
  height: 56px;
  border-radius: 56px;
  border: 0;
  background-color: #5294E2;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 12px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
  z-index: 12; }
  .button-action-floating:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 12px 24px 0 rgba(0, 0, 0, 0.4); }
  .button-action-floating:active {
    background-color: #669FE5; }

/* FLAT BUTTON */
.button-flat {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 2px;
  cursor: pointer;
  border: 0;
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
  padding: 0.5em 0.7em;
  margin: 0.2em 0.2em;
  color: #5294E2;
  background-color: transparent; }
  .button-flat:hover {
    background-color: rgba(0, 0, 0, 0.05); }
  .button-flat:active {
    background-color: rgba(0, 0, 0, 0.1); }

/* RAISED BUTTON */
.button-raised {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 2px;
  cursor: pointer;
  border: 0;
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
  padding: 0.5em 0.7em;
  margin: 0.2em 0.2em;
  color: white;
  background-color: #5294E2;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .button-raised:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .button-raised:active {
    background-color: #669FE5; }

/* ACTION BUTTON */
.button-action {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
  cursor: pointer;
  width: 56px;
  height: 56px;
  border-radius: 56px;
  border: 0;
  background-color: #5294E2;
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .button-action:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .button-action:active {
    background-color: #669FE5; }
  .button-action i {
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px); }

.buttonFloatRight {
  float: right; }

@media only screen and (max-width: 768px) {
  .button-action-floating:hover {
    background-color: #5294E2;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .button-action-floating:active {
    background-color: #669FE5;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

  .button-flat:hover {
    background-color: transparent; }
  .button-flat:active {
    background-color: rgba(0, 0, 0, 0.1); }

  .button-raised:hover {
    background-color: #5294E2;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .button-raised:active {
    background-color: #669FE5;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

  .button-action:hover {
    background-color: #5294E2;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .button-action:active {
    transform: scale(1.025);
    background-color: #669FE5;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); } }
/* DROPDOWN STYLES */
div.dropdown {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  font-family: "Roboto", sans-serif; }
  div.dropdown .button-dropdown {
    cursor: pointer;
    position: relative;
    background-color: transparent;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  div.dropdown .button-dropdown.dropdown-small {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    border: none;
    background-clip: padding-box; }
    div.dropdown .button-dropdown.dropdown-small i {
      position: absolute;
      top: calc(50% - 12px);
      left: calc(50% - 12px); }
  div.dropdown .button-dropdown.dropdown-large {
    width: 100%;
    height: 56px;
    font-size: 18px;
    padding: 1em;
    border: none;
    border-radius: 2px; }
  div.dropdown .button-dropdown.dropdown-left {
    float: left; }
  div.dropdown .button-dropdown.dropdown-right {
    float: right; }
  div.dropdown .button-dropdown.dropdown-small.dropdown-light {
    border: 10px solid;
    border-color: transparent; }
    div.dropdown .button-dropdown.dropdown-small.dropdown-light i {
      color: #B0B9C6; }
    div.dropdown .button-dropdown.dropdown-small.dropdown-light:active {
      background-color: rgba(0, 0, 0, 0.1); }
  div.dropdown .button-dropdown.dropdown-small.dropdown-dark {
    border: 10px solid;
    border-color: transparent; }
    div.dropdown .button-dropdown.dropdown-small.dropdown-dark i {
      color: #B0B9C6; }
    div.dropdown .button-dropdown.dropdown-small.dropdown-dark:active {
      background-color: rgba(255, 255, 255, 0.1); }
  div.dropdown .dropdown-content {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 5; }
    div.dropdown .dropdown-content li {
      cursor: pointer; }
  div.dropdown .dropdown-content.dropdown-small {
    position: absolute;
    top: 56px;
    left: auto;
    right: auto;
    border-radius: 2px;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    div.dropdown .dropdown-content.dropdown-small li {
      user-select: none;
      -webkit-user-select: none;
      cursor: pointer;
      white-space: nowrap;
      font-size: 18px;
      padding: 0.8em;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
      div.dropdown .dropdown-content.dropdown-small li a {
        color: #454545;
        display: block;
        text-decoration: none; }
  div.dropdown .dropdown-content.dropdown-small.dropdown-left {
    left: 0;
    right: auto; }
  div.dropdown .dropdown-content.dropdown-small.dropdown-right {
    left: auto;
    right: 0; }
  div.dropdown .dropdown-content.dropdown-small.dropdown-light {
    background-color: #FEFEFE; }
    div.dropdown .dropdown-content.dropdown-small.dropdown-light li {
      color: #2F343F; }
      div.dropdown .dropdown-content.dropdown-small.dropdown-light li:active {
        background-color: rgba(0, 0, 0, 0.1); }
  div.dropdown .dropdown-content.dropdown-small.dropdown-dark {
    background-color: #2F343F; }
    div.dropdown .dropdown-content.dropdown-small.dropdown-dark li {
      color: #FFFFFF; }
      div.dropdown .dropdown-content.dropdown-small.dropdown-dark li:active {
        background-color: rgba(255, 255, 255, 0.1); }
  div.dropdown .button-dropdown.dropdown-large.dropdown-light {
    color: #454545; }
    div.dropdown .button-dropdown.dropdown-large.dropdown-light:active {
      background-color: rgba(0, 0, 0, 0.1); }
  div.dropdown .button-dropdown.dropdown-large.dropdown-dark {
    color: #B0B9C6; }
    div.dropdown .button-dropdown.dropdown-large.dropdown-dark:active {
      background-color: rgba(255, 255, 255, 0.1); }
  div.dropdown .dropdown-content.dropdown-large {
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
    div.dropdown .dropdown-content.dropdown-large li {
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      padding: 1em; }
  div.dropdown .dropdown-content.dropdown-large.dropdown-light {
    background-color: #FFFFFF; }
    div.dropdown .dropdown-content.dropdown-large.dropdown-light li {
      color: #454545; }
      div.dropdown .dropdown-content.dropdown-large.dropdown-light li a {
        color: #454545; }
      div.dropdown .dropdown-content.dropdown-large.dropdown-light li:active {
        background-color: rgba(0, 0, 0, 0.1); }
  div.dropdown .dropdown-content.dropdown-large.dropdown-dark {
    background-color: #2F343F; }
    div.dropdown .dropdown-content.dropdown-large.dropdown-dark li {
      color: #B0B9C6; }
      div.dropdown .dropdown-content.dropdown-large.dropdown-dark li a {
        color: #B0B9C6; }
      div.dropdown .dropdown-content.dropdown-large.dropdown-dark li:active {
        background-color: rgba(255, 255, 255, 0.1); }

div.dropdown.dropdown-left {
  float: left; }

div.dropdown.dropdown-right {
  float: right; }

@media only screen and (min-width: 481px) {
  div.dropdown .dropdown-content.dropdown-small li {
    padding: 0.6em; }
  div.dropdown .button-dropdown.dropdown-small.dropdown-light:hover {
    background-color: rgba(0, 0, 0, 0.05); }
  div.dropdown .button-dropdown.dropdown-small.dropdown-light:active {
    background-color: rgba(0, 0, 0, 0.1); }
  div.dropdown .button-dropdown.dropdown-small.dropdown-dark:active {
    background-color: rgba(255, 255, 255, 0.05); }
  div.dropdown .button-dropdown.dropdown-small.dropdown-dark:hover {
    background-color: rgba(255, 255, 255, 0.1); }
  div.dropdown .dropdown-content.dropdown-small.dropdown-light li:hover {
    background-color: rgba(0, 0, 0, 0.05); }
  div.dropdown .dropdown-content.dropdown-small.dropdown-light li:active {
    background-color: rgba(0, 0, 0, 0.1); }
  div.dropdown .dropdown-content.dropdown-small.dropdown-dark li:hover {
    background-color: rgba(255, 255, 255, 0.05); }
  div.dropdown .dropdown-content.dropdown-small.dropdown-dark li:active {
    background-color: rgba(255, 255, 255, 0.1); }
  div.dropdown .button-dropdown.dropdown-large.dropdown-light:hover {
    background-color: rgba(0, 0, 0, 0.05); }
  div.dropdown .button-dropdown.dropdown-large.dropdown-light:active {
    background-color: rgba(0, 0, 0, 0.1); }
  div.dropdown .button-dropdown.dropdown-large.dropdown-dark:hover {
    background-color: rgba(255, 255, 255, 0.05); }
  div.dropdown .button-dropdown.dropdown-large.dropdown-dark:active {
    background-color: rgba(255, 255, 255, 0.1); }
  div.dropdown .dropdown-content.dropdown-large.dropdown-light li:hover {
    background-color: rgba(0, 0, 0, 0.05); }
  div.dropdown .dropdown-content.dropdown-large.dropdown-light li:active {
    background-color: rgba(0, 0, 0, 0.1); }
  div.dropdown .dropdown-content.dropdown-large.dropdown-dark li:hover {
    background-color: rgba(255, 255, 255, 0.05); }
  div.dropdown .dropdown-content.dropdown-large.dropdown-dark li:active {
    background-color: rgba(255, 255, 255, 0.1); } }
/* FLOATING ACTION BUTTON MENU */
.fabMenuContainer {
  position: fixed;
  bottom: 28px;
  right: 28px;
  z-index: 9; }
  .fabMenuContainer .fabMenuButton {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    width: 56px;
    height: 56px;
    border-radius: 56px;
    border: 0;
    background-color: #5294E2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 12px 0 rgba(0, 0, 0, 0.4); }
    .fabMenuContainer .fabMenuButton:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 12px 24px 0 rgba(0, 0, 0, 0.4); }
    .fabMenuContainer .fabMenuButton:active {
      background-color: #669FE5;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 12px 24px 0 rgba(0, 0, 0, 0.4); }
    .fabMenuContainer .fabMenuButton i {
      color: white;
      width: 28px;
      height: 28px;
      transform: translateY(2px); }
  .fabMenuContainer .fabMenuButtonActive {
    background-color: #669FE5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 12px 24px 0 rgba(0, 0, 0, 0.4); }
    .fabMenuContainer .fabMenuButtonActive i {
      transform: rotate(135deg) translateY(2px);
      -webkit-transform: rotate(135deg) translateY(2px);
      -moz-transform: rotate(135deg) translateY(2px); }
  .fabMenuContainer .fabMenuList {
    position: absolute;
    bottom: 56px;
    right: 0;
    list-style: none;
    width: 56px;
    height: auto;
    display: none;
    margin: 0;
    padding: 0; }
    .fabMenuContainer .fabMenuList li {
      width: 100%;
      position: relative;
      padding: 12px; }
      .fabMenuContainer .fabMenuList li .fabMenuListTag {
        position: absolute;
        top: 18px;
        right: 56px;
        font-size: 14px;
        padding: 2px 4px;
        border-radius: 2px;
        background-color: #fefefe;
        color: #444444;
        text-align: right;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 12px 24px 0 rgba(0, 0, 0, 0.4);
        white-space: nowrap; }
      .fabMenuContainer .fabMenuList li .fabMenuListButton {
        cursor: pointer;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        border: none;
        background-color: #fefefe;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 12px 24px 0 rgba(0, 0, 0, 0.4); }
        .fabMenuContainer .fabMenuList li .fabMenuListButton i {
          color: #5294E2;
          transform: translateX(-3px); }
  .fabMenuContainer .fabMenuListActive {
    display: block;
    animation: fabMenuListAnimateIn 0.3s forwards;
    -webkit-animation: fabMenuListAnimateIn 0.3s forwards;
    -moz-animation: fabMenuListAnimateIn 0.3s forwards; }
    .fabMenuContainer .fabMenuListActive li {
      animation: fabMenuListItemAnimateIn 0.15s forwards;
      -webkit-animation: fabMenuListItemAnimateIn 0.15s forwards;
      -moz-animation: fabMenuListItemAnimateIn 0.15s forwards; }
  .fabMenuContainer .fabMenuListInactive {
    display: block;
    animation: fabMenuListAnimateOut 0.15s forwards;
    -webkit-animation: fabMenuListAnimateOut 0.15s forwards;
    -moz-animation: fabMenuListAnimateOut 0.15s forwards; }
    .fabMenuContainer .fabMenuListInactive li {
      animation: fabMenuListItemAnimateOut 0.15s forwards;
      -webkit-animation: fabMenuListItemAnimateOut 0.15s forwards;
      -moz-animation: fabMenuListItemAnimateOut 0.15s forwards; }

@keyframes fabMenuListAnimateIn {
  0% {
    opacity: 0;
    transform: translateY(14px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes fabMenuListItemAnimateIn {
  0% {
    transform: scale(0); }
  80% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }
@keyframes fabMenuListAnimateOut {
  0% {
    opacity: 1;
    transform: translateY(0); }
  100% {
    opacity: 0;
    transform: translateY(14px);
    display: none; } }
@keyframes fabMenuListItemAnimateOut {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }
/* PADDING STYLES */
/* 6PX */
.padding6 {
  padding: 6px; }

.paddingTop6 {
  padding-top: 6px; }

.paddingRight6 {
  padding-right: 6px; }

.paddingBottom6 {
  padding-bottom: 6px; }

.paddingLeft6 {
  padding-left: 6px; }

/* 12PX */
.padding12 {
  padding: 12px; }

.paddingTop12 {
  padding-top: 12px; }

.paddingRight12 {
  padding-right: 12px; }

.paddingBottom12 {
  padding-bottom: 12px; }

.paddingLeft12 {
  padding-left: 12px; }

/* 24PX */
.padding24 {
  padding: 24px; }

.paddingTop24 {
  padding-top: 24px; }

.paddingRight24 {
  padding-right: 24px; }

.paddingBottom24 {
  padding-bottom: 24px; }

.paddingLeft24 {
  padding-left: 24px; }

/* 48PX */
.padding48 {
  padding: 48px; }

.paddingTop48 {
  padding-top: 48px; }

.paddingRight48 {
  padding-right: 48px; }

.paddingBottom48 {
  padding-bottom: 48px; }

.paddingLeft48 {
  padding-left: 48px; }

/* MARGIN STYLES */
/* 6PX */
.margin6 {
  margin: 6px; }

.marginTop6 {
  margin-top: 6px; }

.marginRight6 {
  margin-right: 6px; }

.marginBottom6 {
  margin-bottom: 6px; }

.marginLeft6 {
  margin-left: 6px; }

/* 12PX */
.margin12 {
  margin: 12px; }

.marginTop12 {
  margin-top: 12px; }

.marginRight12 {
  margin-right: 12px; }

.marginBottom12 {
  margin-bottom: 12px; }

.marginLeft12 {
  margin-left: 12px; }

/* 24PX */
.margin24 {
  margin: 24px; }

.marginTop24 {
  margin-top: 24px; }

.marginRight24 {
  margin-right: 24px; }

.marginBottom24 {
  margin-bottom: 24px; }

.marginLeft24 {
  margin-left: 24px; }

/* 48PX */
.margin48 {
  margin: 48px; }

.marginTop48 {
  margin-top: 48px; }

.marginRight48 {
  margin-right: 48px; }

.marginBottom48 {
  margin-bottom: 48px; }

.marginLeft48 {
  margin-left: 48px; }

* {
  box-sizing: border-box; }

.row::after {
  content: "";
  clear: both;
  display: table; }

[class*="col-"] {
  float: left;
  padding: 0.5em; }

/*RESPONSIVE GRID */
/*LARGE 1200PX */
.col-l-1 {
  width: 8.33%; }

.col-l-2 {
  width: 16.66%; }

.col-l-3 {
  width: 25%; }

.col-l-4 {
  width: 33.33%; }

.col-l-5 {
  width: 41.66%; }

.col-l-6 {
  width: 50%; }

.col-l-7 {
  width: 58.33%; }

.col-l-8 {
  width: 66.66%; }

.col-l-9 {
  width: 75%; }

.col-l-10 {
  width: 83.33%; }

.col-l-11 {
  width: 91.66%; }

.col-l-12 {
  width: 100%; }

@media only screen and (max-width: 1200px) {
  [class*="col-l-"] {
    width: 100%; } }
/*MEDIUM 768PX */
.col-m-1 {
  width: 8.33%; }

.col-m-2 {
  width: 16.66%; }

.col-m-3 {
  width: 25%; }

.col-m-4 {
  width: 33.33%; }

.col-m-5 {
  width: 41.66%; }

.col-m-6 {
  width: 50%; }

.col-m-7 {
  width: 58.33%; }

.col-m-8 {
  width: 66.66%; }

.col-m-9 {
  width: 75%; }

.col-m-10 {
  width: 83.33%; }

.col-m-11 {
  width: 91.66%; }

.col-m-12 {
  width: 100%; }

@media only screen and (max-width: 768px) {
  [class*="col-m-"] {
    width: 100%; } }
/*SMALL 480PX */
.col-s-1 {
  width: 8.33%; }

.col-s-2 {
  width: 16.66%; }

.col-s-3 {
  width: 25%; }

.col-s-4 {
  width: 33.33%; }

.col-s-5 {
  width: 41.66%; }

.col-s-6 {
  width: 50%; }

.col-s-7 {
  width: 58.33%; }

.col-s-8 {
  width: 66.66%; }

.col-s-9 {
  width: 75%; }

.col-s-10 {
  width: 83.33%; }

.col-s-11 {
  width: 91.66%; }

.col-s-12 {
  width: 100%; }

@media only screen and (max-width: 480px) {
  [class*="col-s-"] {
    width: 100%; } }
/*EXTRA SMALL 320PX */
.col-xs-1 {
  width: 8.33%; }

.col-xs-2 {
  width: 16.66%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33%; }

.col-xs-5 {
  width: 41.66%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33%; }

.col-xs-8 {
  width: 66.66%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33%; }

.col-xs-11 {
  width: 91.66%; }

.col-xs-12 {
  width: 100%; }

@media only screen and (max-width: 320px) {
  [class*="col-xs-"] {
    width: 100%; } }

/*# sourceMappingURL=clever.css.map */
