/*CLEVERCSS */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto:300,400,500");
body {
  margin: 0;
  background-color: #e8e8e8;
  font-family: "Roboto", sans-serif; }

* {
  transition: all 0.3s;
  -webkit-tap-highlight-color: transparent;
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #2f343f; }

p {
  color: #212121;
  font-family: "Roboto", sans-serif; }

.navBarDark {
  background-color: #2F343F; }
  .navBarDark ul li {
    color: white; }
    .navBarDark ul li:hover {
      border-bottom: 2px solid white; }
    .navBarDark ul li a {
      color: white; }
  .navBarDark ul #drawerButtonItem #drawerButton:active {
    background-color: rgba(255, 255, 255, 0.1); }
  .navBarDark ul #drawerButtonItem #drawerButton i {
    color: white; }

.navBarLight {
  background-color: white; }
  .navBarLight ul li {
    color: #2F343F; }
    .navBarLight ul li:hover {
      border-bottom: 2px solid #2F343F; }
  .navBarLight ul #drawerButtonItem #drawerButton:active {
    background-color: rgba(0, 0, 0, 0.05); }
  .navBarLight ul #drawerButtonItem #drawerButton i {
    color: #2F343F; }

.navBarDark, .navBarLight {
  height: 60px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 5;
  position: fixed; }
  .navBarDark ul, .navBarLight ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 60px;
    width: 100%; }
    .navBarDark ul li, .navBarLight ul li {
      position: relative;
      overflow: hidden;
      float: left;
      cursor: pointer;
      display: block;
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      padding: 20px;
      height: 60px;
      transition: all 0.1s;
      border-bottom: 2px solid transparent; }
      .navBarDark ul li a, .navBarLight ul li a {
        text-decoration: none; }
    .navBarDark ul .brandItem, .navBarLight ul .brandItem {
      display: block;
      float: left; }
    .navBarDark ul #drawerButtonItem, .navBarLight ul #drawerButtonItem {
      display: none;
      padding: 0;
      border-bottom: 0;
      width: 56px;
      height: 56px; }
      .navBarDark ul #drawerButtonItem:hover, .navBarLight ul #drawerButtonItem:hover {
        border-bottom: 0; }
      .navBarDark ul #drawerButtonItem #drawerButton, .navBarLight ul #drawerButtonItem #drawerButton {
        width: 56px;
        height: 56px;
        border-radius: 56px;
        border: 0;
        background-color: transparent; }
        .navBarDark ul #drawerButtonItem #drawerButton i, .navBarLight ul #drawerButtonItem #drawerButton i {
          transform: scale(1.2) translateY(5%) translateX(-1%); }

@media only screen and (max-width: 768px) {
  .navBarDark, .navBarLight {
    height: 56px; }
    .navBarDark ul, .navBarLight ul {
      height: 56px; }
      .navBarDark ul li, .navBarLight ul li {
        display: none;
        height: 56px; }
      .navBarDark ul .brandItem, .navBarLight ul .brandItem {
        display: block;
        float: right;
        border-bottom: 0; }
        .navBarDark ul .brandItem:hover, .navBarLight ul .brandItem:hover {
          border-bottom: 0; }
      .navBarDark ul #drawerButtonItem, .navBarLight ul #drawerButtonItem {
        display: block; } }
/*DRAWER */
.drawer {
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transform: translateX(-100%); }
  .drawer .drawerContentDark {
    background-color: #2F343F; }
  .drawer .drawerContentLight {
    background-color: white; }
  .drawer .drawerContentDark, .drawer .drawerContentLight {
    width: 20vw;
    height: 100vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 16px 32px 0 rgba(0, 0, 0, 0.4);
    transition: 300ms ease-in; }
    .drawer .drawerContentDark .drawerHeaderDark, .drawer .drawerContentLight .drawerHeaderDark {
      background-color: #2F343F; }
      .drawer .drawerContentDark .drawerHeaderDark #drawerClose:active, .drawer .drawerContentLight .drawerHeaderDark #drawerClose:active {
        background-color: rgba(255, 255, 255, 0.1); }
      .drawer .drawerContentDark .drawerHeaderDark #drawerClose i, .drawer .drawerContentLight .drawerHeaderDark #drawerClose i {
        color: white; }
    .drawer .drawerContentDark .drawerHeaderLight, .drawer .drawerContentLight .drawerHeaderLight {
      background-color: white; }
      .drawer .drawerContentDark .drawerHeaderLight #drawerClose:active, .drawer .drawerContentLight .drawerHeaderLight #drawerClose:active {
        background-color: rgba(0, 0, 0, 0.05); }
      .drawer .drawerContentDark .drawerHeaderLight #drawerClose i, .drawer .drawerContentLight .drawerHeaderLight #drawerClose i {
        color: #2F343F; }
    .drawer .drawerContentDark .drawerHeaderDark, .drawer .drawerContentDark .drawerHeaderLight, .drawer .drawerContentLight .drawerHeaderDark, .drawer .drawerContentLight .drawerHeaderLight {
      height: 56px; }
      .drawer .drawerContentDark .drawerHeaderDark #drawerClose, .drawer .drawerContentDark .drawerHeaderLight #drawerClose, .drawer .drawerContentLight .drawerHeaderDark #drawerClose, .drawer .drawerContentLight .drawerHeaderLight #drawerClose {
        width: 56px;
        height: 56px;
        border-radius: 56px;
        border: 0;
        background-color: transparent; }
        .drawer .drawerContentDark .drawerHeaderDark #drawerClose i, .drawer .drawerContentDark .drawerHeaderLight #drawerClose i, .drawer .drawerContentLight .drawerHeaderDark #drawerClose i, .drawer .drawerContentLight .drawerHeaderLight #drawerClose i {
          transform: scale(1.2) translateY(10%); }
    .drawer .drawerContentDark .drawerNav, .drawer .drawerContentLight .drawerNav {
      padding: 0;
      margin: 0;
      list-style: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
      .drawer .drawerContentDark .drawerNav li, .drawer .drawerContentLight .drawerNav li {
        user-select: none;
        cursor: pointer;
        padding: 12px 12px;
        color: #757575; }
        .drawer .drawerContentDark .drawerNav li:hover, .drawer .drawerContentLight .drawerNav li:hover {
          background-color: rgba(0, 0, 0, 0.05); }
        .drawer .drawerContentDark .drawerNav li a, .drawer .drawerContentLight .drawerNav li a {
          font-size: 18px;
          display: block; }
          .drawer .drawerContentDark .drawerNav li a i, .drawer .drawerContentLight .drawerNav li a i {
            transform: translateY(25%); }

.drawerAnimateClose {
  animation: drawerAnimationClose 0.3s forwards; }
  .drawerAnimateClose .drawerContentLight, .drawerAnimateClose .drawerContentDark {
    animation: drawerContentAnimationClose 0.3s forwards; }

.drawerAnimateOpen {
  animation: drawerAnimationOpen 0.3s forwards; }
  .drawerAnimateOpen .drawerContentLight, .drawerAnimateOpen .drawerContentDark {
    animation: drawerContentAnimationOpen 0.3s forwards; }

@keyframes drawerContentAnimationOpen {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0%); } }
@keyframes drawerContentAnimationClose {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(-100%); } }
@keyframes drawerAnimationOpen {
  0% {
    transform: translateX(0%);
    background-color: transparent; }
  100% {
    transform: translateX(0%);
    background-color: rgba(0, 0, 0, 0.4); } }
@keyframes drawerAnimationClose {
  0% {
    transform: translateX(0%);
    background-color: rgba(0, 0, 0, 0.4); }
  99% {
    transform: translateX(0%);
    background-color: transparent; }
  100% {
    transform: translateX(-100%);
    background-color: transparent; } }
@media only screen and (max-width: 768px) {
  .drawer .drawerContentDark, .drawer .drawerContentLight {
    width: 40vw; } }
@media only screen and (max-width: 480px) {
  .drawer .drawerContentDark, .drawer .drawerContentLight {
    width: 80vw; } }
/*HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/*WRAPPERS */
.wrapperL {
  width: 1200px;
  margin: auto; }

.wrapperM {
  width: 768px;
  margin: auto; }

.wrapperS {
  width: 480px;
  margin: auto; }

.wrapperXS {
  width: 320px;
  margin: auto; }

@media only screen and (max-width: 1200px) {
  .wrapperL {
    width: 100%; } }
@media only screen and (max-width: 768px) {
  .wrapperM {
    width: 100%; } }
@media only screen and (max-width: 480px) {
  .wrapperS {
    width: 100%; } }
@media only screen and (max-width: 320px) {
  .wrapperXS {
    width: 100%; } }
/*ARTICLES */
.articleCardLight {
  background-color: white; }

.articleCardDark {
  background-color: #2F343F; }

.articleCardLight, .articleCardDark {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px; }
  .articleCardLight p, .articleCardDark p {
    padding: 0 0 0 12px; }
  .articleCardLight .headerDark, .articleCardDark .headerDark {
    background-color: #2F343F; }
    .articleCardLight .headerDark h1, .articleCardLight .headerDark h2, .articleCardLight .headerDark h3, .articleCardLight .headerDark h4, .articleCardLight .headerDark h5, .articleCardLight .headerDark h6, .articleCardDark .headerDark h1, .articleCardDark .headerDark h2, .articleCardDark .headerDark h3, .articleCardDark .headerDark h4, .articleCardDark .headerDark h5, .articleCardDark .headerDark h6 {
      color: white; }
    .articleCardLight .headerDark p, .articleCardDark .headerDark p {
      color: #B0B9C6; }
  .articleCardLight .headerLight, .articleCardDark .headerLight {
    background-color: white; }
    .articleCardLight .headerLight h1, .articleCardLight .headerLight h2, .articleCardLight .headerLight h3, .articleCardLight .headerLight h4, .articleCardLight .headerLight h5, .articleCardLight .headerLight h6, .articleCardDark .headerLight h1, .articleCardDark .headerLight h2, .articleCardDark .headerLight h3, .articleCardDark .headerLight h4, .articleCardDark .headerLight h5, .articleCardDark .headerLight h6 {
      color: #2F343F; }
    .articleCardLight .headerLight p, .articleCardDark .headerLight p {
      color: #B0B9C6; }
  .articleCardLight .headerLight, .articleCardLight .headerDark, .articleCardDark .headerLight, .articleCardDark .headerDark {
    min-height: 56px;
    border-radius: 2px 2px 0 0; }
    .articleCardLight .headerLight h1, .articleCardLight .headerLight h2, .articleCardLight .headerLight h3, .articleCardLight .headerLight h4, .articleCardLight .headerLight h5, .articleCardLight .headerLight h6, .articleCardLight .headerDark h1, .articleCardLight .headerDark h2, .articleCardLight .headerDark h3, .articleCardLight .headerDark h4, .articleCardLight .headerDark h5, .articleCardLight .headerDark h6, .articleCardDark .headerLight h1, .articleCardDark .headerLight h2, .articleCardDark .headerLight h3, .articleCardDark .headerLight h4, .articleCardDark .headerLight h5, .articleCardDark .headerLight h6, .articleCardDark .headerDark h1, .articleCardDark .headerDark h2, .articleCardDark .headerDark h3, .articleCardDark .headerDark h4, .articleCardDark .headerDark h5, .articleCardDark .headerDark h6 {
      margin: 0;
      padding: 12px 0 6px 12px;
      font-weight: 400; }
    .articleCardLight .headerLight p, .articleCardLight .headerDark p, .articleCardDark .headerLight p, .articleCardDark .headerDark p {
      font-weight: 400;
      margin: 0;
      padding: 0 0 12px 12px; }
    .articleCardLight .headerLight .dropdownSmallDark, .articleCardLight .headerLight .dropdownSmallLight, .articleCardLight .headerDark .dropdownSmallDark, .articleCardLight .headerDark .dropdownSmallLight, .articleCardDark .headerLight .dropdownSmallDark, .articleCardDark .headerLight .dropdownSmallLight, .articleCardDark .headerDark .dropdownSmallDark, .articleCardDark .headerDark .dropdownSmallLight {
      float: right; }
      .articleCardLight .headerLight .dropdownSmallDark .dropdownContent, .articleCardLight .headerLight .dropdownSmallLight .dropdownContent, .articleCardLight .headerDark .dropdownSmallDark .dropdownContent, .articleCardLight .headerDark .dropdownSmallLight .dropdownContent, .articleCardDark .headerLight .dropdownSmallDark .dropdownContent, .articleCardDark .headerLight .dropdownSmallLight .dropdownContent, .articleCardDark .headerDark .dropdownSmallDark .dropdownContent, .articleCardDark .headerDark .dropdownSmallLight .dropdownContent {
        right: 0;
        left: auto; }
  .articleCardLight .footerDark, .articleCardDark .footerDark {
    background-color: #2F343F; }
    .articleCardLight .footerDark .buttonFlat:hover, .articleCardDark .footerDark .buttonFlat:hover {
      background-color: rgba(255, 255, 255, 0.1); }
    .articleCardLight .footerDark .buttonFlat:active, .articleCardDark .footerDark .buttonFlat:active {
      background-color: rgba(255, 255, 255, 0.2); }
  .articleCardLight .footerLight, .articleCardDark .footerLight {
    background-color: white; }
  .articleCardLight .footerLight, .articleCardLight .footerDark, .articleCardDark .footerLight, .articleCardDark .footerDark {
    padding: 6px 6px 6px 6px;
    border-radius: 0 0 2px 2px;
    min-height: 56px;
    position: relative; }
    .articleCardLight .footerLight .footerComment, .articleCardLight .footerDark .footerComment, .articleCardDark .footerLight .footerComment, .articleCardDark .footerDark .footerComment {
      font-size: 18;
      margin: 0;
      position: relative;
      width: 480px; }
    .articleCardLight .footerLight .buttonFlat, .articleCardLight .footerLight .buttonRaised, .articleCardLight .footerDark .buttonFlat, .articleCardLight .footerDark .buttonRaised, .articleCardDark .footerLight .buttonFlat, .articleCardDark .footerLight .buttonRaised, .articleCardDark .footerDark .buttonFlat, .articleCardDark .footerDark .buttonRaised {
      float: right;
      height: 44px;
      padding: 0 6px;
      margin: 0 6px;
      top: 0; }

@media only screen and (max-width: 768px) {
  .articleCardDark .footerDark .footerComment, .articleCardDark .footerLight .footerComment, .articleCardLight .footerDark .footerComment, .articleCardLight .footerLight .footerComment {
    width: 320px; } }
/*FOOTER */
.footerMainDark {
  margin-top: 10vh;
  padding: 1em;
  background-color: #2F343F;
  color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2); }
  .footerMainDark a {
    color: rgba(255, 255, 255, 0.2); }

@media only screen and (max-width: 480px) {
  .footerMainDark {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.2); }
    .footerMainDark a {
      color: rgba(255, 255, 255, 0.2); } }
/*FORMS */
.formTight {
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  padding-bottom: 44px;
  font-family: "Open Sans", sans-serif; }
  .formTight .formHeader h1, .formTight .formHeader h2, .formTight .formHeader h3, .formTight .formHeader h4, .formTight .formHeader h5, .formTight .formHeader h6 {
    background-color: #2F343F;
    color: white;
    padding: 12px 0 6px 12px; }
  .formTight .inputText {
    width: 94%;
    margin: 6px 0 6px 12px;
    padding: 12px 12px 6px 12px;
    border: 0;
    border-bottom: 2px solid #BDBDBD; }
    .formTight .inputText:focus {
      border-bottom: 2px solid #5294E2; }
  .formTight .inputSubmit {
    cursor: pointer;
    float: right;
    font-size: 1.1em;
    padding: 0.3em;
    margin: 0.3em;
    border: 0;
    color: #5294E2;
    background-color: transparent; }
    .formTight .inputSubmit:hover {
      background-color: rgba(0, 0, 0, 0.05); }

.formLoose {
  background-color: transparent;
  padding-bottom: 44px;
  font-family: "Open Sans", sans-serif; }
  .formLoose .formHeader h1, .formLoose .formHeader h2, .formLoose .formHeader h3, .formLoose .formHeader h4, .formLoose .formHeader h5, .formLoose .formHeader h6 {
    color: #2F343F;
    padding: 12px 0 6px 12px; }
  .formLoose .inputText {
    width: 94%;
    margin: 6px 0 6px 12px;
    padding: 12px 12px 12px 12px;
    border: 0;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); }
  .formLoose .inputSubmit {
    cursor: pointer;
    float: right;
    font-size: 1.1em;
    padding: 0.3em;
    margin: 0.3em;
    border: 0;
    color: white;
    background-color: #5294E2;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); }
    .formLoose .inputSubmit:hover {
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2); }

/*MODAL STYLES */
.modal {
  z-index: 12;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none; }

.modalActive {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: modalAnimateOpen 0.3s forwards; }
  .modalActive .modalContentLight {
    background-color: white;
    color: #2F343F; }
  .modalActive .modalContentDark {
    background-color: #2F343F;
    color: white; }
  .modalActive .modalContentLight, .modalActive .modalContentDark {
    animation: modalContentAnimateOpen 0.3s forwards;
    width: 480px;
    height: 480px;
    display: block;
    position: relative;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2); }
    .modalActive .modalContentLight .modalHeaderLight, .modalActive .modalContentDark .modalHeaderLight {
      background-color: white; }
      .modalActive .modalContentLight .modalHeaderLight h1, .modalActive .modalContentLight .modalHeaderLight h2, .modalActive .modalContentLight .modalHeaderLight h3, .modalActive .modalContentLight .modalHeaderLight h4, .modalActive .modalContentLight .modalHeaderLight h5, .modalActive .modalContentLight .modalHeaderLight h6, .modalActive .modalContentDark .modalHeaderLight h1, .modalActive .modalContentDark .modalHeaderLight h2, .modalActive .modalContentDark .modalHeaderLight h3, .modalActive .modalContentDark .modalHeaderLight h4, .modalActive .modalContentDark .modalHeaderLight h5, .modalActive .modalContentDark .modalHeaderLight h6 {
        color: #2F343F; }
    .modalActive .modalContentLight .modalHeaderDark, .modalActive .modalContentDark .modalHeaderDark {
      background-color: #2F343F; }
      .modalActive .modalContentLight .modalHeaderDark h1, .modalActive .modalContentLight .modalHeaderDark h2, .modalActive .modalContentLight .modalHeaderDark h3, .modalActive .modalContentLight .modalHeaderDark h4, .modalActive .modalContentLight .modalHeaderDark h5, .modalActive .modalContentLight .modalHeaderDark h6, .modalActive .modalContentDark .modalHeaderDark h1, .modalActive .modalContentDark .modalHeaderDark h2, .modalActive .modalContentDark .modalHeaderDark h3, .modalActive .modalContentDark .modalHeaderDark h4, .modalActive .modalContentDark .modalHeaderDark h5, .modalActive .modalContentDark .modalHeaderDark h6 {
        color: white; }
    .modalActive .modalContentLight .modalHeaderLight, .modalActive .modalContentLight .modalHeaderDark, .modalActive .modalContentDark .modalHeaderLight, .modalActive .modalContentDark .modalHeaderDark {
      position: relative;
      min-height: 56px; }
      .modalActive .modalContentLight .modalHeaderLight h1, .modalActive .modalContentLight .modalHeaderLight h2, .modalActive .modalContentLight .modalHeaderLight h3, .modalActive .modalContentLight .modalHeaderLight h4, .modalActive .modalContentLight .modalHeaderLight h5, .modalActive .modalContentLight .modalHeaderLight h6, .modalActive .modalContentLight .modalHeaderDark h1, .modalActive .modalContentLight .modalHeaderDark h2, .modalActive .modalContentLight .modalHeaderDark h3, .modalActive .modalContentLight .modalHeaderDark h4, .modalActive .modalContentLight .modalHeaderDark h5, .modalActive .modalContentLight .modalHeaderDark h6, .modalActive .modalContentDark .modalHeaderLight h1, .modalActive .modalContentDark .modalHeaderLight h2, .modalActive .modalContentDark .modalHeaderLight h3, .modalActive .modalContentDark .modalHeaderLight h4, .modalActive .modalContentDark .modalHeaderLight h5, .modalActive .modalContentDark .modalHeaderLight h6, .modalActive .modalContentDark .modalHeaderDark h1, .modalActive .modalContentDark .modalHeaderDark h2, .modalActive .modalContentDark .modalHeaderDark h3, .modalActive .modalContentDark .modalHeaderDark h4, .modalActive .modalContentDark .modalHeaderDark h5, .modalActive .modalContentDark .modalHeaderDark h6 {
        margin: 0;
        padding: 12px 0 6px 12px; }
      .modalActive .modalContentLight .modalHeaderLight p, .modalActive .modalContentLight .modalHeaderDark p, .modalActive .modalContentDark .modalHeaderLight p, .modalActive .modalContentDark .modalHeaderDark p {
        color: #B0B9C6;
        margin: 0;
        padding: 6px 0 12px 12px; }
      .modalActive .modalContentLight .modalHeaderLight .dropdownSmallLight, .modalActive .modalContentLight .modalHeaderLight .dropdownSmallDark, .modalActive .modalContentLight .modalHeaderDark .dropdownSmallLight, .modalActive .modalContentLight .modalHeaderDark .dropdownSmallDark, .modalActive .modalContentDark .modalHeaderLight .dropdownSmallLight, .modalActive .modalContentDark .modalHeaderLight .dropdownSmallDark, .modalActive .modalContentDark .modalHeaderDark .dropdownSmallLight, .modalActive .modalContentDark .modalHeaderDark .dropdownSmallDark {
        position: absolute;
        right: 0;
        top: 0; }
        .modalActive .modalContentLight .modalHeaderLight .dropdownSmallLight .dropdownContent, .modalActive .modalContentLight .modalHeaderLight .dropdownSmallDark .dropdownContent, .modalActive .modalContentLight .modalHeaderDark .dropdownSmallLight .dropdownContent, .modalActive .modalContentLight .modalHeaderDark .dropdownSmallDark .dropdownContent, .modalActive .modalContentDark .modalHeaderLight .dropdownSmallLight .dropdownContent, .modalActive .modalContentDark .modalHeaderLight .dropdownSmallDark .dropdownContent, .modalActive .modalContentDark .modalHeaderDark .dropdownSmallLight .dropdownContent, .modalActive .modalContentDark .modalHeaderDark .dropdownSmallDark .dropdownContent {
          right: 0;
          left: auto; }
    .modalActive .modalContentLight .modalFooterLight, .modalActive .modalContentDark .modalFooterLight {
      background-color: white;
      color: #2F343F; }
    .modalActive .modalContentLight .modalFooterDark, .modalActive .modalContentDark .modalFooterDark {
      background-color: #2F343F;
      color: white; }
      .modalActive .modalContentLight .modalFooterDark .buttonFlat:hover, .modalActive .modalContentDark .modalFooterDark .buttonFlat:hover {
        background-color: rgba(255, 255, 255, 0.1); }
      .modalActive .modalContentLight .modalFooterDark .buttonFlat:active, .modalActive .modalContentDark .modalFooterDark .buttonFlat:active {
        background-color: rgba(255, 255, 255, 0.2); }
    .modalActive .modalContentLight .modalFooterLight, .modalActive .modalContentLight .modalFooterDark, .modalActive .modalContentDark .modalFooterLight, .modalActive .modalContentDark .modalFooterDark {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      min-height: 56px;
      padding: 6px; }
      .modalActive .modalContentLight .modalFooterLight .buttonFlat, .modalActive .modalContentLight .modalFooterLight .buttonRaised, .modalActive .modalContentLight .modalFooterDark .buttonFlat, .modalActive .modalContentLight .modalFooterDark .buttonRaised, .modalActive .modalContentDark .modalFooterLight .buttonFlat, .modalActive .modalContentDark .modalFooterLight .buttonRaised, .modalActive .modalContentDark .modalFooterDark .buttonFlat, .modalActive .modalContentDark .modalFooterDark .buttonRaised {
        float: right;
        height: 44px;
        padding: 0 6px;
        margin: 0 6px; }

@media only screen and (max-width: 480px) {
  .modalActive .modalContentLight, .modalActive .modalContentDark {
    width: 320px;
    min-height: 320px; } }
@media only screen and (max-width: 320px) {
  .modalActive .modalContentLight, .modalActive .modalContentDark {
    width: 100%;
    min-height: 50%; } }
@keyframes modalAnimateOpen {
  0% {
    background-color: transparent; }
  100% {
    background-color: rgba(0, 0, 0, 0.4); } }
@keyframes modalContentAnimateOpen {
  0% {
    transform: scale(0);
    border-radius: 100%; }
  100% {
    transform: scale(1);
    border-radius: 0; } }
/*BUTTONS */
button::-moz-focus-inner {
  border: 0; }

button {
  user-select: none;
  -webkit-user-select: none; }

.buttonActionFloating {
  position: fixed;
  bottom: 28px;
  right: 28px;
  width: 56px;
  height: 56px;
  border-radius: 56px;
  border: 0;
  background-color: #5294E2;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 12px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
  z-index: 12; }
  .buttonActionFloating:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 12px 24px 0 rgba(0, 0, 0, 0.4); }
  .buttonActionFloating:active {
    background-color: #669FE5; }

/* FLAT BUTTON */
.buttonFlat {
  border-radius: 2px;
  cursor: pointer;
  border: 0;
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
  padding: 0.5em 0.7em;
  margin: 0.2em 0.2em;
  color: #5294E2;
  background-color: transparent; }
  .buttonFlat:hover {
    background-color: rgba(0, 0, 0, 0.05); }
  .buttonFlat:active {
    background-color: rgba(0, 0, 0, 0.1); }

/* RAISED BUTTON */
.buttonRaised {
  border-radius: 2px;
  cursor: pointer;
  border: 0;
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
  padding: 0.5em 0.7em;
  margin: 0.2em 0.2em;
  color: white;
  background-color: #5294E2;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  .buttonRaised:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
  .buttonRaised:active {
    background-color: #669FE5; }

/* ACTION BUTTON */
.buttonAction {
  cursor: pointer;
  width: 56px;
  height: 56px;
  border-radius: 56px;
  border: 0;
  background-color: #5294E2;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  .buttonAction:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
  .buttonAction:active {
    background-color: #669FE5; }
  .buttonAction i {
    transform: scale(1) translateY(5%); }

.buttonFloatRight {
  float: right; }

/*DROPDOWN */
.dropdownSmallDark .buttonDropdownSmall:active {
  background-color: rgba(255, 255, 255, 0.1); }
.dropdownSmallDark .buttonDropdownSmall i {
  color: white; }

.dropdownSmallLight .buttonDropdownSmall:active {
  background-color: rgba(0, 0, 0, 0.05); }
.dropdownSmallLight .buttonDropdownSmall i {
  color: #B0B9C6; }

.dropdownSmallDark, .dropdownSmallLight {
  position: relative;
  display: block; }
  .dropdownSmallDark .buttonDropdownSmall, .dropdownSmallLight .buttonDropdownSmall {
    cursor: pointer;
    width: 56px;
    height: 56px;
    border: 0;
    border-radius: 56px;
    background-color: transparent; }
    .dropdownSmallDark .buttonDropdownSmall i, .dropdownSmallLight .buttonDropdownSmall i {
      transform: scale(1.2) translateY(10%); }
  .dropdownSmallDark .dropdownContent, .dropdownSmallLight .dropdownContent {
    position: absolute;
    z-index: 3;
    padding: 0;
    margin: 0;
    display: none;
    top: 56px;
    left: 0;
    width: 160px;
    height: auto;
    white-space: nowrap;
    background-color: #FEFEFE;
    list-style: none;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2); }
    .dropdownSmallDark .dropdownContent li, .dropdownSmallLight .dropdownContent li {
      cursor: pointer;
      font-family: "Open Sans", sans-serif;
      padding: 0.5em;
      color: #212121; }
      .dropdownSmallDark .dropdownContent li:hover, .dropdownSmallLight .dropdownContent li:hover {
        background-color: rgba(0, 0, 0, 0.04); }
      .dropdownSmallDark .dropdownContent li:active, .dropdownSmallLight .dropdownContent li:active {
        background-color: rgba(0, 0, 0, 0.1); }
  .dropdownSmallDark .dropdownSmallContentShow, .dropdownSmallLight .dropdownSmallContentShow {
    display: block;
    transform-origin: top;
    animation: dropdownSmallAnimate 0.3s forwards; }

@keyframes dropdownSmallAnimate {
  0% {
    transform: translateY(-20%) scale(0.9);
    opacity: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); }
  100% {
    transform: translateY(-10%) translateX(-5%) scale(1);
    opacity: 1;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2); } }
.dropdownLargeDark .buttonDropdownLarge {
  color: #5294E2; }
.dropdownLargeDark .dropdownContent {
  background-color: #2F343F; }
  .dropdownLargeDark .dropdownContent li {
    color: white; }
    .dropdownLargeDark .dropdownContent li:hover {
      background-color: rgba(255, 255, 255, 0.1); }
    .dropdownLargeDark .dropdownContent li:active {
      background-color: rgba(255, 255, 255, 0.2); }

.dropdownLargeLight .buttonDropdownLarge {
  color: #5294E2; }
.dropdownLargeLight .dropdownContent {
  background-color: white; }
  .dropdownLargeLight .dropdownContent li:hover {
    background-color: rgba(0, 0, 0, 0.04); }
  .dropdownLargeLight .dropdownContent li:active {
    background-color: rgba(0, 0, 0, 0.1); }

.dropdownLargeDark, .dropdownLargeLight {
  position: relative;
  display: block; }
  .dropdownLargeDark .buttonDropdownLarge, .dropdownLargeLight .buttonDropdownLarge {
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    height: 56px;
    border: 0;
    font-size: 18px; }
  .dropdownLargeDark .dropdownContent, .dropdownLargeLight .dropdownContent {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    position: absolute;
    z-index: 3;
    top: 56px;
    left: 0;
    display: none; }
    .dropdownLargeDark .dropdownContent li, .dropdownLargeLight .dropdownContent li {
      cursor: pointer;
      font-size: 18px;
      padding: 8px;
      text-align: center;
      cursor: pointer; }
  .dropdownLargeDark .dropdownLargeContentShow, .dropdownLargeLight .dropdownLargeContentShow {
    display: block;
    transform-origin: top;
    animation: dropdownLargeShow 0.3s forwards; }
  .dropdownLargeDark .dropdownLargeContentHide, .dropdownLargeLight .dropdownLargeContentHide {
    display: block;
    transform-origin: top;
    animation: dropdownLargeHide 0.3s forwards; }

@keyframes dropdownLargeShow {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2); }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2); } }
@keyframes dropdownLargeHide {
  0% {
    opacity: 1;
    transform: rotateX(0deg);
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2); }
  100% {
    opacity: 0;
    transform: rotateX(90deg);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2); } }
@media only screen and (max-width: 768px) {
  .buttonActionFloating:hover {
    background-color: #5294E2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 12px 0 rgba(0, 0, 0, 0.4); }
  .buttonActionFloating:active {
    background-color: #669FE5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 12px 24px 0 rgba(0, 0, 0, 0.4); }

  .buttonFlat:hover {
    background-color: transparent; }
  .buttonFlat:active {
    background-color: rgba(0, 0, 0, 0.1); }

  .buttonRaised:hover {
    background-color: #5294E2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  .buttonRaised:active {
    background-color: #669FE5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

  .buttonAction:hover {
    background-color: #5294E2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  .buttonAction:active {
    transform: scale(1.025);
    background-color: #669FE5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.2); } }
/* FLOATING ACTION BUTTON MENU */
.fabMenuContainer {
  position: fixed;
  bottom: 28px;
  right: 28px;
  z-index: 12; }
  .fabMenuContainer .fabMenuButton {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    width: 56px;
    height: 56px;
    border-radius: 56px;
    border: 0;
    background-color: #5294E2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 12px 0 rgba(0, 0, 0, 0.4); }
    .fabMenuContainer .fabMenuButton:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 12px 24px 0 rgba(0, 0, 0, 0.4); }
    .fabMenuContainer .fabMenuButton:active {
      background-color: #669FE5;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 12px 24px 0 rgba(0, 0, 0, 0.4); }
    .fabMenuContainer .fabMenuButton i {
      color: white; }
  .fabMenuContainer .fabMenuButtonActive {
    background-color: #669FE5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 12px 24px 0 rgba(0, 0, 0, 0.4); }
    .fabMenuContainer .fabMenuButtonActive i {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg); }
  .fabMenuContainer .fabMenuList {
    position: absolute;
    bottom: 56px;
    right: 0;
    list-style: none;
    width: 56px;
    height: auto;
    display: none;
    margin: 0;
    padding: 0; }
    .fabMenuContainer .fabMenuList li {
      padding: 12px; }
      .fabMenuContainer .fabMenuList li .fabMenuListButton {
        cursor: pointer;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        border: none;
        background-color: #fefefe;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 12px 24px 0 rgba(0, 0, 0, 0.4); }
        .fabMenuContainer .fabMenuList li .fabMenuListButton i {
          color: #5294E2;
          transform: translateX(-3px); }
  .fabMenuContainer .fabMenuListActive {
    display: block;
    animation: fabMenuListAnimateIn 0.3s forwards; }
    .fabMenuContainer .fabMenuListActive li {
      animation: fabMenuListItemAnimateIn 0.15s forwards; }
  .fabMenuContainer .fabMenuListInactive {
    display: block;
    animation: fabMenuListAnimateOut 0.15s forwards; }
    .fabMenuContainer .fabMenuListInactive li {
      animation: fabMenuListItemAnimateOut 0.15s forwards; }

@keyframes fabMenuListAnimateIn {
  0% {
    opacity: 0;
    transform: translateY(14px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes fabMenuListItemAnimateIn {
  0% {
    transform: scale(0); }
  80% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }
@keyframes fabMenuListAnimateOut {
  0% {
    opacity: 1;
    transform: translateY(0); }
  100% {
    opacity: 0;
    transform: translateY(14px);
    display: none; } }
@keyframes fabMenuListItemAnimateOut {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }
/* PADDING STYLES */
/* 6PX */
.padding6 {
  padding: 6px; }

.paddingTop6 {
  padding-top: 6px; }

.paddingRight6 {
  padding-right: 6px; }

.paddingBottom6 {
  padding-bottom: 6px; }

.paddingLeft6 {
  padding-left: 6px; }

/* 12PX */
.padding12 {
  padding: 12px; }

.paddingTop12 {
  padding-top: 12px; }

.paddingRight12 {
  padding-right: 12px; }

.paddingBottom12 {
  padding-bottom: 12px; }

.paddingLeft12 {
  padding-left: 12px; }

/* 24PX */
.padding24 {
  padding: 24px; }

.paddingTop24 {
  padding-top: 24px; }

.paddingRight24 {
  padding-right: 24px; }

.paddingBottom24 {
  padding-bottom: 24px; }

.paddingLeft24 {
  padding-left: 24px; }

/* 48PX */
.padding48 {
  padding: 48px; }

.paddingTop48 {
  padding-top: 48px; }

.paddingRight48 {
  padding-right: 48px; }

.paddingBottom48 {
  padding-bottom: 48px; }

.paddingLeft48 {
  padding-left: 48px; }

/* MARGIN STYLES */
/* 6PX */
.margin6 {
  margin: 6px; }

.marginTop6 {
  margin-top: 6px; }

.marginRight6 {
  margin-right: 6px; }

.marginBottom6 {
  margin-bottom: 6px; }

.marginLeft6 {
  margin-left: 6px; }

/* 12PX */
.margin12 {
  margin: 12px; }

.marginTop12 {
  margin-top: 12px; }

.marginRight12 {
  margin-right: 12px; }

.marginBottom12 {
  margin-bottom: 12px; }

.marginLeft12 {
  margin-left: 12px; }

/* 24PX */
.margin24 {
  margin: 24px; }

.marginTop24 {
  margin-top: 24px; }

.marginRight24 {
  margin-right: 24px; }

.marginBottom24 {
  margin-bottom: 24px; }

.marginLeft24 {
  margin-left: 24px; }

/* 48PX */
.margin48 {
  margin: 48px; }

.marginTop48 {
  margin-top: 48px; }

.marginRight48 {
  margin-right: 48px; }

.marginBottom48 {
  margin-bottom: 48px; }

.marginLeft48 {
  margin-left: 48px; }

* {
  box-sizing: border-box; }

.row::after {
  content: "";
  clear: both;
  display: table; }

[class*="col-"] {
  float: left;
  padding: 0.5em; }

/*RESPONSIVE GRID */
/*LARGE 1200PX */
.col-l-1 {
  width: 8.33%; }

.col-l-2 {
  width: 16.66%; }

.col-l-3 {
  width: 25%; }

.col-l-4 {
  width: 33.33%; }

.col-l-5 {
  width: 41.66%; }

.col-l-6 {
  width: 50%; }

.col-l-7 {
  width: 58.33%; }

.col-l-8 {
  width: 66.66%; }

.col-l-9 {
  width: 75%; }

.col-l-10 {
  width: 83.33%; }

.col-l-11 {
  width: 91.66%; }

.col-l-12 {
  width: 100%; }

@media only screen and (max-width: 1200px) {
  [class*="col-l-"] {
    width: 100%; } }
/*MEDIUM 768PX */
.col-m-1 {
  width: 8.33%; }

.col-m-2 {
  width: 16.66%; }

.col-m-3 {
  width: 25%; }

.col-m-4 {
  width: 33.33%; }

.col-m-5 {
  width: 41.66%; }

.col-m-6 {
  width: 50%; }

.col-m-7 {
  width: 58.33%; }

.col-m-8 {
  width: 66.66%; }

.col-m-9 {
  width: 75%; }

.col-m-10 {
  width: 83.33%; }

.col-m-11 {
  width: 91.66%; }

.col-m-12 {
  width: 100%; }

@media only screen and (max-width: 768px) {
  [class*="col-m-"] {
    width: 100%; } }
/*SMALL 480PX */
.col-s-1 {
  width: 8.33%; }

.col-s-2 {
  width: 16.66%; }

.col-s-3 {
  width: 25%; }

.col-s-4 {
  width: 33.33%; }

.col-s-5 {
  width: 41.66%; }

.col-s-6 {
  width: 50%; }

.col-s-7 {
  width: 58.33%; }

.col-s-8 {
  width: 66.66%; }

.col-s-9 {
  width: 75%; }

.col-s-10 {
  width: 83.33%; }

.col-s-11 {
  width: 91.66%; }

.col-s-12 {
  width: 100%; }

@media only screen and (max-width: 480px) {
  [class*="col-s-"] {
    width: 100%; } }
/*EXTRA SMALL 320PX */
.col-xs-1 {
  width: 8.33%; }

.col-xs-2 {
  width: 16.66%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33%; }

.col-xs-5 {
  width: 41.66%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33%; }

.col-xs-8 {
  width: 66.66%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33%; }

.col-xs-11 {
  width: 91.66%; }

.col-xs-12 {
  width: 100%; }

@media only screen and (max-width: 320px) {
  [class*="col-xs-"] {
    width: 100%; } }

/*# sourceMappingURL=clever.css.map */
