/*COMPONENTS SELECTION */
.showComp {
  display: block; }

.hideComp {
  display: none; }

.wrapperL {
  opacity: 1; }

.animateWrapper {
  animation: fadeIn 1.5s;
  opacity: 1; }

.elementListPin {
  position: fixed;
  top: 80px;
  /*left: 18.75% */
  width: 15%;
  left: 18.75vw; }

#componentsWrapper .row .col-m-3 {
  position: relative; }

@media only screen and (max-width: 1650px) {
  .elementListPin {
    width: 20%;
    left: 8.5vw; } }
@media only screen and (max-width: 1366px) {
  .elementListPin {
    width: 21%;
    left: 6.5vw; } }
@media only screen and (max-width: 1200px) {
  .elementListPin {
    width: 23.75%;
    left: 0.5em; } }
/*ANIMATE */
@keyframes selectionActive {
  100% {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #5a9ded; } }
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }
/*MISC THINGS */
.elementList {
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 0.5; }

#mobileDrop {
  display: none; }

@media only screen and (max-width: 786px) {
  .elementList {
    display: none; }

  #mobileDrop {
    display: block;
    float: right;
    background-color: transparent;
    color: white; }
    #mobileDrop:active {
      background-color: rgba(255, 255, 255, 0.1); }
    #mobileDrop i {
      color: white; }

  #mobileDropdownContent {
    right: 0;
    left: auto; } }
.elementList li {
  cursor: pointer;
  background-color: #5294e2;
  color: #ffffff;
  margin: 0.6em 0em;
  font-size: 18px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 2px; }
  .elementList li:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #5a9ded; }
  .elementList li a {
    padding-right: 100%;
    white-space: nowrap; }
    .elementList li a button {
      cursor: pointer;
      background-color: transparent;
      color: #ffffff;
      padding: 0;
      font-size: 16px;
      border: 0;
      font-weight: 500;
      width: 100%;
      text-align: left;
      padding: 0.6em; }
      .elementList li a button:focus {
        animation: selectionActive 0.5s forwards; }

.elementDisplay {
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  min-height: 214px;
  border-radius: 2px; }
  .elementDisplay article {
    padding: 0;
    margin: 0;
    box-shadow: none; }
    .elementDisplay article header {
      background-color: #2f343f;
      color: #ffffff; }
      .elementDisplay article header h3 {
        font-weight: 400; }
    .elementDisplay article h4 {
      font-weight: 500;
      color: #212121;
      padding: 56px 0 3px 12px;
      margin: 0; }

.code {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 12px 12px;
  font-family: "Space Mono", monospace;
  font-size: 14px;
  margin: 0 0;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2) inset; }

article .code {
  margin: 12px 0; }

.demoArea {
  padding: 0 12px 0 12px; }

.gridDemo {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.ink {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  transform: scale(0);
  transition: all 0s; }
  .ink.animate {
    animation: ripple 0.65s linear; }

/*animation effect */
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(1.5); } }
.inkDark {
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  transform: scale(0);
  transition: all 0s; }
  .inkDark.animate {
    animation: ripple 0.5s linear; }

/*animation effect */
article .row section {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  article .row section a {
    text-align: center;
    font-size: 125%;
    text-align: center;
    width: 200px;
    margin: auto; }
  article .row section span {
    color: #5294e2;
    font-size: 50px;
    width: 100%;
    text-align: center; }

footer {
  color: rgba(255, 255, 255, 0.1); }
  footer a {
    color: rgba(255, 255, 255, 0.1); }

@media only screen and (min-width: 787px) {
  #iconArticle, #dependArticle {
    min-height: 300px; }
    #iconArticle .row .col-s-6, #dependArticle .row .col-s-6 {
      height: 15vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #iconArticle .row .col-s-6 a span, #dependArticle .row .col-s-6 a span {
        display: block;
        font-size: 50px;
        text-decoration: none;
        color: #5294e2;
        width: 50px;
        margin: auto; } }
.headerDecorator {
  color: #5294e2;
  font-weight: 500; }

/*SOMETHING GRADIENT */
.backgroundGradient {
  background: #2f343f;
  background: -webkit-linear-gradient(left top, #2f343f, #5294e2);
  background: -o-linear-gradient(bottom right, #2f343f, #5294e2);
  background: -moz-linear-gradient(bottom right, #2f343f, #5294e2);
  background: linear-gradient(to bottom right, #2f343f, #5294e2); }

article p {
  padding: 12px 12px 12px 12px;
  margin: 0; }
article header {
  height: 56px; }
  article header h3 {
    font-size: 28px;
    padding: 0.5em;
    margin: 0;
    color: white; }

/*# sourceMappingURL=misc.css.map */

/*# sourceMappingURL=misc.css.map */
