/*COMPONENTS SELECTION */
.showComp {
  display: block; }

.hideComp {
  display: none; }

.wrapperL {
  opacity: 1; }

.animateWrapper {
  animation: fadeIn 1.5s;
  -webkit-animation: fadeIn 1.5s;
  -moz-animation: fadeIn 1.5s;
  opacity: 1; }

.elementListPin {
  position: fixed;
  top: 80px;
  /*left: 18.75% */
  width: 15%;
  left: 18.75vw; }

#componentsWrapper .row .col-m-3 {
  position: relative; }

@media only screen and (max-width: 1650px) {
  .elementListPin {
    width: 20%;
    left: 8.5vw; } }
@media only screen and (max-width: 1366px) {
  .elementListPin {
    width: 21%;
    left: 6.5vw; } }
@media only screen and (max-width: 1200px) {
  .elementListPin {
    width: 23.75%;
    left: 0.5em; } }
.animateCanvas {
  width: 250px;
  height: 200px;
  margin: 0 auto 60px auto;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  animation: canvasAnimate 3s infinite; }
  .animateCanvas .header {
    background-color: #2f343f;
    width: 100%;
    height: 40%;
    z-index: 1; }
  .animateCanvas .accent {
    background-color: #5294e2;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    z-index: 3;
    position: absolute;
    top: calc(40% - 12.5px);
    right: 25px;
    bottom: calc(60% - 12.5px);
    animation: accentAnimate 3s infinite; }
  .animateCanvas .card {
    background-color: white;
    width: 50%;
    height: 50%;
    z-index: 2;
    position: absolute;
    top: 30%;
    right: 25%;
    animation: cardAnimate 3s infinite; }

@keyframes canvasAnimate {
  0% {
    width: 250px;
    height: 200px; }
  33% {
    width: 150px;
    height: 200px; }
  66% {
    width: 75px;
    height: 125px; }
  100% {
    width: 250px;
    height: 200px; } }
@keyframes accentAnimate {
  0% {
    top: calc(40% - 12.5px);
    right: 25px;
    bottom: calc(60% - 12.5px);
    width: 25px;
    height: 25px; }
  33% {
    top: calc(20% - 12.5px);
    right: 12.5px;
    bottom: calc(80% - 12.5px);
    width: 25px;
    height: 25px; }
  66% {
    top: calc(100% - 30px);
    right: 10px;
    bottom: 10px;
    width: 20px;
    height: 20px; }
  100% {
    top: calc(40% - 12.5px);
    right: 25px;
    bottom: calc(60% - 12.5px);
    width: 25px;
    height: 25px; } }
@keyframes cardAnimate {
  0% {
    top: 30%;
    right: 25%;
    width: 50%;
    height: 50%; }
  33% {
    top: 20%;
    right: 0%;
    width: 100%;
    height: 80%; }
  66% {
    top: 10%;
    right: 0%;
    width: 100%;
    height: 90%; }
  100%; }
/*ANIMATE */
@keyframes selectionActive {
  100% {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #5a9ded; } }
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }
/*MISC THINGS */
body {
  width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box; }

#home {
  display: block;
  padding: 20vh 0 0 0;
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s; }
  #home div {
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover; }
    #home div h1 {
      font-family: "Space Mono", monospace;
      text-align: center;
      font-size: 3.5em;
      padding: 0;
      margin: 0;
      color: #2f343f; }
    #home div h2 {
      color: #2f343f;
      font-weight: 500;
      font-size: 1.5em; }

#animation {
  height: 40vh;
  position: relative; }

@media only screen and (max-width: 480px) {
  #home {
    padding: 20vh 0 10vh 0;
    height: 50vh; }
    #home div h1 {
      font-size: 3em; }
    #home div h2 {
      font-size: 1.2em; }

  #animation {
    height: 50vh; } }
a {
  text-decoration: none; }

@media only screen and (max-width: 768px) {
  section.col-m-9 {
    padding: 0; } }
.elementList {
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 0.5; }

#mobileDrop {
  display: none; }

@media only screen and (max-width: 786px) {
  .elementList {
    display: none; }

  #mobileDrop {
    display: block;
    float: right;
    background-color: transparent;
    color: white; }
    #mobileDrop:active {
      background-color: rgba(255, 255, 255, 0.1); }
    #mobileDrop i {
      color: white; }

  #mobileDropdownContent {
    right: 0;
    left: auto; } }
.elementList li {
  cursor: pointer;
  background-color: #5294e2;
  color: #ffffff;
  margin: 0.6em 0em;
  font-size: 18px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 2px; }
  .elementList li:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #5a9ded; }
  .elementList li a {
    padding-right: 100%;
    white-space: nowrap; }
    .elementList li a button {
      cursor: pointer;
      background-color: transparent;
      color: #ffffff;
      padding: 0;
      font-size: 16px;
      border: 0;
      font-weight: 500;
      width: 100%;
      text-align: left;
      padding: 0.6em; }
      .elementList li a button:focus {
        animation: selectionActive 0.5s forwards; }

.elementDisplay {
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  min-height: 214px;
  border-radius: 2px; }
  .elementDisplay article {
    padding: 0;
    margin: 0;
    box-shadow: none; }
    .elementDisplay article header {
      background-color: #2f343f;
      color: #ffffff; }
      .elementDisplay article header h3 {
        font-weight: 400; }
    .elementDisplay article h4 {
      font-weight: 500;
      color: #212121;
      padding: 56px 0 3px 12px;
      margin: 0; }

.code {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 12px 12px;
  font-family: "Space Mono", monospace;
  font-size: 14px;
  margin: 0 0;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2) inset; }

article .code {
  margin: 12px 0; }

.demoArea {
  padding: 0 12px 0 12px; }

.gridDemo {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.ink {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  transform: scale(0);
  transition: all 0s; }
  .ink.animate {
    animation: ripple 0.65s linear; }

/*animation effect */
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(1.5); } }
.inkDark {
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  transform: scale(0);
  transition: all 0s; }
  .inkDark.animate {
    animation: ripple 0.5s linear; }

/*animation effect */
article .row section {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  article .row section a {
    text-align: center;
    font-size: 125%;
    text-align: center;
    width: 200px;
    margin: auto; }
  article .row section span {
    color: #5294e2;
    font-size: 50px;
    width: 100%;
    text-align: center; }

footer {
  color: rgba(255, 255, 255, 0.1); }
  footer a {
    color: rgba(255, 255, 255, 0.1); }

@media only screen and (min-width: 787px) {
  #iconArticle, #dependArticle {
    min-height: 300px; }
    #iconArticle .row .col-s-6, #dependArticle .row .col-s-6 {
      height: 15vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #iconArticle .row .col-s-6 a span, #dependArticle .row .col-s-6 a span {
        display: block;
        font-size: 50px;
        text-decoration: none;
        color: #5294e2;
        width: 50px;
        margin: auto; } }
.headerDecorator {
  color: #5294e2;
  font-weight: 500; }

/*SOMETHING GRADIENT */
.backgroundGradient {
  background: #2f343f;
  background: -webkit-linear-gradient(left top, #2f343f, #5294e2);
  background: -o-linear-gradient(bottom right, #2f343f, #5294e2);
  background: -moz-linear-gradient(bottom right, #2f343f, #5294e2);
  background: linear-gradient(to bottom right, #2f343f, #5294e2); }

article p {
  padding: 12px 12px 12px 12px;
  margin: 0; }
article header {
  height: 56px; }
  article header h3 {
    font-size: 28px;
    padding: 0.5em;
    margin: 0;
    color: white; }

/*# sourceMappingURL=misc.css.map */

/*# sourceMappingURL=misc.css.map */
