/*HERO
.hero
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

/*WRAPPERS

.wrapperL
  width: 1200px
  margin: auto
.wrapperM
  width: 768px
  margin: auto
.wrapperS
  width: 480px
  margin: auto
.wrapperXS
  width: 320px
  margin: auto

@media only screen and (max-width: 1200px)
  .wrapperL
    width: 100%
@media only screen and (max-width: 768px)
  .wrapperM
    width: 100%
@media only screen and (max-width: 480px)
  .wrapperS
    width: 100%
@media only screen and (max-width: 320px)
  .wrapperXS
    width: 100%

/*ARTICLES

.articleCardLight
  background-color: white
.articleCardDark
  background-color: $primary
.articleCardLight, .articleCardDark
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 2px 4px 0 rgba(0,0,0,0.2)
  border-radius: 2px
  p
    padding: 0 0 0 12px
  .headerDark
    background-color: $primary
    h1,h2,h3,h4,h5,h6
      color: white
    p
      color: $primaryLight
  .headerLight
    background-color: white
    h1,h2,h3,h4,h5,h6
      color: $primary
    p
      color: $primaryLight
  .headerLight, .headerDark
    min-height: 56px
    border-radius: 2px 2px 0 0
    h1,h2,h3,h4,h5,h6
      margin: 0
      padding: 12px 0 6px 12px
      font-weight: 400
    p
      font-weight: 400
      margin: 0
      padding: 0 0 12px 12px
    .dropdownSmallDark, .dropdownSmallLight
      float: right
      .dropdownContent
        right: 0
        left: auto
  .footerDark
    background-color: $primary
    .buttonFlat
      &:hover
        background-color: rgba(255,255,255,0.1)
      &:active
        background-color: rgba(255,255,255,0.2)
  .footerLight
    background-color: white
  .footerLight, .footerDark
    padding: 6px 6px 6px 6px
    border-radius: 0 0 2px 2px
    min-height: 56px
    position: relative
    .footerComment
      font-size: 18
      margin: 0
      position: relative
      width: 480px
    .buttonFlat, .buttonRaised
      float: right
      height: 44px
      padding: 0 6px
      margin: 0 0 0 6px
      top: 0

@media only screen and (max-width: 768px)
  .articleCardDark, .articleCardLight
    .footerDark, .footerLight
      .footerComment
        width: 320px

/*FOOTER

.footerMainDark
  margin-top: 10vh
  padding: 1em
  background-color: $primary
  color: rgba(255,255,255,0.2)
  box-shadow: 0 2px 10px 2px rgba(0,0,0,0.2)
  a
    color: rgba(255,255,255,0.2)

@media only screen and (max-width: 480px)
  .footerMainDark
    font-size: 12px
    color: rgba(255,255,255,0.2)
    a
      color: rgba(255,255,255,0.2)
