/*BUTTONS*/

button::-moz-focus-inner
  border: 0
button
  user-select: none
  -webkit-user-select: none

.buttonActionFloating
  position: fixed
  bottom: 28px
  right: 28px
  width: 56px
  height: 56px
  border-radius: 56px
  border: 0
  background-color: $accent
  color: white
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1), 0 6px 12px 0 rgba(0,0,0,0.4)
  cursor: pointer
  z-index: 12
  &:hover
    background-color: $accentLight
    box-shadow: 0 4px 8px rgba(0,0,0,0.1), 0 12px 24px 0 rgba(0,0,0,0.4)
@media only screen and (max-width: 768px)
  .buttonActionFloating
    &:hover
      background-color: $accent
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1), 0 6px 12px 0 rgba(0,0,0,0.4)
    &:active
      background-color: $accentLight
      box-shadow: 0 4px 8px rgba(0,0,0,0.1), 0 12px 24px 0 rgba(0,0,0,0.4)
/* FLAT BUTTON
.buttonFlat
  border-radius: 2px
  cursor: pointer
  border: 0
  font-size: 1.2em
  font-family: 'Roboto', sans-serif
  padding: 0.5em 0.7em
  margin: 0.2em 0.2em
  color: $accent
  background-color: rgba(0,0,0,0)
  &:hover
    background-color: rgba(0,0,0,0.05)
  &:active
    background-color: rgba(0,0,0,0.1)
/* RAISED BUTTON
.buttonRaised
  border-radius: 2px
  cursor: pointer
  border: 0
  font-size: 1.2em
  font-family: 'Roboto', sans-serif
  padding: 0.5em 0.7em
  margin: 0.2em 0.2em
  color: white
  background-color: $accent
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.2)
  &:hover
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 8px 16px 0 rgba(0,0,0,0.2)
  &:active
    background-color: $accentLight
@media only screen and (max-width: 768px)
  .buttonRaised
    &:hover
      background-color: $accent
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.2)
    &:active
      background-color: $accentLight
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 8px 16px 0 rgba(0,0,0,0.2)
/* ACTION BUTTON
.buttonAction
  cursor: pointer
  width: 56px
  height: 56px
  border-radius: 56px
  border: 0
  background-color: $accent
  color: white
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.2)
  &:hover
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 8px 16px 0 rgba(0,0,0,0.2)
  &:active
    background-color: $accentLight
  i
    transform: scale(1) translateY(5%)
@media only screen and (max-width: 768px)
  .buttonAction
    &:hover
      background-color: $accent
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.2)
    &:active
      background-color: $accentLight
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 8px 16px 0 rgba(0,0,0,0.2)
.buttonFloatRight
  float: right

/*DROPDOWN
.dropdownSmallDark
  .buttonDropdownSmall
    &:active
      background-color: rgba(255,255,255,0.1)
    i
      color: white
.dropdownSmallLight
  .buttonDropdownSmall
    &:active
      background-color: rgba(0,0,0,0.05)
    i
      color: $primaryLight
.dropdownSmallDark, .dropdownSmallLight
  position: relative
  display: block
  .buttonDropdownSmall
    cursor: pointer
    width: 56px
    height: 56px
    border: 0
    border-radius: 56px
    background-color: rgba(0,0,0,0)
    i
      transform: scale(1.2) translateY(10%)
  .dropdownContent
    position: absolute
    z-index: 3
    padding: 0
    margin: 0
    display: none
    top: 56px
    left: 0
    width: 160px
    height: auto
    white-space: nowrap
    background-color: #FEFEFE
    list-style: none
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2)
    li
      cursor: pointer
      font-family: 'Open Sans', sans-serif
      padding: 0.5em
      color: $textPrimary
      &:hover
        background-color: rgba(0,0,0,0.04)
      &:active
        background-color: rgba(0,0,0,0.1)

  .dropdownSmallContentShow
    display: block
    transform-origin: top
    animation: dropdownSmallAnimate 0.3s forwards
@keyframes dropdownSmallAnimate
  0%
    transform: translateY(-20%) scale(0.9)
    opacity: 0
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2)
  100%
    transform: translateY(-10%) translateX(-5%) scale(1)
    opacity: 1
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2)

.dropdownLargeDark
  .buttonDropdownLarge
    color: $accent
  .dropdownContent
    background-color: $primary
    li
      color: white
      &:hover
        background-color: rgba(255,255,255,0.1)
      &:active
        background-color: rgba(255,255,255,0.2)
.dropdownLargeLight
  .buttonDropdownLarge
    color: $accent
  .dropdownContent
    background-color: white
    li
      &:hover
        background-color: rgba(0,0,0,0.04)
      &:active
        background-color: rgba(0,0,0,0.1)
.dropdownLargeDark, .dropdownLargeLight
  position: relative
  display: block
  .buttonDropdownLarge
    cursor: pointer
    background-color: rgba(0,0,0,0)
    width: 100%
    height: 56px
    border: 0
    font-size: 18px
  .dropdownContent
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2)
    padding: 0
    margin: 0
    list-style: none
    width: 100%
    position: absolute
    z-index: 3
    top: 56px
    left: 0
    display: none
    li
      cursor: pointer
      font-size: 18px
      padding: 8px
      text-align: center
      cursor: pointer
  .dropdownLargeContentShow
    display: block
    transform-origin: top
    animation: dropdownLargeShow 0.3s forwards
  .dropdownLargeContentHide
    display: block
    transform-origin: top
    animation: dropdownLargeHide 0.3s forwards
@keyframes dropdownLargeShow
  0%
    opacity: 0
    transform: rotateX(90deg)
    box-shadow: 0 0 0 0 rgba(0,0,0,0.2)
  100%
    opacity: 1
    transform: rotateX(0deg)
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2)
@keyframes dropdownLargeHide
  0%
    opacity: 1
    transform: rotateX(0deg)
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2)
  100%
    opacity: 0
    transform: rotateX(90deg)
    box-shadow: 0 0 0 0 rgba(0,0,0,0.2)

@media only screen and (max-width: 768px)
  .buttonAction
    &:active
      transform: scale(1.025)
