$primary: #212121
$primaryLight: #B0B0B0
$primaryDark: #1C1F26
$textPrimary: #212121
$textSecondary: #454545
$divider: #BDBDBD
$white: #FFFFFF
$accent: #5294E2
$accentLight: #669FE5

$transparent: rgba(0,0,0,0)
$transparentLight: rgba(255,255,255,0.05)
$transparentLighter: rgba(255,255,255,0.1)
$transparentDark: rgba(0,0,0,0.05)
$transparentDarker: rgba(0,0,0,0.1)

$white: #FFFFFF

$accent50: #EAF2FC
$accent100: #CBDFF6
$accent200: #A9CAF1
$accent300: #86B4EB
$accent400: #6CA4E6
$accent500: #5294E2
$accent600: #4B8CDF
$accent700: #4181DA
$accent800: #3877D6
$accent900: #2865CF
$accentA100: #FFFFFF
$accentA200: #DAE6FF
$accentA400: #A7C5FF
$accentA700: #8DB4FF

$dark1000: #000000
$dark900: #212121
$dark850: #303030
$dark800: #424242

$light1000: #ffffff
$light900: #fafafa
$light850: #f5f5f5
$light800: #e0e0e0
