/* DROPDOWN STYLES

div.dropdown
  position: relative
  user-select: none
  -webkit-user-select: none

  .button-dropdown
    cursor: pointer
    position: relative
    background-color: $transparent
    transition: $fade-in-out
  .button-dropdown.dropdown-small
    width: 56px
    height: 56px
    border-radius: 100%
    border: none
    i
      position: absolute
      top: calc(50% - 12px)
      left: calc(50% - 12px)
  .button-dropdown.dropdown-large
    width: 100%
    height: 56px
  .button-dropdown.dropdown-left
    float: left
  .button-dropdown.dropdown-right
    float: right
  .button-dropdown.dropdown-small.dropdown-light
    border: 10px solid $white
    i
      color: $primaryLight
    &:active
      background-color: $transparentDarker
  .button-dropdown.dropdown-small.dropdown-dark
    border: 10px solid $primary
    i
      color: $primaryLight
    &:active
      background-color: $transparentLighter

  .dropdown-content
    display: none
    list-style: none
    margin: 0
    padding: 0

  .dropdown-content.dropdown-small
    position: absolute
    top: 56px
    left: auto
    right: auto
    box-shadow: $depth-4
    border-radius: 2px
    li
      user-select: none
      -webkit-user-select: none
      cursor: pointer
      white-space: nowrap
      font-size: 18px
      padding: 0.8em
      transition: $fade-in-out
      a
        display: block
        text-decoration: none

  .dropdown-content.dropdown-small.dropdown-left
    left: 0
    right: auto

  .dropdown-content.dropdown-small.dropdown-right
    left: auto
    right: 0

  .dropdown-content.dropdown-small.dropdown-light
    background-color: #FEFEFE
    li
      color: $primary
      &:active
        background-color: $transparentDarker

  .dropdown-content.dropdown-small.dropdown-dark
    background-color: $primary
    li
      color: $white
      &:active
        background-color: $transparentLighter

div.dropdown.dropdown-left
  float: left

div.dropdown.dropdown-right
  float: right

@media only screen and (max-width: 480px)

@media only screen and (min-width: 481px)
  div.dropdown
    .dropdown-content.dropdown-small
      li
        padding: 0.6em
    .dropdown-content.dropdown-small.dropdown-light
      li
        &:hover
          background-color: $transparentDark
        &:active
          background-color: $transparentDarker

    .dropdown-content.dropdown-small.dropdown-dark
      li
        &:hover
          background-color: $transparentLight
        &:active
          background-color: $transparentLighter

@media only screen and (min-width: 769px)

@media only screen and (min-width: 1201px)
