/*MODAL STYLES

div.modal
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0,0,0,0.4)
  display: none
  z-index: 20
div.modal.modal-active
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  -webkit-animation: modalAnimateOpen 0.3s forwards
  -moz-animation: modalAnimateOpen 0.3s forwards
  animation: modalAnimateOpen 0.3s forwards
  .modal-content
    -webkit-animation: modalContentAnimateOpen 0.3s forwards
    -moz-animation: modalContentAnimateOpen 0.3s forwards
    animation: modalContentAnimateOpen 0.3s forwards
div.modal.modal-inactive
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  -webkit-animation: modalAnimateClose 0.3s forwards
  -moz-animation: modalAnimateClose 0.3s forwards
  animation: modalAnimateClose 0.3s forwards
  .modal-content
    -webkit-animation: modalContentAnimateClose 0.3s forwards
    -moz-animation: modalContentAnimateClose 0.3s forwards
    animation: modalContentAnimateClose 0.3s forwards
div.modal.modal-inactive,div.modal.modal-active
  .modal-content
    min-width: 768px
    min-height: 768px
    max-width: 100%
    max-height: 100%
    border-radius: 2px
    overflow: hidden
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 16px 32px 0 rgba(0,0,0,0.1), 0 32px 64px 0 rgba(0,0,0,0.1)
    .modal-header
      position: relative
      min-height: 56px
      h1,h2,h3,h4,h5,h6
        padding: 12px 12px 6px 12px
      h1
        font-size: 1.8em
      h2
        font-size: 1.7em
      h3
        font-size: 1.6em
      h4
        font-size: 1.5em
      h5
        font-size: 1.4em
      h6
        font-size: 1.3em
      p
        font-size: 1.2em
        padding: 6px 12px 12px 12px
    .modal-header.modal-light
      background-color: $white
      h1,h2,h3,h4,h5,h6
        color: $primary
      p
        color: $primaryLight
    .modal-header.modal-dark
      background-color: $primary
      h1,h2,h3,h4,h5,h6
        color: $white
      p
        color: $primaryLight
    .modal-image
      width: 100%
      height: auto
      img
        width: 100%
        height: auto
    .modal-footer
      position: relative
      padding: 0 4px
      width: 100%
      min-height: 56px

      display: flex
      justify-content: flex-end
      align-items: center
      .button-flat,.button-raised
        padding: 6px 6px 6px 6px
      .buttonAction
        position: absolute
        bottom: -28px
        right: 28px
        box-shadow: 0 16px 32px 0 rgba(0,0,0,0.1), 0 32px 64px 0 rgba(0,0,0,0.1), 0 64px 128px 0 rgba(0,0,0,0.1)
        &:hover
          box-shadow: 0 32px 64px 0 rgba(0,0,0,0.2), 0 64px 128px 0 rgba(0,0,0,0.2), 0 128px 256px 0 rgba(0,0,0,0.2)
    .modal-footer.modal-light
      background-color: $white
    .modal-footer.modal-dark
      background-color: $primary
      .button-flat
        &:hover
          background-color: $transparentLight
        &:active
          background-color: $transparentLighter
  .modal-content.modal-light
    background-color: $white
    color: $primary
    p
      color: $primary
  .modal-content.modal-dark
    background-color: $primary
    color: $white
    p
      color: $white

@media only screen and (max-width: 768px)
  div.modal.modal-active,div.modal.modal-inactive
    .modal-content
      width: 480px
      min-width: 0
      min-height: 480px
      .modal-footer.modal-dark
        .button-flat
          &:hover
            background-color: $transparent
          &:active
            background-color: $transparentLight
@media only screen and (max-width: 480px)
  div.modal.modal-active,div.modal.modal-inactive
    .modal-content
      width: 320px
      min-width: 0
      min-height: 320px
@media only screen and (max-width: 320px)
  div.modal.modal-active,div.modal.modal-anactive
    .modal-content
      width: 100%
      height: auto

@keyframes modalAnimateOpen
  0%
    background-color: rgba(0,0,0,0)
  100%
    background-color: rgba(0,0,0,0.4)
@keyframes modalContentAnimateOpen
  0%
    transform: translateY(28px)
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.1), 0 8px 16px 0 rgba(0,0,0,0.1)
    opacity: 0
  100%
    transform: translateY(0)
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 16px 32px 0 rgba(0,0,0,0.1), 0 32px 64px 0 rgba(0,0,0,0.1)
    opacity: 1
@keyframes modalAnimateClose
  0%
    background-color: rgba(0,0,0,0.4)
  100%
    background-color: rgba(0,0,0,0)
@keyframes modalContentAnimateClose
  0%
    transform: translateY(0)
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 16px 32px 0 rgba(0,0,0,0.1), 0 32px 64px 0 rgba(0,0,0,0.1)
    opacity: 1
  100%
    transform: translateY(28px)
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.1), 0 8px 16px 0 rgba(0,0,0,0.1)
    opacity: 0
