.navBarDark
  background-color: $primary
  ul
    li
      color: white
      &:hover
        border-bottom: 2px solid white
      a
        color: white
    #drawerButtonItem
      #drawerButton
        &:active
          background-color: rgba(255,255,255,0.1)
        i
          color: white
.navBarLight
  background-color: white
  ul
    li
      color: $primary
      &:hover
        border-bottom: 2px solid $primary
    #drawerButtonItem
      #drawerButton
        &:active
          background-color: rgba(0,0,0,0.05)
        i
          color: $primary
.navBarDark, .navBarLight
  height: 60px
  width: 100%
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2)
  z-index: 5
  position: fixed
  ul
    margin: 0
    padding: 0
    list-style: none
    height: 60px
    width: 100%
    li
      position: relative
      overflow: hidden
      float: left
      cursor: pointer
      display: block
      font-family: 'Roboto', sans-serif
      font-size: 20px
      padding: 20px
      height: 60px
      transition: all 0.1s
      border-bottom: 2px solid rgba(0,0,0,0)
      a
        text-decoration: none
    .brandItem
      display: block
      float: left
    #drawerButtonItem
      display: none
      padding: 0
      border-bottom: 0
      width: 56px
      height: 56px
      &:hover
        border-bottom: 0
      #drawerButton
        width: 56px
        height: 56px
        border-radius: 56px
        border: 0
        background-color: rgba(0,0,0,0)
        i
          transform: scale(1.2) translateY(5%) translateX(-1%)

@media only screen and (max-width: 768px)
  .navBarDark, .navBarLight
    height: 56px
    ul
      height: 56px
      li
        display: none
        height: 56px
      .brandItem
        display: block
        float: right
        border-bottom: 0
        &:hover
          border-bottom: 0
      #drawerButtonItem
        display: block

/*DRAWER

.drawer
  transition: all 0.3s
  width: 100%
  height: 100%
  z-index: 10
  display: block
  position: fixed
  top: 0
  left: 0
  background-color: rgba(0,0,0,0.4)
  transform: translateX(-100%)
  .drawerContentDark
    background-color: $primary
  .drawerContentLight
    background-color: white
  .drawerContentDark, .drawerContentLight
    width: 20vw
    height: 100vh
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2)
    .drawerHeaderDark
      background-color: $primary
      #drawerClose
        &:active
          background-color: rgba(255,255,255,0.1)
        i
          color: white
    .drawerHeaderLight
      background-color: white
      #drawerClose
        &:active
          background-color: rgba(0,0,0,0.05)
        i
          color: $primary
    .drawerHeaderDark, .drawerHeaderLight
      height: 56px
      #drawerClose
        width: 56px
        height: 56px
        border-radius: 56px
        border: 0
        background-color: rgba(0,0,0,0)
        i
          transform: scale(1.2) translateY(10%)
    .drawerNav
      padding: 0
      margin: 0
      list-style: none
      border-bottom: 1px solid rgba(0,0,0,0.05)
      li
        user-select: none
        cursor: pointer
        padding: 12px 12px
        color: $textSecondary
        &:hover
          background-color: rgba(0,0,0,0.05)
        a
          font-size: 18px
          display: block
          i
            transform: translateY(25%)

.drawerAnimateClose
  animation: drawerAnimationClose 0.3s forwards
  .drawerContentLight,.drawerContentDark
    animation: drawerContentAnimationClose 0.3s forwards
.drawerAnimateOpen
  animation: drawerAnimationOpen 0.3s forwards
  .drawerContentLight,.drawerContentDark
    animation: drawerContentAnimationOpen 0.3s forwards

@keyframes drawerContentAnimationOpen
  0%
    transform: translateX(-100%)
  100%
    transform: translateX(0%)
@keyframes drawerContentAnimationClose
  0%
    transform: translateX(0%)
  100%
    transform: translateX(-100%)
@keyframes drawerAnimationOpen
  0%
    transform: translateX(0%)
    background-color: rgba(0,0,0,0)
  100%
    transform: translateX(0%)
    background-color: rgba(0,0,0,0.4)
@keyframes drawerAnimationClose
  0%
    transform: translateX(0%)
    background-color: rgba(0,0,0,0.4)
  99%
    transform: translateX(0%)
    background-color: rgba(0,0,0,0)
  100%
    transform: translateX(-100%)
    background-color: rgba(0,0,0,0)

@media only screen and (max-width: 768px)
  .drawer
    .drawerContentDark, .drawerContentLight
      width: 40vw
@media only screen and (max-width: 480px)
  .drawer
    .drawerContentDark, .drawerContentLight
      width: 80vw
