/* DRAWER STYLES

.drawer
  position: fixed
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(0,0,0,0.4)
  z-index: 15
  transition: $fade-in-out
  .drawer-content
    position: absolute
    top: 0
    width: 320px
    height: 100%
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 16px 32px 0 rgba(0,0,0,0.2), 0 32px 64px 0 rgba(0,0,0,0.2)
    .drawer-header
      position: relative
      width: 100%
      height: 60px
      #drawer-close
        cursor: pointer
        position: absolute
        top: 0
        width: 60px
        height: 60px
        border-radius: 60px
        background-color: $transparent
        transition: $fade-in-out
        i
          position: absolute
          top: calc(50% - 12px)
          left: calc(50% - 12px)
    .drawer-header.drawer-light
      background-color: $white
      #drawer-close
        border: 10px solid $white
        &:hover
          background-color: $transparentDark
        &:active
          background-color: $transparentDarker
        i
          color: $primary
    .drawer-header.drawer-dark
      background-color: $primary
      #drawer-close
        border: 10px solid $primary
        &:hover
          background-color: $transparentLight
        &:active
          background-color: $transparentLighter
        i
          color: $white
    .drawer-nav
      position: relative
      width: 100%
      margin: 0
      padding: 0
      list-style: none
      li
        transition: $fade-in-out
        display: block
        cursor: pointer
        position: relative
        width: 100%
        height: 60px
        background-color: $transparent
        a
          display: block
          position: relative
          width: 100%
          height: 60px
          font-size: 20px
          text-decoration: none
        i
          position: absolute
          top: calc(50% - 12px)
    .drawer-nav.drawer-nav-left
      li
        a
          text-align: left
          padding: 19px 20px 20px 56px
        i
          left: 16px
    .drawer-nav.drawer-nav-right
      li
        a
          text-align: right
          padding: 19px 56px 20px 20px
        i
          right: 16px
  .drawer-content.drawer-light
    background-color: $white
    .drawer-nav
      li
        &:hover
          background-color: $transparentDark
        &:active
          background-color: $transparentDarker
        a
          color: $textSecondary
        i
          color: $textSecondary
  .drawer-content.drawer-dark
    background-color: $primary
    .drawer-nav
      li
        &:hover
          background-color: $transparentLight
        &:active
          background-color: $transparentLighter
        a
          color: $primaryLight
        i
          color: $primaryLight
.drawer.drawer-left
  left: 0
  transform: translateX(-100%)
  .drawer-content
    left: 0
    .drawer-header
      #drawer-close
        left: 0
        i
          transform: none
.drawer.drawer-left.drawerAnimateOpen
  animation: drawerAnimateOpenLeft 0.3s forwards
  .drawer-content
    animation: drawer-contentAnimateOpenLeft 0.3s forwards
.drawer.drawer-left.drawerAnimateClose
  animation: drawerAnimateCloseLeft 0.3s forwards
  .drawer-content
    animation: drawer-contentAnimateCloseLeft 0.3s forwards
.drawer.drawer-right
  right: 0
  transform: translateX(100%)
  .drawer-content
    right: 0
    .drawer-header
      #drawer-close
        right: 0
        i
          transform: rotate(180deg)
.drawer.drawer-right.drawerAnimateOpen
  animation: drawerAnimateOpenRight 0.3s forwards
  .drawer-content
    animation: drawer-contentAnimateOpenRight 0.3s forwards
.drawer.drawer-right.drawerAnimateClose
  animation: drawerAnimateCloseRight 0.3s forwards
  .drawer-content
    animation: drawer-contentAnimateCloseRight 0.3s forwards

@keyframes drawerAnimateOpenLeft
  0%
    transform: translateX(-100%)
    background-color: $transparent
  1%
    transform: translateX(0)
    background-color: $transparent
  100%
    transform: translateX(0)
    background-color: rgba(0,0,0,0.4)
@keyframes drawer-contentAnimateOpenLeft
  0%
    transform: translateX(-100%)
  100%
    transform: translateX(0)
@keyframes drawerAnimateCloseLeft
  0%
    transform: translateX(0)
    background-color: rgba(0,0,0,0.4)
  99%
    transform: translateX(0)
    background-color: $transparent
  100%
    transform: translateX(-100%)
    background-color: $transparent
@keyframes drawer-contentAnimateCloseLeft
  0%
    transform: translateX(0)
  100%
    transform: translateX(-100%)
@keyframes drawerAnimateOpenRight
  0%
    transform: translateX(100%)
    background-color: $transparent
  1%
    transform: translateX(0)
    background-color: $transparent
  100%
    transform: translateX(0)
    background-color: rgba(0,0,0,0.4)
@keyframes drawer-contentAnimateOpenRight
  0%
    transform: translateX(100%)
  100%
    transform: translateX(0)
@keyframes drawerAnimateCloseRight
  0%
    transform: translateX(0)
    background-color: rgba(0,0,0,0.4)
  99%
    transform: translateX(0)
    background-color: $transparent
  100%
    transform: translateX(100%)
    background-color: $transparent
@keyframes drawer-contentAnimateCloseRight
  0%
    transform: translateX(0)
  100%
    transform: translateX(100%)

@media only screen and (max-width: 768px)
  .drawer
    .drawer-content
      .drawer-header
        height: 56px
        #drawer-close
          width: 56px
          height: 56px
          border-radius: 56px
      .drawer-header.drawer-light
        #drawer-close
          &:hover
            background-color: $transparent
          &:active
            background-color: $transparentDark
      .drawer-header.drawer-dark
        #drawer-close
          &:hover
            background-color: $transparent
          &:active
            background-color: $transparentLight
      .drawer-nav
        li
          height: 56px
          a
            font-size: 18px
      .drawer-nav.drawer-nav-left
        li
          a
            padding: 18px 18px 18px 56px
      .drawer-nav.drawer-nav-right
        li
          a
            padding: 18px 56px 18px 18px
    .drawer-content.drawer-light
      .drawer-nav
        li
          &:hover
            background-color: $transparent
          &:active
            background-color: $transparentDark
    .drawer-content.drawer-dark
      .drawer-nav
        li
          &:hover
            background-color: $transparent
          &:active
            background-color: $transparentLight
@media only screen and (max-width: 480px)
  .drawer
    .drawer-content
      width: 80vw
