/* NAV

nav.navbarLight
  background-color: $white
  .navbarNav
    li
      color: $primary
      &:hover
        border-bottom: 2px solid $primary
      &:active
        background-color: $transparentDark
      a
        color: $primary
  #drawerOpen
    border: 10px solid $white
    &:hover
      background-color: $transparentDark
    &:active
      background-color: $transparentDarker
    i
      color: $primary
nav.navbarDark
  background-color: $primary
  .navbarNav
    li
      color: $white
      &:hover
        border-bottom: 2px solid $white
      &:active
        background-color: $transparentLight
      a
        color: $white
  #drawerOpen
    border: 10px solid $primary
    &:hover
      background-color: $transparentLight
    &:active
      background-color: $transparentLighter
    i
      color: $white
nav.navbarTall
  width: 100%
  height: 120px
  .navbarNav.navbarLeft,.navbarNav.navbarRight
    float: none
    position: absolute
    bottom: 0
  .navbarNav.navbarLeft
    left: 0
  .navbarNav.navbarRight
    right: 0
nav.navbarShort
  width: 100%
  height: 60px
nav.navbar
  z-index: 10
  position: relative
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 2px 4px 0 rgba(0,0,0,0.2), 0 4px 8px 0 rgba(0,0,0,0.2)
  .navbarNav
    margin: 0
    padding: 0
    list-style: none
    position: relative
    li
      transition: all 0.2s
      float: left
      cursor: pointer
      background-color: $transparent
      padding: 20px
      height: 60px
      border-bottom: 2px solid $transparent
      a
        background-color: $transparent
        font-size: 20px
        text-decoration: none
  .navbarNav.navbarLeft
    float: left
  .navbarNav.navbarRight
    float: right
  #drawerOpen
    cursor: pointer
    position: relative
    width: 60px
    height: 60px
    border-radius: 60px
    background-color: $transparent
    i
      position: absolute
      top: calc(50% - 12px)
      left: calc(50% - 12px)
  #drawerOpen.drawerButtonLeft
    float: left
  #drawerOpen.drawerButtonRight
    float: right
  #drawerOpen.mobileOnly
    display: none

@media only screen and (max-width: 1200px)
@media only screen and (max-width: 768px)
  nav.navbarLight
    .navbarNav
      &:hover
        background-color: $transparent
      &:active
        background-color: $transparentDark
    #drawerOpen
      &:hover
        background-color: $transparent
      &:active
        background-color: $transparentDark
  nav.navbarDark
    .navbarNav
      li
        &:hover
          background-color: $transparent
        &:active
          background-color: $transparentLight
    #drawerOpen
      &:hover
        background-color: $transparent
      &:active
        background-color: $transparentLight
  nav.navbarTall
    height: 112px
  nav.navbarShort
    height: 56px
  nav.navbar
    .navbarNav
      li
        height: 56px
        padding: 18px
        display: none
        border-bottom: none
        &:hover
          border-bottom: none
        a
          font-size: 18px
      .brandItem
        display: block
    .navbarNav.navbarLeft
      float: right
    .navbarNav.navbarRight
      float: right
    #drawerOpen
      width: 56px
      height: 56px
      border-radius: 56px
    #drawerOpen.mobileOnly
      display: block
@media only screen and (max-width: 480px)
@media only screen and (max-width: 320px)

/*DRAWER

.drawer
  transition: all 0.3s
  width: 100%
  height: 100%
  z-index: 10
  display: block
  position: fixed
  top: 0
  left: 0
  background-color: rgba(0,0,0,0.4)
  transform: translateX(-100%)
  .drawerContentDark
    background-color: $primary
  .drawerContentLight
    background-color: white
  .drawerContentDark, .drawerContentLight
    width: 20vw
    height: 100vh
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 8px 16px 0 rgba(0,0,0,0.2), 0 16px 32px 0 rgba(0,0,0,0.4)
    transition: 300ms ease-in
    .drawerHeaderDark
      background-color: $primary
      #drawerClose
        &:active
          background-color: rgba(255,255,255,0.1)
        i
          color: white
    .drawerHeaderLight
      background-color: white
      #drawerClose
        &:active
          background-color: rgba(0,0,0,0.05)
        i
          color: $primary
    .drawerHeaderDark, .drawerHeaderLight
      height: 56px
      #drawerClose
        width: 56px
        height: 56px
        border-radius: 56px
        border: 0
        background-color: rgba(0,0,0,0)
        i
          transform: scale(1.2) translateY(10%)
    .drawerNav
      padding: 0
      margin: 0
      list-style: none
      border-bottom: 1px solid rgba(0,0,0,0.05)
      li
        user-select: none
        cursor: pointer
        padding: 12px 12px
        color: $textSecondary
        &:hover
          background-color: rgba(0,0,0,0.05)
        a
          font-size: 18px
          display: block
          i
            transform: translateY(25%)

.drawerAnimateClose
  animation: drawerAnimationClose 0.3s forwards
  .drawerContentLight,.drawerContentDark
    animation: drawerContentAnimationClose 0.3s forwards
.drawerAnimateOpen
  animation: drawerAnimationOpen 0.3s forwards
  .drawerContentLight,.drawerContentDark
    animation: drawerContentAnimationOpen 0.3s forwards

@keyframes drawerContentAnimationOpen
  0%
    transform: translateX(-100%)
  100%
    transform: translateX(0%)
@keyframes drawerContentAnimationClose
  0%
    transform: translateX(0%)
  100%
    transform: translateX(-100%)
@keyframes drawerAnimationOpen
  0%
    transform: translateX(0%)
    background-color: rgba(0,0,0,0)
  100%
    transform: translateX(0%)
    background-color: rgba(0,0,0,0.4)
@keyframes drawerAnimationClose
  0%
    transform: translateX(0%)
    background-color: rgba(0,0,0,0.4)
  99%
    transform: translateX(0%)
    background-color: rgba(0,0,0,0)
  100%
    transform: translateX(-100%)
    background-color: rgba(0,0,0,0)

@media only screen and (max-width: 768px)
  .drawer
    .drawerContentDark, .drawerContentLight
      width: 40vw
@media only screen and (max-width: 480px)
  .drawer
    .drawerContentDark, .drawerContentLight
      width: 80vw
