/*WRAPPERS

.wrapperL
  width: 1200px
  margin: auto
.wrapperM
  width: 768px
  margin: auto
.wrapperS
  width: 480px
  margin: auto
.wrapperXS
  width: 320px
  margin: auto

@media only screen and (max-width: 1200px)
  .wrapperL
    width: 100%
@media only screen and (max-width: 768px)
  .wrapperM
    width: 100%
@media only screen and (max-width: 480px)
  .wrapperS
    width: 100%
@media only screen and (max-width: 320px)
  .wrapperXS
    width: 100%

/*ARTICLES

.articleCard
  background-color: white
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2)
  .headerDark
    background-color: $primary
    h1,h2,h3,h4,h5,h6
      color: white
      margin: 0
      padding: 12px 0 6px 12px
      font-weight: 400
    p
      color: $primaryLight
      font-weight: 400
      margin: 0
      padding: 0 0 12px 12px
  .headerLight
    background-color: white
    h1,h2,h3,h4,h5,h6
      color: $primary
      margin: 0
      padding: 12px 0 6px 12px
      font-weight: 400
    p
      color: $primaryLight
      font-weight: 400
      margin: 0
      padding: 0 0 12px 12px
  .footerDark
    background-color: $primary
    padding: 6px 6px 44px 6px
  .footerLight
    background-color: white
    padding: 6px 6px 44px 6px
    .buttonFlat
      float: right
