/*BUTTONS*/

button::-moz-focus-inner
  border: 0

.buttonFlat
  cursor: pointer
  border: 0
  border-radius: 0
  font-size: 1.1em
  font-family: 'Roboto', sans-serif
  padding: 0.3em
  margin: 0.2em 0.2em
  color: $accent
  background-color: rgba(0,0,0,0)
  &:hover
    background-color: rgba(0,0,0,0.05)
.buttonRaised
.buttonAction
  cursor: pointer
  width: 56px
  height: 56px
  border-radius: 56px
  border: 0
  background-color: $accent
  color: white
  box-shadow: 0 4px 20px 0 rgba(0,0,0,0.2)
  &:active
    transform: scale(1.05)
  i
    transform: scale(1) translateY(5%)

.buttonFloatRight
  float: right

/*DROPDOWN

.dropdown
  position: relative
  display: block
  .buttonDropdownSmall
    width: 56px
    height: 56px
    border: 0
    border-radius: 56px
    background-color: rgba(0,0,0,0)
    &:active
      background-color: rgba(255,255,255,0.1)
    i
      color: white
      transform: scale(1.2) translateY(10%)
  .dropdownContent
    position: absolute
    z-index: 3
    padding: 0
    margin: 0
    display: none
    top: 56px
    left: 0
    width: 160px
    white-space: nowrap
    background-color: #FEFEFE
    list-style: none
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2)
    li
      font-family: 'Open Sans', sans-serif
      padding: 0.5em
      color: $textPrimary
      &:active
        background-color: rgba(0,0,0,0.1)

  .dropdownContentShow
    display: block
    animation: dropdownSmallAnimate 0.3s
@keyframes dropdownSmallAnimate
  0%
    transform: translateY(-5%)
    opacity: 0
  100%
    transform: translateY(0%)
    opacity: 1
