/*CLEVERCSS */
/*RESET */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto:300,400,500");
body {
  margin: 0; }

* {
  transition: all 0.3s;
  -webkit-tap-highlight-color: transparent;
  outline: none; }

/*COLORS */
/*COMPONENTS */
.navBar {
  height: 60px;
  width: 100%;
  background-color: #2F343F;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 5;
  position: fixed; }
  .navBar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 60px;
    width: 100%; }
    .navBar ul li {
      cursor: pointer;
      display: block;
      color: white;
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      padding: 20px;
      height: 60px;
      transition: all 0.1s;
      border-bottom: 2px solid transparent; }
      .navBar ul li:hover {
        border-bottom: 2px solid white; }
      .navBar ul li a {
        color: white;
        text-decoration: none; }
    .navBar ul .brandItem {
      display: block;
      float: left; }
    .navBar ul #drawerButtonItem {
      display: none;
      padding: 0;
      border-bottom: 0;
      width: 56px;
      height: 56px; }
      .navBar ul #drawerButtonItem:hover {
        border-bottom: 0; }
      .navBar ul #drawerButtonItem #drawerButton {
        width: 56px;
        height: 56px;
        border-radius: 56px;
        border: 0;
        background-color: transparent; }
        .navBar ul #drawerButtonItem #drawerButton:active {
          background-color: rgba(255, 255, 255, 0.1); }
        .navBar ul #drawerButtonItem #drawerButton i {
          transform: scale(1.2) translateY(10%);
          color: white; }

@media only screen and (max-width: 768px) {
  .navBar {
    height: 56px; }
    .navBar ul {
      height: 56px; }
      .navBar ul .brandItem {
        float: right;
        border-bottom: 0; }
        .navBar ul .brandItem:hover {
          border-bottom: 0; }
      .navBar ul #drawerButtonItem {
        display: block; } }
/*DRAWER */
.drawer {
  width: 100%;
  height: 100%;
  z-index: 10;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%); }
  .drawer .drawerContent {
    width: 20vw;
    height: 100vh;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    background-color: white; }
    .drawer .drawerContent .drawerHeader {
      height: 56px;
      background-color: #2F343F; }
      .drawer .drawerContent .drawerHeader #drawerClose {
        width: 56px;
        height: 56px;
        border-radius: 56px;
        border: 0;
        background-color: transparent; }
        .drawer .drawerContent .drawerHeader #drawerClose:active {
          background-color: rgba(255, 255, 255, 0.1); }
        .drawer .drawerContent .drawerHeader #drawerClose i {
          transform: scale(1.2) translateY(10%);
          color: white; }

.drawerAnimate {
  transform: translateX(0%); }

.drawerDarken {
  filter: brightness(0.5); }

@media only screen and (max-width: 768px) {
  .drawer .drawerContent {
    width: 40vw; } }
@media only screen and (max-width: 480px) {
  .drawer .drawerContent {
    width: 80vw; } }
/*WRAPPERS */
.wrapperL {
  width: 1200px;
  margin: auto; }

.wrapperM {
  width: 768px;
  margin: auto; }

.wrapperS {
  width: 480px;
  margin: auto; }

.wrapperXS {
  width: 320px;
  margin: auto; }

@media only screen and (max-width: 1200px) {
  .wrapperL {
    width: 100%; } }
@media only screen and (max-width: 768px) {
  .wrapperM {
    width: 100%; } }
@media only screen and (max-width: 480px) {
  .wrapperS {
    width: 100%; } }
@media only screen and (max-width: 320px) {
  .wrapperXS {
    width: 100%; } }
/*ARTICLES */
.articleCard {
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); }
  .articleCard .headerDark {
    background-color: #2F343F; }
    .articleCard .headerDark h1, .articleCard .headerDark h2, .articleCard .headerDark h3, .articleCard .headerDark h4, .articleCard .headerDark h5, .articleCard .headerDark h6 {
      color: white;
      margin: 0;
      padding: 12px 0 6px 12px;
      font-weight: 400; }
    .articleCard .headerDark p {
      color: #B0B9C6;
      font-weight: 400;
      margin: 0;
      padding: 0 0 12px 12px; }
  .articleCard .headerLight {
    background-color: white; }
    .articleCard .headerLight h1, .articleCard .headerLight h2, .articleCard .headerLight h3, .articleCard .headerLight h4, .articleCard .headerLight h5, .articleCard .headerLight h6 {
      color: #2F343F;
      margin: 0;
      padding: 12px 0 6px 12px;
      font-weight: 400; }
    .articleCard .headerLight p {
      color: #B0B9C6;
      font-weight: 400;
      margin: 0;
      padding: 0 0 12px 12px; }
  .articleCard .footerDark {
    background-color: #2F343F;
    padding: 6px 6px 44px 6px; }
  .articleCard .footerLight {
    background-color: white;
    padding: 6px 6px 44px 6px; }
    .articleCard .footerLight .buttonFlat {
      float: right; }

/*BUTTONS */
button::-moz-focus-inner {
  border: 0; }

.buttonFlat {
  cursor: pointer;
  border: 0;
  border-radius: 0;
  font-size: 1.1em;
  font-family: "Roboto", sans-serif;
  padding: 0.3em;
  margin: 0.2em 0.2em;
  color: #5294E2;
  background-color: transparent; }
  .buttonFlat:hover {
    background-color: rgba(0, 0, 0, 0.05); }

.buttonAction {
  cursor: pointer;
  width: 56px;
  height: 56px;
  border-radius: 56px;
  border: 0;
  background-color: #5294E2;
  color: white;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2); }
  .buttonAction:active {
    transform: scale(1.05); }
  .buttonAction i {
    transform: scale(1) translateY(5%); }

.buttonFloatRight {
  float: right; }

* {
  box-sizing: border-box; }

.row::after {
  content: "";
  clear: both;
  display: table; }

[class*="col-"] {
  float: left;
  padding: 0.5em; }

/*RESPONSIVE GRID */
/*LARGE 1200PX */
.col-l-1 {
  width: 8.33%; }

.col-l-2 {
  width: 16.66%; }

.col-l-3 {
  width: 25%; }

.col-l-4 {
  width: 33.33%; }

.col-l-5 {
  width: 41.66%; }

.col-l-6 {
  width: 50%; }

.col-l-7 {
  width: 58.33%; }

.col-l-8 {
  width: 66.66%; }

.col-l-9 {
  width: 75%; }

.col-l-10 {
  width: 83.33%; }

.col-l-11 {
  width: 91.66%; }

.col-l-12 {
  width: 100%; }

@media only screen and (max-width: 1200px) {
  [class*="col-l-"] {
    width: 100%; } }
/*MEDIUM 768PX */
.col-m-1 {
  width: 8.33%; }

.col-m-2 {
  width: 16.66%; }

.col-m-3 {
  width: 25%; }

.col-m-4 {
  width: 33.33%; }

.col-m-5 {
  width: 41.66%; }

.col-m-6 {
  width: 50%; }

.col-m-7 {
  width: 58.33%; }

.col-m-8 {
  width: 66.66%; }

.col-m-9 {
  width: 75%; }

.col-m-10 {
  width: 83.33%; }

.col-m-11 {
  width: 91.66%; }

.col-m-12 {
  width: 100%; }

@media only screen and (max-width: 768px) {
  [class*="col-m-"] {
    width: 100%; } }
/*SMALL 480PX */
.col-s-1 {
  width: 8.33%; }

.col-s-2 {
  width: 16.66%; }

.col-s-3 {
  width: 25%; }

.col-s-4 {
  width: 33.33%; }

.col-s-5 {
  width: 41.66%; }

.col-s-6 {
  width: 50%; }

.col-s-7 {
  width: 58.33%; }

.col-s-8 {
  width: 66.66%; }

.col-s-9 {
  width: 75%; }

.col-s-10 {
  width: 83.33%; }

.col-s-11 {
  width: 91.66%; }

.col-s-12 {
  width: 100%; }

@media only screen and (max-width: 480px) {
  [class*="col-s-"] {
    width: 100%; } }
/*EXTRA SMALL 320PX */
.col-xs-1 {
  width: 8.33%; }

.col-xs-2 {
  width: 16.66%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33%; }

.col-xs-5 {
  width: 41.66%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33%; }

.col-xs-8 {
  width: 66.66%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33%; }

.col-xs-11 {
  width: 91.66%; }

.col-xs-12 {
  width: 100%; }

@media only screen and (max-width: 320px) {
  [class*="col-xs-"] {
    width: 100%; } }

/*# sourceMappingURL=clever.css.map */
