/*ANIMATE */
@keyframes selectionActive {
  100% {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #5a9ded; } }
@keyframes openModal {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
/*MISC THINGS */
.elementList {
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 0.5; }

#mobileDrop {
  display: none; }

@media only screen and (max-width: 786px) {
  .elementList {
    display: none; }

  #mobileDrop {
    display: block; } }
.elementList li {
  cursor: pointer;
  background-color: #5294e2;
  color: #ffffff;
  margin: 0.6em 0em;
  font-size: 18px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 2px; }
  .elementList li:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #5a9ded; }
  .elementList li a {
    padding-right: 100%;
    white-space: nowrap; }
    .elementList li a button {
      cursor: pointer;
      background-color: transparent;
      color: #ffffff;
      padding: 0;
      font-size: 16px;
      border: 0;
      font-weight: 600;
      width: 100%;
      text-align: left;
      padding: 0.6em; }
      .elementList li a button:focus {
        animation: selectionActive 0.5s forwards; }

.elementDisplay {
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  min-height: 214px;
  border-radius: 2px; }
  .elementDisplay:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  .elementDisplay article {
    padding: 0;
    margin: 0;
    box-shadow: none; }
    .elementDisplay article header {
      background-color: #2f343f;
      color: #ffffff; }
      .elementDisplay article header h3 {
        font-weight: 400; }
    .elementDisplay article h4 {
      font-weight: 400;
      color: #000000;
      margin: 16px 6px 0 6px; }

#navBarArticle {
  display: block; }

#buttonArticle, #typoArticle, #gridArticle, #formsArticle {
  display: none;
  padding-bottom: 1em; }

.code {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0.5em 0.5em;
  font-family: "Space Mono" monospace;
  font-size: 14px;
  margin: 0 16px;
  display: block;
  overflow-x: scroll; }

.demoArea {
  padding: 1em; }

.gridDemo {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.ink {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 100%;
  transform: scale(0);
  transition: all 0s; }
  .ink.animate {
    animation: ripple 0.3s linear; }

/*animation effect */
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(1.5); } }
.inkDark {
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  transform: scale(0);
  transition: all 0s; }
  .inkDark.animate {
    animation: ripple 0.5s linear; }

article .row section {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  article .row section a {
    text-align: center;
    font-size: 125%;
    text-align: center;
    width: 200px;
    margin: auto; }
  article .row section span {
    color: #5294e2;
    font-size: 50px;
    width: 100%;
    text-align: center; }

footer {
  color: rgba(255, 255, 255, 0.1); }
  footer a {
    color: rgba(255, 255, 255, 0.1); }

@media only screen and (min-width: 787px) {
  #iconArticle, #dependArticle {
    min-height: 300px; } }
.headerDecorator {
  color: #2f343f;
  font-weight: 500; }

.modal {
  display: none;
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.2); }

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  width: 768px;
  animation: openModal 0.3s;
  height: auto;
  padding: 0 0 1.75em 0;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2); }
  .modal-content article {
    height: 100%;
    box-shadow: none; }
    .modal-content article header {
      background-color: #2f343f; }
    .modal-content article p a {
      color: #5294e2;
      font-size: 110%;
      white-space: normal; }

@media only screen and (max-width: 786px) {
  .modal-content {
    margin: 20% auto;
    width: 95vw; } }
@media only screen and (max-width: 480px) {
  .modal-content {
    margin: 5% auto; } }
@media only screen and (max-width: 320px) {
  .modal-content {
    margin: 0 0;
    height: 100vh;
    width: 100vw; }
    .modal-content article {
      margin: 0 0; }
    .modal-content .buttonAction {
      transform: translateY(-900%); } }
@keyframes buttonPopIn {
  0% {
    transform: scale(0); }
  80% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
/*# sourceMappingURL=misc.css.map */

/*# sourceMappingURL=misc.css.map */
